@model ExamPortal.Web.Models.ForgotPasswordViewModel
@{
    Layout = null;
}

<div style="width: 100%; background: #013765; color: white; text-align:center ">
    <span style="font-family: 'Lato', Helvetica, Arial, sans-serif;">DPW Reset Password Request</span>
</div>
<div style="margin-top: 10px; width: 100%; font-family: 'Lato', Helvetica, Arial, sans-serif;">
    <span>To reset your password please click <a href="@System.Configuration.ConfigurationManager.AppSettings["ProjectSchedulerUrl"]/Account/ResetPassword?code=@Model.callbackUrl&Email=@Model.Email">here</a>.</span>
</div>
<span style="font-family: 'Lato', Helvetica, Arial, sans-serif;">
    If you did not request password change , please ignore this email - your password will remain unaffected.
</span>
