<!--Seal Cut Confirmation-->
<div class="modal ZoominAnimate jqueryConfrim" id="SealCutConfrimation" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="min-width:30%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="">
                    <b>{{CurrentCntr}}</b>        Seal Cut Confirmation!
                </h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <label>Door after seal cut</label>
                        <label class="imguplaoder" for="DoorAfterSeal" ng-show="Sealcut.DoorAfterSeal==''||Sealcut.DoorAfterSeal==null">
                            <input style="display:none" type="file" id="DoorAfterSeal" accept="image/*" onchange="angular.element(this).scope().SeaCutPhoto(this,'DoorAfterSeal')" class="form-control" value="" />
                            <div class="">
                                Upload photo <span class="pull-right"><i class="icon-file-upload"></i></span>
                            </div>

                        </label>
                        <div class="imguplaoder" ng-show="Sealcut.DoorAfterSeal!=''&& Sealcut.DoorAfterSeal!=null" ng-click="OpenImageView(Sealcut.DoorAfterSeal, 'SealCutConfrimation')">
                            <span><i class="icon-eye"></i></span> View photo <span ng-click="Sealcut.DoorAfterSeal=''" class="pull-right"><i class="icon-bin"></i></span>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <label>Front view of the cargo</label>
                        <label class="imguplaoder" for="CargoFront" ng-show="Sealcut.CargoFront==''||Sealcut.CargoFront==null">
                            <input style="display:none" type="file" id="CargoFront" accept="image/*" onchange="angular.element(this).scope().SeaCutPhoto(this,'CargoFront')" class="form-control" value="" />
                            <div class="">
                                Upload photo <span class="pull-right"><i class="icon-file-upload"></i></span>
                            </div>

                        </label>
                        <div class="imguplaoder" ng-show="Sealcut.CargoFront!=''&& Sealcut.CargoFront!=null" ng-click="OpenImageView(Sealcut.CargoFront, 'SealCutConfrimation')">
                            <span><i class="icon-eye"></i></span> View photo <span ng-click="Sealcut.CargoFront=''" class="pull-right"><i class="icon-bin"></i></span>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <label>Risk Type</label>
                        <select data-placeholder="Please Select Risk type" class="form-control select-clear" id="RiskTypeDD_sealcut"
                                ng-model="Sealcut.RiskType"
                                ng-disabled="currentCntrRecord.HighRiskHold"
                                required data-fouc>
                            <option></option>
                            <option value="Low">Low</option>
                            <option value="High">High</option>
                        </select>
                    </div>
                    <div class="col-md-6" ng-show="Sealcut.RiskType=='High'">
                        <label>High risk reason</label>
                        <select data-placeholder="Select high risk reason" class="form-control select-clear" id="highriskReasondd2"
                                ng-model="Sealcut.HighRiskReason"
                                ng-disabled="currentCntrRecord.HighRiskHold"
                                required data-fouc>
                            <option></option>
                            <option value="DG Cargo">DG Cargo</option>
                            <option value="Liquids">Liquids</option>
                            <option value="Heavy Cargo">Heavy Cargo</option>
                            <option value="Sensitive Cargo">Sensitive Cargo</option>
                            <option value="Marble">Marble</option>
                            <option value="Glass">Glass</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label>Handle by</label>
                        <select data-placeholder="Please select handle by" class="form-control select-clear" id="HandlebyDD_sealcut" ng-model="Sealcut.Handleby" required data-fouc>
                            <option></option>
                            <option value="Forklift">Forklift</option>
                            <option value="Labor">Labor</option>
                            <option value="Mobilecrane">Mobilecrane</option>
                        </select>
                    </div>
                    <div class="col-md-6" ng-show="Sealcut.Handleby=='Labor'">
                        <label>Labor handling</label>
                        <select data-placeholder="Please select labor handling" class="form-control select-clear" id="laborhandlingDD2" ng-model="Sealcut.LaborHandling" required data-fouc>
                            <option></option>
                            <option value="Labor">Labor</option>
                            <option value="Labor Machine">Labor Machine</option>
                            <option value="Labor Car">Labor Car</option>
                            <option value="Hybrid">Hybrid</option>
                            <option value="Labor + Forklift">Labor + Forklift</option>
                        </select>
                    </div>
                    <div class="col-md-6 " ng-show="Sealcut.Handleby=='Forklift'">
                        <label class="Starick">Forklift type</label>
                        <select data-placeholder="Please Select forklift type" class="form-control select-clear" id="SCut_ForkliftutilizedDD" ng-model="Sealcut.forklifttype" required data-fouc>
                            <option></option>
                            <option ng-repeat="item in ForkLiftTypeList" value="{{item.Type}}">{{item.Type}}</option>
                            @*<option value="No attachment">No attachment</option>
                            <option value="Push pull">Push pull</option>
                            <option value="Clamp">Clamp</option>
                            <option value="Boom">Boom</option>
                            <option value="Forklift JIB">Forklift JIB</option>
                            <option value="Forklift Shovel">Forklift Shovel</option>
                            <option value="Forklift 5TON">Forklift 5TON</option>
                            <option value="Forklift 12TON">Forklift 12TON</option>*@
                        </select>
                    </div>
                </div>


            </div>
            <div class="modal-footer" style=" padding: 9px; ">
                <button class="btn btn-primary" ng-click="ApplySealCut(Sealcut)">Submit</button>
                <button class="btn btn-reset" ng-click="CloseSealCut()">Close</button>
            </div>
        </div>
    </div>
</div>
<!--Update Seal Cut Confirmation-->
<div class="modal ZoominAnimate jqueryConfrim" id="UpdateSealCut" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="min-width:30%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="">
                    <b>{{CurrentCntr}}</b> Seal Cut Info!
                </h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <label>Door after seal cut</label>
                        <label class="imguplaoder" for="EditDoorAfterSeal" ng-show="UpdateSealcut.DoorAfterSeal==''||UpdateSealcut.DoorAfterSeal==null">
                            <input style="display:none" type="file" id="EditDoorAfterSeal" accept="image/*" onchange="angular.element(this).scope().SeaCutPhotoEdit(this,'EditDoorAfterSeal')" class="form-control" value="" />
                            <div class="">
                                Upload photo <span class="pull-right"><i class="icon-file-upload"></i></span>
                            </div>
                        </label>
                        <div class="imguplaoder" ng-show="UpdateSealcut.DoorAfterSeal!=''&& UpdateSealcut.DoorAfterSeal!=null">
                            <a style=" text-decoration: none; color: inherit;" href="{{UpdateSealcut.DoorAfterSeal}}" target="_blank"> <span><i class="icon-eye"></i></span> View photo</a> <span ng-click="UpdateSealcut.DoorAfterSeal=''" class="pull-right"><i class="icon-bin"></i></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>Front view of the cargo</label>
                        <label class="imguplaoder" for="EditCargoFront" ng-show="UpdateSealcut.CargoFront==''||UpdateSealcut.CargoFront==null">
                            <input style="display:none" type="file" id="EditCargoFront" accept="image/*" onchange="angular.element(this).scope().SeaCutPhotoEdit(this,'EditCargoFront')" class="form-control" value="" />
                            <div class="">
                                Upload photo <span class="pull-right"><i class="icon-file-upload"></i></span>
                            </div>
                        </label>
                        <div class="imguplaoder" ng-show="UpdateSealcut.CargoFront!=''&& UpdateSealcut.CargoFront!=null">
                            <a style=" text-decoration: none; color: inherit;" href="{{UpdateSealcut.CargoFront}}" target="_blank"> <span><i class="icon-eye"></i></span> View photo</a> <span ng-click="UpdateSealcut.CargoFront=''" class="pull-right"><i class="icon-bin"></i></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>Risk Type</label>
                        <select data-placeholder="Please Select Risk type" class="form-control select-clear" id="RiskTypeDD22"
                                ng-model="UpdateSealcut.RiskType"
                                required data-fouc>
                            <option></option>
                            <option value="Low">Low</option>
                            <option value="High">High</option>
                        </select>
                    </div>
                    <div class="col-md-6" ng-show="UpdateSealcut.RiskType=='High'">
                        <label>High risk reason</label>
                        <select data-placeholder="Select high risk reason" class="form-control select-clear" id="highriskReasondd"
                                ng-model="UpdateSealcut.HighRiskReason"
                                required data-fouc>
                            <option></option>
                            <option value="DG Cargo">DG Cargo</option>
                            <option value="Liquids">Liquids</option>
                            <option value="Heavy Cargo">Heavy Cargo</option>
                            <option value="Sensitive Cargo">Sensitive Cargo</option>
                            <option value="Marble">Marble</option>
                            <option value="Glass">Glass</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label>Handle by</label>
                        <select data-placeholder="Please select handle by" class="form-control select-clear" id="HandlebyDD" ng-model="UpdateSealcut.Handleby" required data-fouc>
                            <option></option>
                            <option value="Forklift">Forklift</option>
                            <option value="Labor">Labor</option>
                            <option value="Mobilecrane">Mobilecrane</option>
                        </select>
                    </div>

                    <div class="col-md-6" ng-show="UpdateSealcut.Handleby=='Labor'">
                        <label>Labor handling</label>
                        <select data-placeholder="Please select labor handling" class="form-control select-clear" id="laborhandlingDD" ng-model="UpdateSealcut.LaborHandling" required data-fouc>
                            <option></option>
                            <option value="Labor">Labor</option>
                            <option value="Labor Machine">Labor Machine</option>
                            <option value="Labor Car">Labor Car</option>
                            <option value="Hybrid">Hybrid</option>
                            <option value="Labor + Forklift">Labor + Forklift</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 " ng-show="UpdateSealcut.Handleby=='Forklift'">
                    <label class="Starick">Forklift type</label>
                    <select data-placeholder="Please Select forklift type" class="form-control select-clear" id="SC_ForkliftutilizedDD" ng-model="UpdateSealcut.forklifttype" required data-fouc>
                        <option></option>
                        <option ng-repeat="item in ForkLiftTypeList" value="{{item.Type}}">{{item.Type}}</option>
                        @*<option value="No attachment">No attachment</option>
                        <option value="Push pull">Push pull</option>
                        <option value="Clamp">Clamp</option>
                        <option value="Boom">Boom</option>
                        <option value="Forklift JIB">Forklift JIB</option>
                        <option value="Forklift Shovel">Forklift Shovel</option>
                        <option value="Forklift 5TON">Forklift 5TON</option>
                        <option value="Forklift 12TON">Forklift 12TON</option>*@
                    </select>
                </div>
            </div>
            <div class="modal-footer" style=" padding: 9px; ">
                <button class="btn btn-primary" ng-click="UpdateSealPhoto(UpdateSealcut)">Submit</button>
                <button class="btn btn-reset" ng-click="CloseUpdateSealPhoto()">Close</button>
            </div>
        </div>
    </div>
</div>


<!--Cargo Strip Confirmation-->
<div class="modal ZoominAnimate jqueryConfrim" id="cargostripConfrimation" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="min-width:30%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="">
                    <b>{{CurrentCntr}}</b>  Cargo Strip Confirmation!
                </h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <label class="Starick">Container location</label>
                        <input type="text" ng-model="CargoStrip.location" ng-disabled="Cargostuffed.approvalRequired == true" class="form-control" value="" />
                    </div>
                    <div class="col-md-6" ng-show="CurrentBlockFilter!='LA'">
                        <label>Stripped by</label><br />
                        <div class="iconsDev">
                            <img src="/Content/images/ForkLift.png" ng-click="SetForkliftAction($event,'ForkLift','CargoStrip','StripAction')" class="iconDevimgs greyscale" title="ForkLift" />
                        </div>
                        <div class="iconsDev">
                            <img src="/Content/images/LabourIcon.png" ng-click="SetForkliftAction($event,'Labour','CargoStrip','StripAction')" class="iconDevimgs greyscale" title="Labour" />
                        </div>
                        <div class="iconsDev">
                            <img src="/Content/images/MobileCrane.png" ng-click="SetForkliftAction($event,'MobileCrane','CargoStrip','StripAction')" class="iconDevimgs greyscale" title="Mobile Crane" />
                        </div>
                        <div class="iconsDev">
                            <img src="/Content/images/NotAllowedIcon.png" ng-click="SetForkliftAction($event,'NoStrip','CargoStrip','StripAction')" class="iconDevimgs greyscale" title="No Strip" />
                        </div>
                    </div>
                    <div class="col-md-6" ng-show="CargoStrip.StripAction=='Labour' && CurrentBlockFilter=='LA'">
                        @*v5.8.1*@
                        <label>Labor handling</label>
                        <select disabled class="form-control select-clear" id="laborhandlingstrip2" ng-model="CargoStrip.LaborHandling" required data-fouc>

                            <option value="Labor">Labor</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-2" ng-show="CargoStrip.StripAction=='ForkLift'">
                        <label class="Starick">Forklift type</label>
                        <select data-placeholder="Please Select forklift type" class="form-control select-clear" id="ForkliftutilizedDD" ng-model="CargoStrip.forklifttype" required data-fouc>
                            <option></option>
                            <option ng-repeat="item in ForkLiftTypeList" value="{{item.Type}}">{{item.Type}}</option>
                            @*<option value="No attachment">No attachment</option>
                <option value="Push pull">Push pull</option>
                <option value="Clamp">Clamp</option>
                <option value="Boom">Boom</option>
                <option value="Forklift JIB">Forklift JIB</option>
                <option value="Forklift Shovel">Forklift Shovel</option>
                <option value="Forklift 5TON">Forklift 5TON</option>
                <option value="Forklift 12TON">Forklift 12TON</option>*@
                        </select>
                    </div>
                    <div class="col-md-6 mt-2" ng-show="CargoStrip.StripAction=='Labour' && CurrentBlockFilter!='LA'">
                        @*v5.8.1*@
                        <label>Labor handling</label>
                        <select  data-placeholder="Please select labor handling" class="form-control select-clear" id="laborhandlingstrip" ng-model="CargoStrip.LaborHandling" required data-fouc>
                            <option ></option>
                            <option value="Labor">Labor</option>
                            <option value="Labor Machine">Labor Machine</option>
                            <option value="Labor Car">Labor Car</option>
                            <option value="Hybrid">Hybrid</option>
                            <option value="Labor + Forklift">Labor + Forklift</option>
                        </select>
                    </div>
                   
                    <div class="col-md-6 mt-2">
                        <label class="Starick">Strip%</label>
                        <select data-placeholder="Please Select Strip Percentage" class="form-control select-clear" id="StripPerDD" ng-model="CargoStrip.StripPercentage" required data-fouc>
                            <option></option>
                            <option value="0">0</option>
                            <option value="15">15</option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>

                    <div class="col-md-6 mt-2" ng-show="!stringNullorEmpty(CargoStrip.StripAction) && CargoStrip.StripAction != 'NoStrip'">
                        <label class="Starick">Contractor</label>
                        <select ng-disabled="CurrentBlockFilter == 'LA' || CargoStrip.approvalRequired == true" ng-change="GetContractorMember(CargoStrip.Contractor,CargoStrip.StripAction)" data-placeholder="Please Select Contractor" class="form-control select-clear" id="ContractorDD" ng-model="CargoStrip.Contractor" required data-fouc>
                            <option></option>
                            <option ng-repeat="contrct in ContractorList" ng-selected="contrct == CargoStrip.Contractor" value="{{contrct}}">{{contrct}}</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <div class="col-md-6 mt-2" ng-show="!stringNullorEmpty(CargoStrip.Contractor) && GetContractorNameinlower(CargoStrip.Contractor)!= 'other' && CurrentBlockFilter != 'LA'">
                        <label>Labor</label>
                        <select ng-model="CargoStrip.StripRepackLaborList" data-placeholder="Please Select labor" multiple class="form-control select-clear" id="ContractormemeberDD" required data-fouc>
                            <option></option>
                            <option ng-repeat="mem in ContractorMember" ng-value="mem.EmpId">{{mem.EmpId}} - {{mem.EmpName}}</option>
                        </select>
                    </div>
                    <div class="col-md-6" ng-show="!stringNullorEmpty(CargoStrip.Contractor) && GetContractorNameinlower(CargoStrip.Contractor)!= 'other' && CurrentBlockFilter == 'LA'">
                        <label>Labor</label>
                        <ul ng-show="CurrentBlockFilter == 'LA'" >
                            <li ng-repeat="x in LALabors">{{x.EmpId}}-{{x.EmpName}}</li>
                        </ul>
                    </div>
                    <div class="col-md-6 mt-2" ng-show="!stringNullorEmpty(CargoStrip.Contractor) && GetContractorNameinlower(CargoStrip.Contractor)== 'other'">
                        <label>Labor Id</label> <span> e.g (1001,1002)</span>
                        <input type="text" class="form-control" ng-model="CargoStrip.OtherContractor" onkeypress="return allowNumbersAndComma(event)" />
                    </div>
                </div>

                <br />
                <div class="row" ng-if="SealCutDetails != undefined && (SealCutDetails.DoorAfterSeal != null || SealCutDetails.CargoFrontView != null)">
                    <div class="col-md-6">
                        <label>Door after seal (SEAL CUT)</label>
                        <div class="imguplaoder" ng-show="SealCutDetails.DoorAfterSeal!=''&& SealCutDetails.DoorAfterSeal!=null">
                            <a style=" text-decoration: none; color: inherit;" href="#" ng-click="OpenImageView(SealCutDetails.DoorAfterSeal,'cargostripConfrimation')">
                                <span><i class="icon-eye"></i></span> View photo
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>Cargo front view (SEAL CUT)</label>
                        <div class="imguplaoder" ng-show="SealCutDetails.CargoFrontView!=''&& SealCutDetails.CargoFrontView!=null">
                            <a style=" text-decoration: none; color: inherit;" ng-click="OpenImageView(SealCutDetails.CargoFrontView,'cargostripConfrimation')" href="#">
                                <span><i class="icon-eye"></i></span> View photo
                            </a>
                        </div>
                    </div>
                </div>
                <div class="LCL_strip_container" ng-if="CurrentCntrFreight_kind == 'LCL'">
                    <div class="LCL_strip_card_grid">
                        <div class="LCL_strip_card" ng-repeat="x in LCL_BL_List_eventbase">
                            <input type="checkbox" id="check_{{$index}}" class="LCL_strip_toggle_input" hidden>

                            <label for="check_{{$index}}" class="LCL_strip_card_header">
                                <div class="LCL_strip_header_content">
                                    <span class="LCL_strip_bl_label">B/L Number</span>
                                    <h3 class="LCL_strip_bl_number">{{x.bl_nbr}}</h3>
                                </div>
                                <div class="LCL_strip_arrow">
                                    <i class="icon-chevron-down"></i>
                                </div>
                            </label>

                            <div class="LCL_strip_card_body">
                                <div class="LCL_strip_photo_section">
                                    <div class="LCL_strip_photo_item" ng-repeat="y in x.Cargo_Photo_List">
                                        <div class="LCL_strip_photo_info">
                                            <span class="LCL_strip_label_text">{{y.Label}}</span>
                                            <button class="LCL_strip_view_btn" title="View Image" ng-click="OpenImageView(y.Url,'cargostripConfrimation')">
                                                <i class="icon-eye"></i> View
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="LCL_strip_card_footer">
                                    <div class="LCL_strip_meta_item">
                                        <i class="icon-user"></i>
                                        <div>
                                            <small>Recorded by</small>
                                            <p>{{x.Cargo_Photo_List[0].createdby || 'N/A'}}</p>
                                        </div>
                                    </div>
                                    <div class="LCL_strip_meta_item">
                                        <i class="icon-clock"></i>
                                        <div>
                                            <small>Recorded at</small>
                                            <p>{{x.Cargo_Photo_List[0].createdAt | date:'dd/MM/yyyy HH:mm:ss'}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="!stringNullorEmpty(CargoStrip.Contractor) || CargoStrip.StripAction == 'NoStrip'">
                    <!--V5.8-->
                    <div class="col-md-12">
                        <ul class="Damage_Images">
                            <li ng-repeat="x in CargoStrip.PhotoLibrary">
                                <b>{{x.Label}}<span ng-if="x.required" class="Starick"></span> </b>
                                <div class="Icon" ng-show="x.Url==null || x.Url==''">
                                    <span title="Open Camera" ng-click="OpenCam($index,'CargoStrip')"><i class="icon-camera"></i></span>
                                    <label title="Upload Image" style="margin:0px;">
                                        <span><i class="icon-images2"></i></span>
                                        <input type="file" style="display:none" accept="image/*" id="{{x.Id}}" index="{{$index}}" name="pic" accept="image/*" onchange="angular.element(this).scope().CargoStripLibraryUpload(this)">
                                    </label>
                                </div>
                                <div class="Icon" ng-show="x.Url!=null && x.Url!=''">
                                    <a title="View Image" ng-click="OpenImageView(x.Url,'cargostripConfrimation')"><span><i class="icon-eye"></i></span></a>
                                    <span title="Delete Image" ng-click="RemovePhotoFromStripLibrary($index)"><i class="icon-bin"></i></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row" ng-show=" !stringNullorEmpty(CargoStrip.Contractor) && CargoStrip.StripAction != 'MobileCrane' && CargoStrip.StripAction != 'NoStrip'">
                    <div class="col-md-12">
                        <div class="form-group mt-2 AdditionalServiceRadio">
                            <label>Additional Service</label><br />
                            <label class="switch">
                                <input type="checkbox" ng-model="ShowAdditionalService" ng-change="SetAdditionalServiceAction('CargoStrip')">
                                <span class="slider"></span>
                            </label>
                        </div>
                    </div>

                </div>
                <div class="row" ng-show="ShowAdditionalService == true && !stringNullorEmpty(CargoStrip.Contractor)">
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <div class="AdditionalServiceSection">
                            <table class="table text-center" ng-repeat="service in AdditionalServices">
                                <thead>
                                    <tr class="">
                                        <th>{{GetAdditionalService(service,'field')}}</th>
                                        <th>NUMBERS USED</th>
                                        <th>HOURS</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="row in GetAdditionalService(service,'service')">
                                        <td width="50%"><span class="pl-15">{{row.field}}</span></td>
                                        <td class="p-0" width="25%">
                                            <select ng-model="row.NumberUsed">
                                                <option ng-disabled="row.disable == true" ng-repeat="num in NumberList" value="{{num}}">{{num}}</option>
                                            </select>
                                        </td>
                                        <td class="p-0" width="25%">
                                            <select ng-model="row.HourUsed">
                                                <option ng-if="row.EventName =='MATERIAL_SUPPLY_CAR' && row.NumberUsed>0" selected value="1">1</option>
                                                <option ng-repeat="num in NumberList" ng-if="row.EventName !='MATERIAL_SUPPLY_CAR'" value="{{num}}">{{num}}</option>
                                            </select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer" style=" padding: 9px; " ng-show="CargoStrip.approvalRequired != true">
                <button class="btn btn-primary" ng-click="Applycargostrip(CargoStrip,'Approve')">Submit</button>
                <button class="btn btn-reset" ng-click="Closecargostrip()">Close</button>
            </div>
            <div class="modal-footer" style=" padding: 9px; " ng-show="CargoStrip.approvalRequired == true && !_currentUser.UserType.includes('TallyClerk')">
                <button class="btn btn-danger" ng-click="Applycargostrip(CargoStrip,'Reject')">Reject</button>
                <button class="btn btn-primary" ng-click="Applycargostrip(CargoStrip,'Approve')">Approve</button>
                <button class="btn btn-reset" ng-click="Closecargostrip()">Close</button>
            </div>
        </div>
    </div>
</div>
<!--Cargo Stuffed Confirmation-->
<!--Cargo repack 50% -->
<div class="modal ZoominAnimate jqueryConfrim" id="CargoRepack50PercentModal" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="min-width:30%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="">
                    <b>{{CurrentCntr}}</b>Upload Photo on 50% repack!
                </h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <label>Repack photo</label>
                        <label class="imguplaoder" for="RepackPhoto" ng-show="Cargorepack50Per.ContainerNumberImage==''||Cargorepack50Per.ContainerNumberImage==null">
                            <input style="display:none" type="file" id="RepackPhoto" accept="image/*" onchange="angular.element(this).scope().UploadRepack50Photo(this,'RepackPhoto')" class="form-control" value="" />
                            <div class="">
                                Upload photo <span class="pull-right"><i class="icon-file-upload"></i></span>
                            </div>

                        </label>
                        <div class="imguplaoder" ng-show="Cargorepack50Per.ContainerNumberImage!=''&& Cargorepack50Per.ContainerNumberImage!=null">
                            <a style=" text-decoration: none; color: inherit;" href="{{Cargorepack50Per.ContainerNumberImage}}" target="_blank"> <span><i class="icon-eye"></i></span> View photo</a>
                            <span ng-click="Cargorepack50Per.ContainerNumberImage=''" class="pull-right"><i class="icon-bin"></i></span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer" style=" padding: 9px; ">
                <button class="btn btn-primary" ng-click="SubmitPhoto50PerRepack(Cargorepack50Per)">Submit</button>
                <button class="btn btn-reset" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--Cargo repack 50% end -->


<div class="modal ZoominAnimate jqueryConfrim" id="cargostuffedConfrimation" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="min-width:30%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="">
                    <b>{{CurrentCntr}}</b>   Cargo Repacking Confirmation!
                </h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <label>Container location</label>
                        <input type="text" ng-model="Cargostuffed.location" ng-disabled="Cargostuffed.approvalRequired == true" class="form-control" value="" />
                    </div>
                    
                    <div class="col-md-6" ng-show="ShowForkLiftSelection && Cargostuffed.approvalRequired != true && CurrentBlockFilter!='LA'">
                        <label>Stuffed by</label><br />
                        <div class="iconsDev">
                            <img src="/Content/images/ForkLift.png" ng-click="SetForkliftAction($event,'ForkLift','Cargostuffed','StuffAction')" class="iconDevimgs greyscale" title="ForkLift" />
                        </div>
                        <div class="iconsDev">
                            <img src="/Content/images/LabourIcon.png" ng-click="SetForkliftAction($event,'Labour','Cargostuffed','StuffAction')" class="iconDevimgs greyscale" title="Labour" />
                        </div>
                        <div class="iconsDev">
                            <img src="/Content/images/MobileCrane.png" ng-click="SetForkliftAction($event,'MobileCrane','Cargostuffed','StuffAction')" class="iconDevimgs greyscale" title="Mobile Crane" />
                        </div>
                        <div class="iconsDev">
                            <img src="/Content/images/NotAllowedIcon.png" ng-click="SetForkliftAction($event,'NoRepack','Cargostuffed','StuffAction')" class="iconDevimgs greyscale" title="No Repack" />
                        </div>
                    </div>

                    @*<div class="col-md-6" ng-show="!stringNullorEmpty(Cargostuffed.StuffAction) && Cargostuffed.StuffAction != 'NoRepack'">
            <label>Contractor</label>
            <select data-placeholder="Please Select Contractor" class="form-control select-clear" ng-disabled="Cargostuffed.approvalRequired == true" id="ContractorDD2" ng-model="Cargostuffed.Contractor" required data-fouc>
                <option></option>
                <option ng-repeat="contrct in ContractorList" ng-selected="contrct == Cargostuffed.Contractor" value="{{contrct}}">{{contrct}}</option>
            </select>
        </div>*@

                    @*Other Contractor for cargo Stuff Confirmation by faizan channa Start*@
                    @*<div class="col-md-6" ng-show="!stringNullorEmpty(Cargostuffed.StuffAction) && Cargostuffed.StuffAction != 'NoRepack'">
            <label>Contractor</label>
            <select data-placeholder="Please Select Contractor" class="form-control select-clear" ng-disabled="Cargostuffed.approvalRequired == true" id="ContractorDD2" ng-model="Cargostuffed.Contractor" required data-fouc>
                <option></option>
                <option ng-repeat="contrct in ContractorList" ng-selected="contrct == Cargostuffed.Contractor" value="{{contrct}}">{{contrct}}</option>
                <option value="Other">Other</option>
            </select>
        </div>*@
                    @*Other Contractor for cargo Stuff Confirmation by faizan channa End*@


                    <div class="col-md-6" ng-show="!stringNullorEmpty(Cargostuffed.StuffAction) && Cargostuffed.StuffAction != 'NoRepack'">
                        <label class="Starick">Contractor</label>
                        <select ng-disabled="CurrentBlockFilter == 'LA' || Cargostuffed.approvalRequired == true" ng-change="GetContractorMember(Cargostuffed.Contractor,Cargostuffed.StuffAction)" data-placeholder="Please Select Contractor" class="form-control select-clear" id="ContractorDD2" ng-model="Cargostuffed.Contractor" required data-fouc>
                            <option></option>
                            <option ng-repeat="contrct in ContractorList"  ng-selected="contrct == Cargostuffed.Contractor" value="{{contrct}}">{{contrct}}</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <div class="col-md-6" ng-show="!stringNullorEmpty(Cargostuffed.Contractor) && GetContractorNameinlower(Cargostuffed.Contractor)!= 'other' && CurrentBlockFilter != 'LA'">
                        <label>Labor</label>
                        @*<span ng-if="GetContractorNameinlower(Cargostuffed.Contractor)== 'other' "
              style=" float: right; cursor: pointer; text-decoration: underline;"
              ng-click="AddExternalContractorMember(Cargostuffed.Contractor,'cargostuffedConfrimation',Cargostuffed.StuffAction)">
            Add new
        </span>*@
                        
                        <select ng-model="Cargostuffed.StripRepackLaborList" data-placeholder="Please Select labor" multiple class="form-control select-clear" id="ContractormemeberDD2" required data-fouc>
                            <option></option>
                            <option ng-repeat="mem in ContractorMember" ng-value="mem.EmpId">{{mem.EmpId}} - {{mem.EmpName}}</option>
                        </select>
                    

                    </div>
                    <div class="col-md-6" ng-show="!stringNullorEmpty(Cargostuffed.Contractor) && GetContractorNameinlower(Cargostuffed.Contractor)!= 'other' && CurrentBlockFilter == 'LA'">
                        <label>Labor</label>
                        <ul ng-show="CurrentBlockFilter == 'LA'" >
                            <li ng-repeat="x in LALabors">{{x.EmpId}}-{{x.EmpName}}</li>
                        </ul>
                    </div>
                    <div class="col-md-6 mt-2" ng-show="!stringNullorEmpty(Cargostuffed.Contractor) && GetContractorNameinlower(Cargostuffed.Contractor)== 'other'">
                        <label>Labor Id</label> <span> e.g (1001,1002)</span>
                        <input type="text" class="form-control" ng-model="Cargostuffed.OtherContractor" onkeypress="return allowNumbersAndComma(event)" />
                    </div>
                </div>
                <br />
                <div class="row" ng-show="!stringNullorEmpty(Cargostuffed.Contractor) || Cargostuffed.StuffAction == 'NoRepack'">
                    <div class="col-md-6">
                        <label>Cargo</label>
                        <label class="imguplaoder" for="StuffedCargoImage" ng-show="Cargostuffed.CargoImage==''||Cargostuffed.CargoImage==null">
                            <input style="display:none" type="file" id="StuffedCargoImage" accept="image/*" onchange="angular.element(this).scope().CargostuffedPhoto(this,'StuffedCargoImage','CargoImage')" class="form-control" value="" />
                            <div class="">
                                Upload photo <span class="pull-right"><i class="icon-file-upload"></i></span>
                            </div>

                        </label>
                        <div class="imguplaoder" ng-show="Cargostuffed.CargoImage!=''&& Cargostuffed.CargoImage!=null" ng-click="OpenImageView(Cargostuffed.CargoImage, 'cargostuffedConfrimation')">
                            <span><i class="icon-eye"></i></span> View photo <span ng-click="Cargostuffed.CargoImage=''" class="pull-right"><i class="icon-bin" ng-if="Cargostuffed.approvalRequired != true"></i></span>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <label>Container number</label>
                        <label class="imguplaoder" for="CargostuffedContainerNumberImage" ng-show="Cargostuffed.ContainerNumberImage==''||Cargostuffed.ContainerNumberImage==null">
                            <input style="display:none" type="file" id="CargostuffedContainerNumberImage" accept="image/*" onchange="angular.element(this).scope().CargostuffedPhoto(this,'CargostuffedContainerNumberImage','ContainerNumberImage')" class="form-control" value="" />
                            <div class="">
                                Upload photo <span class="pull-right"><i class="icon-file-upload"></i></span>
                            </div>

                        </label>
                        <div class="imguplaoder" ng-show="Cargostuffed.ContainerNumberImage!=''&& Cargostuffed.ContainerNumberImage!=null" ng-click="OpenImageView(Cargostuffed.ContainerNumberImage, 'cargostuffedConfrimation')">
                            <span><i class="icon-eye"></i></span> View photo <span ng-click="Cargostuffed.ContainerNumberImage=''" class="pull-right"><i class="icon-bin" ng-if="Cargostuffed.approvalRequired != true"></i></span>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="!stringNullorEmpty(Cargostuffed.Contractor)">
                    <div class="col-md-12">
                        <!-- === REPACK CHECKLIST COMPONENT === -->
                        <div class="repack-checklist">
                            <h3>Repack Verification Checklist</h3>

                            <div ng-repeat="item in Cargostuffed.RepackCheckList"
                                 class="repack-item"
                                 ng-class="{ 'required-missing': item.yesnoMandatory && item.selectedAnswer === null }">

                                <div class="repack-question">
                                    <div class="row">
                                        <div class="col-6 p-0">
                                            {{item.question}} <span ng-show="item.yesnoMandatory" style="color:#e67e22; font-weight:bold;"> *</span>
                                        </div>
                                        <div class="col-6 p-0 text-right" dir="rtl">
                                            {{item.arquestion}} <span ng-show="item.yesnoMandatory" style="color:#e67e22; font-weight:bold;"> *</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="repack-radio-group">
                                    <label class="repack-radio">
                                        <input type="radio"
                                               ng-model="item.selectedAnswer"
                                               ng-change="RepackCheckForExcessCargoReport(item)"
                                               ng-value="true">
                                        <span>Yes</span>
                                    </label>
                                    <label class="repack-radio">
                                        <input type="radio"
                                               ng-model="item.selectedAnswer"
                                               ng-value="false">
                                        <span>No</span>
                                    </label>
                                </div>

                                <span class="repack-required"
                                      ng-show="item.yesnoMandatory && item.selectedAnswer === null">
                                    This field is required
                                </span>
                            </div>

                            <div class="repack-footer">
                                All mandatory fields must be answered before submission.
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row" ng-show=" !stringNullorEmpty(Cargostuffed.Contractor) && Cargostuffed.StuffAction != 'MobileCrane' && Cargostuffed.StuffAction != 'NoRepack'">
                    <div class="col-md-12">
                        <div class="form-group AdditionalServiceRadio">
                            <label>Additional Service</label><br />
                            <label class="switch">
                                <input type="checkbox" ng-model="ShowAdditionalService" ng-change="SetAdditionalServiceAction('Cargostuffed')">
                                <span class="slider"></span>
                            </label>
                        </div>
                    </div>

                </div>

                <div class="row" ng-show="ShowAdditionalService == true || Cargostuffed.StuffAction == 'MobileCrane'">
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <div class="AdditionalServiceSection">
                            <table class="table text-center" ng-repeat="service in AdditionalServices">
                                <thead>
                                    <tr class="">
                                        <th>{{GetAdditionalService(service,'field')}}</th>
                                        <th>NUMBERS USED</th>
                                        <th>HOURS</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="row in GetAdditionalService(service,'service')">
                                        <td width="50%"><span class="pl-15">{{row.field}}</span></td>
                                        <td class="p-0" width="25%">
                                            <select ng-model="row.NumberUsed">
                                                <option ng-disabled="row.disable == true" ng-repeat="num in NumberList" value="{{num}}">{{num}}</option>
                                            </select>
                                        </td>
                                        <td class="p-0" width="25%">
                                            <select ng-model="row.HourUsed">
                                                <option ng-if="row.EventName =='MATERIAL_SUPPLY_CAR' && row.NumberUsed>0" selected value="1">1</option>
                                                <option ng-repeat="num in NumberList" ng-if="row.EventName !='MATERIAL_SUPPLY_CAR'" value="{{num}}">{{num}}</option>
                                            </select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer" style=" padding: 9px; " ng-show="Cargostuffed.approvalRequired != true">
                <button class="btn btn-primary" ng-click="Applycargostuffed(Cargostuffed,'Approve')">Submit</button>
                <button class="btn btn-reset" ng-click="Closecargostuffed()">Close</button>
            </div>
            <div class="modal-footer" style=" padding: 9px; " ng-show="Cargostuffed.approvalRequired == true && !_currentUser.UserType.includes('TallyClerk')">
                <button class="btn btn-danger" ng-click="Applycargostuffed(Cargostuffed,'Reject')">Reject</button>
                <button class="btn btn-primary" ng-click="Applycargostuffed(Cargostuffed,'Approve')">Approve</button>
                <button class="btn btn-reset" ng-click="Closecargostuffed()">Close</button>
            </div>
        </div>
    </div>
</div>
<!--Seal apply Confirmation-->
<div class="modal ZoominAnimate jqueryConfrim" id="SealApplyConfrimation" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="min-width:30%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="">
                    <b>{{CurrentCntr}}</b>  Seal apply Confirmation!
                </h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <label>Seal number</label>
                        <input type="text" ng-model="ApplySeal.number" class="form-control" value="" />
                    </div>
                    <div class="col-md-6">
                        <label>Seal photo</label>
                        <label class="imguplaoder" for="SealPhoto" ng-show="ApplySeal.sealphoto==''||ApplySeal.sealphoto==null">
                            <input style="display:none" type="file" id="SealPhoto" accept="image/*" onchange="angular.element(this).scope().ApplySealPhoto(this,'SealPhoto')" class="form-control" value="" />
                            <div class="">
                                Upload photo <span class="pull-right"><i class="icon-file-upload"></i></span>
                            </div>

                        </label>
                        <div class="imguplaoder" ng-show="ApplySeal.sealphoto!=''&& ApplySeal.sealphoto!=null">
                            <a style=" text-decoration: none; color: inherit;" href="{{ApplySeal.sealphoto}}" target="_blank"> <span><i class="icon-eye"></i></span> View photo</a> <span ng-click="ApplySeal.sealphoto=''" class="pull-right"><i class="icon-bin"></i></span>
                        </div>

                    </div>
                </div>
                <div class="col-md-12">
                    <label>Container location</label>
                    <input type="text" ng-model="ApplySeal.location" class="form-control" value="" />
                </div>

            </div>
            <div class="modal-footer" style=" padding: 9px; ">
                <button class="btn btn-primary" ng-click="ApplyRepackAndSeal(ApplySeal)">Submit</button>
                <button class="btn btn-reset" ng-click="CloseApplySeal()">Close</button>
            </div>
        </div>
    </div>
</div>



<!--CustomHold-->
<div class="modal fade" id="CutsomHoldmodel" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog " role="document" style="max-width:800px;">
        <div class="modal-content">
            <div class="CloseModalBtn" data-dismiss="modal" aria-label="Close">
                <button class="close" data-dismiss="modal" aria-label="Close"></button>
                <i class="icon-cross"></i>
            </div>
            <div class="modal-header">
                <h5 class="modal-title">Custom Holds</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4" ng-repeat="z in CutomHoldLi | orderBy :'SortNo'">
                        <label for="Hold{{$index}}" class="d-block">
                            <div ng-class="{'Active':z.Active==true}" class="evnetBox">
                                <div title="{{z.Name}}" class="EventNameTruncate" ng-show="z.Name!=null && z.Name!=''">{{z.Name}}</div>
                                <input id="Hold{{$index}}" type="checkbox" ng-click="ConfrimApplyHold(z,$index)" ng-checked="z.Active" ng-disabled="z.Active" class="eventCheckBox" style="float:right;" name="name" value="" />
                            </div>
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-12" style="text-align:center">
                        <button class="btn btn-cancel" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--CustomHold-->
<!--Scan Details-->
<div class="modal fade" id="ScanDetails" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="CloseModalBtn" data-dismiss="modal" aria-label="Close">
                <button class="close" data-dismiss="modal" aria-label="Close"></button>
                <i class="icon-cross"></i>
            </div>
            <div class="modal-header">
                <h5 class="modal-title">
                    Scan Details
                </h5>
            </div>
            <div class="modal-body">
                <table class="ScanTable">
                    <tr>
                        <th>Scan requested at</th>
                        <td>{{ScanDetails.CreatedAt |date:'dd/MM/yyyy HH:mm'}}</td>
                    </tr>
                    <tr>
                        <th>Scan requested by</th>
                        <td>{{ScanDetails.CreatedBy}}</td>
                    <tr>
                        <th>Scan status</th>
                        <td>
                            <span class="badge waitingForApprovalStatus" ng-show="ScanDetails.Status==2">Pending</span>
                            <span class="badge approvedStatus" ng-show="ScanDetails.Status==3">Approved</span>
                        </td>
                    </tr>
                </table>

            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
<!--Scan Details-->
<!--Camera-->
<div id="CamModel_small" data-backdrop="static" class="modal fade">
    <div class="modal-dialog" style=" width: 100% !important; margin: auto; max-width: 100%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="font-weight:bolder"><i style="font-size: 18px;" class="icon-inbox"></i>Camera</h5>
            </div>
            <form action="#">
                <div class="modal-body" style="text-align:center;max-height:80vh !important;">
                    <div id="my_camera" style="width:100% !important"></div>
                </div>
                <div class="modal-footer">
                    <a href=""><i class="icon-cross2 btn btn-secondary" title="Close" ng-click="cameClose()"></i></a>
                    <a href=""><i class="icon-switch2 btn btn-danger" title="Switch Camera" ng-click="SwitchCamera()"></i></a>
                    <a href=""><i class="icon-shutter btn btn-dark" title="Take Photo" ng-click="take_snapshot()"></i></a>
                    <a href=""><i class="icon-floppy-disk btn btn-success" title="Save Photo" ng-click="saveImage()"></i></a>
                </div>
            </form>
        </div>
    </div>
</div>
<!--Camera-->
<div id="modal_small_Signagure" data-backdrop="static" data-keyboard="false" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="font-weight:bolder">Signature</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12" style="text-align:center">
                        <canvas id="sig-canvas" class="sig-canvas" title="Signature" width="400" height="200"></canvas><br />
                        <button class="btn btn-secondary" id="sig-closeBtn" data-dismiss="modal">Close</button>
                        <button class="btn btn-primary" ng-click="SaveSectionSignature()" data-dismiss="modal" id="sig-submitBtn">Save </button>
                        <button class="btn btn-warning" id="sig-clearBtn">Clear Signature</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="modal ZoominAnimate jqueryConfrim" id="LCL_BL_Cargo_Photo_Modal" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="min-width:30%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="">
                    <b>{{CurrentCntr}}</b> #{{LCL_BL_obj.bl_nbr}} Cargo
                </h5>
            </div>
            <div class="modal-body">                               
                <div class="row">
                    <div class="col-md-12">
                        <ul class="Damage_Images">
                            <li ng-repeat="x in LCL_BL_obj.PhotoLibrary">
                                <b>{{x.Label}}<span ng-if="x.required" class="Starick"></span> </b>
                                <div class="Icon" ng-show="x.Url==null || x.Url==''">
                                    <span title="Open Camera" ng-click="OpenCam($index,'LCL_BL_obj')"><i class="icon-camera"></i></span>
                                    <label title="Upload Image" style="margin:0px;">
                                        <span><i class="icon-images2"></i></span>
                                        <input type="file" style="display:none" accept="image/*" id="{{x.Id}}" index="{{$index}}" name="pic" accept="image/*" onchange="angular.element(this).scope().LibraryUpload(this,'LCL_BL_obj')">
                                    </label>
                                </div>
                                <div class="Icon" ng-show="x.Url!=null && x.Url!=''">
                                    <a title="View Image" ng-click="OpenImageView(x.Url,'LCL_BL_Cargo_Photo_Modal')"><span><i class="icon-eye"></i></span></a>
                                    <span title="Delete Image" ng-click="RemovePhotoFromStripLibrary($index)"><i class="icon-bin"></i></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="modal-footer" style=" padding: 9px;">
                <button class="btn btn-primary" ng-click="UploadLCL_CargoPhoto(LCL_BL_obj)">Submit</button>
                <button class="btn btn-reset" data-dismiss="modal">Close</button>
            </div>            
        </div>
    </div>
</div>


<div class="modal ZoominAnimate jqueryConfrim" id="LCL_Bl_Detail_Model" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="min-width:30%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="">
                    #{{CurrentBL_CargoData[0].bl_nbr}} Cargo
                </h5>
            </div>
            <div class="modal-body" style=" letter-spacing: 0.8px; max-height: 500px; overflow:auto">
                <div class="row">
                    <div class="col-md-12">
                        <table class="DetailsTable">
                            <tr>
                                <th>Recorded At</th>
                                <td>{{CurrentBL_CargoData[0].createdAt | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                            </tr>
                            <tr>
                                <th>Recorded By</th>
                                <td>{{CurrentBL_CargoData[0].createdby}}</td>
                            </tr>
                            <tr ng-repeat="Libphoto in CurrentBL_CargoData track by $index">                                
                                <th>{{Libphoto.Label}}</th>
                                <td ng-show="Libphoto.Url!='Required'">
                                    <div ng-click="OpenImageView(Libphoto.Url, 'LCL_Bl_Detail_Model')" class="viewImag d-inline-block"><i class="icon-eye"></i> View </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="modal-footer" style=" padding: 9px;">
                <button class="btn btn-reset" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>