<style>
    .select2-close-mask {
        z-index: 999999999;
    }

    .select2-dropdown {
        z-index: 999999999;
    }


    @@font-face {
        font-family: 'pilatwide-black';
        src: url('../../content/dpwfont/pilatwide-black.ttf') format('truetype');
    }

    @@font-face {
        font-family: 'pilatwide-bold';
        src: url('../../content/dpwfont/pilatwide-bold.ttf') format('truetype');
    }

    @@font-face {
        font-family: 'pilatwide-heavy';
        src: url('../../content/dpwfont/pilatwide-heavy.ttf') format('truetype');
    }

    @@font-face {
        font-family: 'pilatwide-regular';
        src: url('../../content/dpwfont/pilatwide-regular.ttf') format('truetype');
    }

    @@font-face {
        font-family: 'makdessi-regular';
        src: url('../../content/dpwfont/makdessifont/makdessi-regular.ttf') format('truetype');
    }
</style>
<div>


    <!-- Add Damage--->
    <div class="modal fade d-none" id="AddDamageModel" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered " role="document">
            <div class="modal-content">
                <div class="CloseModalBtn" data-dismiss="modal" aria-label="Close">
                    <button class="close" data-dismiss="modal" aria-label="Close"></button>
                    <i class="icon-cross"></i>
                </div>
                <div class="modal-header">
                    <h5 class="modal-title">Cargo report <span ng-if="ContainerSelectedBL != null">({{ContainerSelectedBL}})</span></h5>
                </div>
                <div class="modal-body" style="max-height:500px;overflow-x:auto;">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Damage By</label><span class="required-starig">*</span>
                            <select data-placeholder="Please Select option" class="form-control select-clear" id="Occ" ng-model="Damage.Occurs" required data-fouc ng-change="SetDMGreasonDD(Damage.Occurs)">
                                <option></option>
                                <option value="Origin">Origin</option>
                                <option value="Customs">Customs Inspection</option>
                                <option value="Terminal (INCIDENT)">Terminal (INCIDENT)</option>
                                <option value="Weather">Weather</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group" ng-show="!stringNullorEmpty(Damage.Occurs) && Damage.Occurs!='Weather'">
                            <label>{{Damage.Occurs}} Reason</label><span class="required-starig">*</span>
                            <select data-placeholder="Please Select option" class="form-control select-clear" id="OccReason" ng-model="Damage.OccursReason" ng-change="Cargo_GetDeprt(Damage.OccursReason)" required data-fouc>
                                <option></option>
                                <option ng-repeat="item in ReasonDDList" value="{{item.Options}}">{{item.Options}}</option>
                            </select>
                        </div>

                        <div class="col-md-12" ng-if="!stringNullorEmpty(Damage.OccursReason)">
                            <div class="card p-2 shadow-sm w-100" style=" border-radius: 8px; background: #ffffff78;">
                                <div ng-repeat="item in SelectedDMGrsnDeparts">
                                    <div class="cursor-pointer" title="{{item.Emails}}"><b><u>{{item.ReportDepartment}}</u></b></div>
                                    <div class="depMessage" style="text-align: right; font-family: makdessi-regular">
                                        {{item.ArMessage}}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 form-group">
                            <label>Severity <span class="required-starig">*</span></label>
                            <select data-placeholder="Please Select Severity" class="form-control select-clear" id="BSSeverity" ng-model="Damage.Severity" required data-fouc>
                                <option></option>
                                <option value="MINOR">MINOR</option>
                                <option value="MAJOR">MAJOR</option>
                            </select>
                        </div>
                        <div class="col-md-6 col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label>Cargo type</label><span class="required-starig">*</span>
                                <select data-placeholder="Please Select option" class="form-control select-clear" id="Pck" ng-model="Damage.CargoType" required data-fouc>
                                    <option></option>
                                    <option value="CARTON - CT">CARTON - CT</option>
                                    <option value="PALLET - PL">PALLET - PL</option>
                                    <option value="BUNDLE - BE">BUNDLE - BE</option>
                                    <option value="PIECES - PCS">PIECES - PCS</option>
                                    <option value="PACKAGE - PKG">PACKAGE - PKG</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label>Cargo quantity</label><span class="required-starig">*</span>
                                <input type="text" class="form-control" onkeypress="return event.charCode>=48 && event.charCode<=57" ng-model="Damage.CargoQuantity" value="" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label class="Starick">Damage Images</label>
                            <ul class="Damage_Images">
                                <li ng-repeat="x in Damage.Images">
                                    <b>{{x.Label}}</b>
                                    <div class="Icon" ng-show="x.Url==null || x.Url==''">
                                        <span title="Open Camera" ng-click="OpenCam($index,'Damage')"><i class="icon-camera"></i></span>
                                        <label title="Upload Image" style="margin:0px;">
                                            <span><i class="icon-images2"></i></span>
                                            <input type="file" style="display:none" accept="image/*" id="Damg{{$index}}" index="{{$index}}" name="pic" accept="image/*" onchange="angular.element(this).scope().DamageImagesUpload(this,'Damage')">
                                        </label>

                                    </div>
                                    <div class="Icon" ng-show="x.Url!=null && x.Url!=''">
                                        <a title="View Image" ng-click="OpenImageView(x.Url,'AddDamageModel')"><span><i class="icon-eye"></i></span></a>
                                        <span title="Delete Image" ng-click="RemoveDmageImage($index,'Damage')"><i class="icon-bin"></i></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-12" style="text-align:end;">
                            <button class="btn btn-success" ng-click="SubmitDamage(Damage,true)">Save</button>
                            <button class="btn btn-cancel" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--Captured Event History-->
    <div class="modal fade d-none" id="DamagePreview" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="CloseModalBtn" ng-click="CloseDamagePreview()">
                    <i ng-click="CloseDamagePreview()" class="icon-cross"></i>
                </div>
                <div class="modal-header">
                    <h5 class="modal-title">Cargo report preview!</h5>
                </div>
                <div class="modal-body" style=" letter-spacing: 0.8px; max-height: 500px; overflow:auto">
                    <div class="row">
                        <table class="DetailsTable">
                            <tr>
                                <th>Container</th>
                                <td>{{DamagePreview.Cntr}}</td>
                            </tr>
                            <tr>
                                <th>Damage By</th>
                                <td>{{DamagePreview.Occurs}}</td>
                            </tr>
                            <tr>
                                <th>{{DamagePreview.Occurs}} Reason</th>
                                <td>{{DamagePreview.OccursReason}}</td>
                            </tr>

                            <tr>
                                <th>Severity</th>
                                <td>{{DamagePreview.Severity}}</td>
                            </tr>
                            <tr>
                                <th>Cargo type</th>
                                <td>{{DamagePreview.CargoType}}</td>
                            </tr>
                            <tr>
                                <th>Cargo quantity</th>
                                <td>{{DamagePreview.CargoQuantity}}</td>
                            </tr>

                            <tr ng-repeat="x in DamagePreview.Images">
                                <th>{{x.Label}}</th>
                                <td>
                                    <div ng-click="OpenImageView(x.Url, 'DamagePreview')" class="viewImag d-inline-block"><i class="icon-eye"></i> View </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div ng-repeat="item in SelectedDMGrsnDeparts">
                                        <div class="cursor-pointer" title="{{item.Emails}}"><b><u>{{item.ReportDepartment}}</u></b></div>
                                        <div class="depMessage" style="text-align: right; font-family: makdessi-regular">
                                            {{item.ArMessage}}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>

                    </div>

                </div>
                <div class="modal-footer" style=" padding: 9px; ">
                    <button class="btn btn-primary" ng-click="SubmitDamage(DamagePreview,false)" data-dismiss="modal">Confirm</button>
                    <button class="btn btn-reset" ng-click="CloseDamagePreview()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <!--Captured Event History end-->
    <!-- Add Damage end--->
    <!--Add BadStowage--->
    <div class="modal fade" id="AddBadStowageModel" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="CloseModalBtn" data-dismiss="modal" aria-label="Close">
                    <button class="close" data-dismiss="modal" aria-label="Close"></button>
                    <i class="icon-cross"></i>
                </div>
                <div class="modal-header">
                    <h5 class="modal-title">Report Bad Stowage</h5>
                </div>
                <div class="modal-body" style="max-height:500px;overflow-x:auto;">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Stripping Percentage</label><span class="required-starig">*</span>
                            <select data-placeholder="Please Select Stripping Percentage" class="form-control select-clear" id="BSOcc" ng-model="BadStowage.StrippingPercentage" required data-fouc>
                                <option></option>
                                <option value="15">15</option>
                                <option value="30">30</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                        <div class="col-md-12">
                            <label class="Starick">Bad Stowage Images</label>
                            <ul class="Damage_Images">
                                <li ng-repeat="x in BadStowage.Images">
                                    <b>{{x.Label}}</b>
                                    <div class="Icon" ng-show="x.Url==null || x.Url==''">
                                        <span title="Open Camera" ng-click="OpenCam($index,'BadStowage')"><i class="icon-camera"></i></span>
                                        <label title="Upload Image" style="margin:0px;">
                                            <span><i class="icon-images2"></i></span>
                                            <input type="file" style="display:none" accept="image/*" id="Stowgae{{$index}}" index="{{$index}}" name="pic" accept="image/*" onchange="angular.element(this).scope().DamageImagesUpload(this,'BadStowage')">
                                        </label>

                                    </div>
                                    <div class="Icon" ng-show="x.Url!=null && x.Url!=''">
                                        <a title="View Image" ng-click="OpenImageView(x.Url,'AddBadStowageModel')"><span><i class="icon-eye"></i></span></a>
                                        <span title="Delete Image" ng-click="RemoveDmageImage($index,'BadStowage')"><i class="icon-bin"></i></span>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-12" style="text-align:end;">
                            <button class="btn btn-success" ng-click="SubmitBadStowage(BadStowage)">Save</button>
                            <button class="btn btn-cancel" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Add BadStowage end--->
    <!--Add Request Technician-->
    <div class="modal fade" id="AddRequestTechnicianModel" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="CloseModalBtn" data-dismiss="modal" aria-label="Close">
                    <button class="close" data-dismiss="modal" aria-label="Close"></button>
                    <i class="icon-cross"></i>
                </div>
                <div class="modal-header">
                    <h5 class="modal-title">Request Technician <span ng-if="ContainerSelectedBL != null">({{ContainerSelectedBL}})</span></h5>
                </div>
                <div class="modal-body" style="max-height:500px;overflow-x:auto;">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label>Remarks</label>
                            <textarea class="form-control" ng-model="RequestTechnician.Remarks" rows="3"></textarea>
                        </div>
                        <div class="col-md-12">
                            <label class="Starick">Request Technician Images</label>
                            <ul class="Damage_Images">
                                <li ng-repeat="x in RequestTechnician.Images">
                                    <b>{{x.Label}}</b>
                                    <div class="Icon" ng-show="x.Url==null || x.Url==''">
                                        <span title="Open Camera" ng-click="OpenCam($index,'RequestTechnician')"><i class="icon-camera"></i></span>
                                        <label title="Upload Image" style="margin:0px;">
                                            <span><i class="icon-images2"></i></span>
                                            <input type="file" style="display:none" accept="image/*" id="RequestTechnician{{$index}}" index="{{$index}}" name="pic" accept="image/*" onchange="angular.element(this).scope().DamageImagesUpload(this,'RequestTechnician')">
                                        </label>

                                    </div>
                                    <div class="Icon" ng-show="x.Url!=null && x.Url!=''">
                                        <a title="View Image" ng-click="OpenImageView(x.Url,'AddRequestTechnicianModel')"><span><i class="icon-eye"></i></span></a>
                                        <span title="Delete Image" ng-click="RemoveDmageImage($index,'RequestTechnician')"><i class="icon-bin"></i></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-12" style="text-align:end;">
                            <button class="btn btn-success" ng-click="SubmitRequestTechnician(RequestTechnician)">Save</button>
                            <button class="btn btn-cancel" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Add Request Technician end-->
    <!--Add Diffcult to Strip-->
    <div class="modal fade" id="AddDiffcultStripModel" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="CloseModalBtn" data-dismiss="modal" aria-label="Close">
                    <button class="close" data-dismiss="modal" aria-label="Close"></button>
                    <i class="icon-cross"></i>
                </div>
                <div class="modal-header">
                    <h5 class="modal-title">Difficult to strip <span ng-if="ContainerSelectedBL != null">({{ContainerSelectedBL}})</span></h5>
                </div>
                <div class="modal-body" style="max-height:500px;overflow-x:auto;">
                    <div class="col-md-6 form-group">
                        <label>Container</label>
                        <input type="text" ng-model="DifStrip.Cntr" class="form-control" readonly />
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Stripping Percentage</label><span class="required-starig">*</span>
                        <select data-placeholder="Please Select Stripping Percentage" class="form-control select-clear" id="DFOcc" ng-model="DifStrip.StrippingPercentage" required data-fouc>
                            <option></option>
                            <option value="15">15</option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                    <div class="col-md-12">
                        <label class="Starick">Difficult to strip Images</label>
                        <ul class="Damage_Images">
                            <li ng-repeat="x in DifStrip.Images">
                                <b>{{x.Label}}</b>
                                <div class="Icon" ng-show="x.Url==null || x.Url==''">
                                    <span title="Open Camera" ng-click="OpenCam($index,'DifStrip')"><i class="icon-camera"></i></span>
                                    <label title="Upload Image" style="margin:0px;">
                                        <span><i class="icon-images2"></i></span>
                                        <input type="file" style="display:none" accept="image/*" id="DifStrip{{$index}}" index="{{$index}}" name="pic" accept="image/*" onchange="angular.element(this).scope().DamageImagesUpload(this,'DifStrip')">
                                    </label>

                                </div>
                                <div class="Icon" ng-show="x.Url!=null && x.Url!=''">
                                    <a title="View Image" ng-click="OpenImageView(x.Url,'AddDiffcultStripModel')"><span><i class="icon-eye"></i></span></a>
                                    <span title="Delete Image" ng-click="RemoveDmageImage($index,'DifStrip')"><i class="icon-bin"></i></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-12" style="text-align:end;">
                            <button class="btn btn-success" ng-click="SubmitDiffcultStrip(DifStrip)">Save</button>
                            <button class="btn btn-cancel" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--Add Diffcult to Strip end-->
    <!--Execss Cargo Report-->
    <div class="modal fade" id="ReportExcessCargoModal" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered " role="document">
            <div class="modal-content">
                <div class="CloseModalBtn" data-dismiss="modal" aria-label="Close">
                    <button class="close" data-dismiss="modal" aria-label="Close"></button>
                    <i class="icon-cross"></i>
                </div>
                <div class="modal-header">
                    <h5 class="modal-title">Report excess cargo  <span ng-if="ContainerSelectedBL != null">({{ContainerSelectedBL}})</span></h5>
                </div>
                <div class="modal-body">
                    <div class="row" ng-show="!ShowSignaturediv">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Container</label><span class="text-danger">*</span>
                                <input type="text" ng-model="Ecargo.Cntr" ng-keyup="GetBrokerDetails(Ecargo.Cntr)" class="form-control" value="" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Container Location</label>
                                <input type="text" readonly ng-model="Ecargo.Loaction" class="form-control" value="" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Broker Number</label>
                                <input type="text" ng-keyup="ValidateBroker(Ecargo.BrokerNumb)" ng-disabled="Validate.Number!=null&&Validate.Number!=''" id="BrokerNumb" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*?)\..*/g, '$1');" ng-model="Ecargo.BrokerNumb" @*ng-disabled="Ecargo.BrokerNumb!=null"*@ class="form-control" value="" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Broker  Name</label>
                                <input type="text" ng-disabled="Validate.Name!=null&&Validate.Name!=''" id="BrokerName" ng-model="Ecargo.BrokerName" @*ng-disabled="Ecargo.BrokerName!=null"*@ class="form-control" value="" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Type of Cargo</label><span class="text-danger">*</span>
                                <select ng-model="Ecargo.Type" data-placeholder="Type of Cargo" id="selectElement" class="form-control select-clear" data-fouc>
                                    <option value=""></option>
                                    <option value="CARTON - CT">CARTON - CT</option>
                                    <option value="PALLET - PL">PALLET - PL</option>
                                    <option value="BUNDLE - BE">BUNDLE - BE</option>
                                    <option value="PIECES - PCS">PIECES - PCS</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Quantity of Cargo</label><span class="text-danger">*</span>
                                <input class="form-control" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" ng-model="Ecargo.Quantity" type="text" name="name" value="" />
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Excess Cargo Reason</label><span class="text-danger">*</span>
                                <select data-placeholder="Excess Cargo reason" id="ExcessCargoreasonDD" ng-model="Ecargo.ExcessCargoReason" class="form-control select-clear" data-fouc>
                                    <option value=""></option>
                                    <option value="Goods with irregular size (loose cargo)">Goods with irregular size (loose cargo)</option>
                                    <option value="Goods removed from the packages during customs inspection">Goods removed from the packages during customs inspection</option>
                                    <option value="Goods with nonstandard packaging (shape/size)">Goods with nonstandard packaging (shape/size)</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-12 mt-4">
                            <label class="Starick">Excess Cargo Images</label>
                            <ul class="Damage_Images">
                                <li ng-repeat="x in Ecargo.Images">
                                    <b>{{x.Label}}</b>
                                    <div class="Icon" ng-show="x.Url==null || x.Url==''">
                                        <span title="Open Camera" ng-click="OpenCam($index,'Ecargo')"><i class="icon-camera"></i></span>
                                        <label title="Upload Image" style="margin:0px;">
                                            <span><i class="icon-images2"></i></span>
                                            <input type="file" style="display:none" accept="image/*" id="Ecargo{{$index}}" index="{{$index}}" name="pic" onchange="angular.element(this).scope().DamageImagesUpload(this,'Ecargo')" />
                                        </label>

                                    </div>
                                    <div class="Icon" ng-show="x.Url!=null && x.Url!=''">
                                        <a title="View Image" ng-click="OpenImageView(x.Url,'ReportExcessCargoModal')"><span><i class="icon-eye"></i></span></a>
                                        <span title="Delete Image" ng-click="RemoveDmageImage($index,'Ecargo')"><i class="icon-bin"></i></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row" ng-show="ShowSignaturediv">
                        <div class="col-md-12" style="text-align:center">
                            <canvas id="sig-canvas" class="sig-canvas" title="Signature" style=" border: 1px solid #c3bdbd;"></canvas><br />
                            <button class="btn btn-secondary" id="sig-closeBtn" ng-click="showsignatureform(false)">Cancel</button>
                            <button class="btn btn-primary" ng-click="SaveSectionSignature()" id="sig-submitBtn">Save </button>
                            <button class="btn btn-cancel" id="sig-clearBtn">Clear</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <div class="AdditionalServiceSection">
                                <table class="table text-center" ng-repeat="service in AdditionalServices">
                                    <thead>
                                        <tr class="">
                                            <th>{{GetAdditionalService(service,'field')}}</th>
                                            <th>NUMBERS USED</th>
                                            <th>HOURS</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="row in GetAdditionalService(service,'service')">
                                            <td width="50%"><span class="pl-15">{{row.field}}</span></td>
                                            <td class="p-0" width="25%">
                                                <select ng-model="row.NumberUsed">
                                                    <option ng-disabled="row.disable == true" ng-repeat="num in NumberList" value="{{num}}">{{num}}</option>
                                                </select>
                                            </td>
                                            <td class="p-0" width="25%">
                                                <select ng-model="row.HourUsed">
                                                    <option ng-if="row.EventName =='MATERIAL_SUPPLY_CAR' && row.NumberUsed>0" ng-value="1">1</option>
                                                    <option ng-repeat="num in NumberList" ng-if="row.EventName !='MATERIAL_SUPPLY_CAR'" value="{{num}}">{{num}}</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <div class="row" ng-show="!ShowSignaturediv">
                        <div class=""></div>
                        <div class="col-lg-12">
                            <button class="btn btn-primary mr-2" ng-click="SubmitCargoForm(Ecargo)">Submit</button>
                            <button class="btn btn-cancel mr-2" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Execss Cargo Report-->
    <!--Delivery Update Modal-->
    <div class="modal fade" id="DeliveryUpdate" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="CloseModalBtn" data-dismiss="modal">
                    <button class="close" data-dismiss="modal" aria-label="Close"></button>
                    <i class="icon-cross"></i>
                </div>
                <div class="modal-header">
                    <h5 class="modal-title">Update Container Delivery  <span ng-if="ContainerSelectedBL != null">({{ContainerSelectedBL}})</span></h5>
                </div>
                <div class="modal-body">
                    <form class="was-validated" name="DeliveryForm">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Cargo truck no</label>
                                    <input type="text" ng-model="DeliveryData.CargoTruckNo" maxlength="7" required class="form-control is-invalid" value="" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label class="Starick">Delivery Images</label>
                                <ul class="Damage_Images">
                                    <li ng-repeat="x in DeliveryData.Images">
                                        <b>{{x.Label}}</b>
                                        <div class="Icon" ng-show="x.Url==null || x.Url==''">
                                            <span title="Open Camera" ng-click="OpenCam($index,'DeliveryData')"><i class="icon-camera"></i></span>
                                            <label title="Upload Image" style="margin:0px;">
                                                <span><i class="icon-images2"></i></span>
                                                <input type="file" style="display:none" accept="image/*" id="Stowgae{{$index}}" index="{{$index}}" name="pic" accept="image/*" onchange="angular.element(this).scope().DamageImagesUpload(this,'DeliveryData')">
                                            </label>
                                        </div>
                                        <div class="Icon" ng-show="x.Url!=null && x.Url!=''">
                                            <a title="View Image" ng-click="OpenImageView(x.Url,'DeliveryUpdate')"><span><i class="icon-eye"></i></span></a>
                                            <span title="Delete Image" ng-click="RemoveDeliveryImage($index)"><i class="icon-bin"></i></span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-12" style="text-align:end;">
                            <button class="btn btn-secondary" ng-disabled="DeliveryForm.$invalid" ng-click="SubmitExcessCargoDelivery()">
                                Update Delivery
                            </button>
                            <button class="btn btn-primary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Delivery Update Modal-->
    <!--Additional Service modal-->
    <div class="modal fade" id="RecordAdditionalService" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content" style="overflow:visible !important">
                <div class="CloseModalBtn" data-dismiss="modal">
                    <button class="close" data-dismiss="modal" aria-label="Close"></button>
                    <i class="icon-cross"></i>
                </div>
                <div class="modal-header">
                    <h5 class="modal-title">Additional services while inspection</h5>
                </div>
                <div class="modal-body">
                    <div class="AdditionalServiceSection">
                        <table class="table text-center" ng-repeat="service in AdditionalServices">
                            <thead>
                                <tr class="">
                                    <th>{{GetAdditionalService(service,'field')}}</th>
                                    <th>NUMBERS USED</th>
                                    <th>HOURS</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in GetAdditionalService(service,'service')">
                                    <td width="50%"><span class="pl-15">{{row.field}}</span></td>
                                    <td class="p-0" width="25%">
                                        <select ng-model="row.NumberUsed">
                                            <option ng-disabled="row.disable == true" ng-repeat="num in NumberList" value="{{num}}">{{num}}</option>
                                        </select>
                                    </td>
                                    <td class="p-0" width="25%">
                                        <select ng-model="row.HourUsed">
                                            <option ng-if="row.EventName =='MATERIAL_SUPPLY_CAR' && row.NumberUsed>0" selected value="1">1</option>
                                            <option ng-repeat="num in NumberList" ng-if="row.EventName !='MATERIAL_SUPPLY_CAR'" value="{{num}}">{{num}}</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-12" style="text-align:end;">
                            <button class="btn btn-success" ng-click="RecordAdditionalService()">
                                Record Service
                            </button>
                            <button class="btn btn-primary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Additional Service Modal end-->
    <!--Add High risk modal--->
    <div class="modal fade"  id="ReportRiskTypeModel" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="CloseModalBtn" data-dismiss="modal" aria-label="Close">
                    <button class="close" data-dismiss="modal" aria-label="Close"></button>
                    <i class="icon-cross"></i>
                </div>
                <div class="modal-header">
                    <h5 class="modal-title">#{{HighriskObj.Cntr}} Report High Risk</h5>
                </div>
                <div class="modal-body" style="max-height:400px;overflow-x:auto;">
                    <div class="row">                       
                        <div class="col-md-6">
                            <label>High risk reason</label>
                            <select data-placeholder="Select high risk reason" class="form-control select-clear" id="HR_highriskReasondd" ng-model="HighriskObj.HighRiskReason" required data-fouc>
                                <option></option>
                                <option value="DG Cargo">DG Cargo</option>
                                <option value="Liquids">Liquids</option>
                                <option value="Heavy Cargo">Heavy Cargo</option>
                                <option value="Sensitive Cargo">Sensitive Cargo</option>
                                <option value="Marble">Marble</option>
                                <option value="Glass">Glass</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12">
                            <ul class="Damage_Images">
                                <li ng-repeat="x in HighriskObj.PhotoLibrary">
                                    <b>{{x.Label}}<span ng-if="x.required" class="Starick"></span> </b>
                                    <div class="Icon" ng-show="x.Url==null || x.Url==''">
                                        <span title="Open Camera" ng-click="OpenCam($index,'HighriskObj')"><i class="icon-camera"></i></span>
                                        <label title="Upload Image" style="margin:0px;">
                                            <span><i class="icon-images2"></i></span>
                                            <input type="file" style="display:none" accept="image/*" id="{{x.Id}}" index="{{$index}}" name="pic" accept="image/*" onchange="angular.element(this).scope().LibraryUpload(this,'HighriskObj')">
                                        </label>
                                    </div>
                                    <div class="Icon" ng-show="x.Url!=null && x.Url!=''">
                                        <a title="View Image" ng-click="OpenImageView(x.Url,'ReportRiskTypeModel')"><span><i class="icon-eye"></i></span></a>
                                        <span title="Delete Image" ng-click="RemovePhotoFromLibrary($index,'ReportRiskTypeModel')"><i class="icon-bin"></i></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-12" style="text-align:end;">
                            <button class="btn btn-success" ng-click="SubmitHighRiskReport(HighriskObj)">Save</button>
                            <button class="btn btn-cancel" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Add High risk end--->
</div>

