
@{
    ViewBag.Title = "AddCustomHold";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .bootstrap-tagsinput .tag:not([class*=bg-]) {
        background-color: var( --dpw-bg-color);
        color: #fff;
    }

    .bootstrap-tagsinput {
        overflow-y: auto;
        cursor: pointer;
    }


    input[type='radio'] {
        font-size: 24px !important;
    }

    .row {
        margin: 1em 0;
    }

    .CloseModalBtn {
        background: var( --dpw-bg-color);
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 45px;
        text-decoration: none;
        font-weight: bold;
        box-shadow: 1px 1px 3px #000;
        transition: all .3s;
        height: 45px;
        border-radius: 50%;
        font-size: 25px;
        padding: 8px;
        cursor: pointer
    }

        .CloseModalBtn .fa-times-circle-o {
            color: #ffff !important;
        }

    .modal-content {
        background-color: #fff !important;
        border-radius: 16px !important;
        box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%), 0 12.5px 10px rgb(0 0 0 / 6%), 0 22.3px 17.9px rgb(0 0 0 / 7%), 0 41.8px 33.4px rgb(255 255 255 / 9%), 0 100px 80px rgb(255 255 255 / 12%);
    }

    .modal-header {
        text-align: center;
        border-bottom: none !important;
        justify-content: center !important;
    }

    .modal-title {
        color: var( --dpw-bg-color);
        font-weight: bolder !important;
        font-size: 24px;
        padding-top: 12px;
        padding-bottom: 4px;
        display: inline-block;
    }

    .modal-footer {
        border-top: none !important;
        align-content: center;
        text-align: center;
    }

    .btnSecondary {
        padding: 0px 100px;
        line-height: 30px;
        border: 1px solid var( --dpw-bg-color);
        color: var( --dpw-bg-color);
        border-radius: 5px;
        box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%), 0 12.5px 10px rgb(0 0 0 / 6%), 0 22.3px 17.9px rgb(0 0 0 / 7%), 0 41.8px 33.4px rgb(255 255 255 / 9%), 0 100px 80px rgb(255 255 255 / 12%);
    }

    .btnPrimary {
        padding: 0px 100px;
        line-height: 32px;
        border: none;
        background: var( --dpw-bg-color);
        color: white;
        border-radius: 3px;
        box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%), 0 12.5px 10px rgb(0 0 0 / 6%), 0 22.3px 17.9px rgb(0 0 0 / 7%), 0 41.8px 33.4px rgb(255 255 255 / 9%), 0 100px 80px rgb(255 255 255 / 12%);
    }

    .nowrap {
        white-space: nowrap;
    }

    .bootstrap-tagsinput input {
        width: 100% !important;
        MARGIN-TOP: 8PX;
        BACKGROUND: #ffffff;
    }

    .bootstrap-tagsinput {
        BACKGROUND: whitesmoke;
        min-height: 77PX !important;
    }

    .MasterDropDown {
        position: absolute;
        z-index: 9999999;
    }

    .CustomDropDown ul {
        padding: 10px;
    }

    .CustomDropDown {
        display: none;
        position: relative;
        top: -39px;
        left: 13px;
        z-index: 9999;
        background: #f2f2f2f7;
        padding: 0px;
        border-radius: 7px;
        border: 1px #00000026 solid;
    }

    .MasterDropDown .CustomDropDown ul li {
        list-style-type: none;
        padding: 4px;
        color: #4a4848;
        font-weight: 500;
        cursor: pointer;
    }
</style>
<div class="ng-cloak" ng-cloak ng-controller="CustomHoldCtrl" ng-init="InitIndex()">
    <br />

    <div class="page-header border-bottom-0">
        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4><i class="icon-stack-text mr-2"></i><span class="font-weight-semibold"> Custom Hold List</span></h4>
            </div>
            <div class="page-title d-flex">
                <input type="button" class="btn btn-primary  pull-right ml-2" value="Add Hold" data-bs-toggle="collapse" data-bs-target="#Events" />
                <input type="button" class="btn btn-secondary  pull-right ml-2" value="Filters" data-bs-toggle="collapse" data-bs-target="#demo" />
            </div>
        </div>
    </div><hr />


    <div class="row">
        <div class="col-md-12">
            <div class="accordain" id="Acc">
                <!-- Add from -->
                <div class="card collapse" id="Events" data-parent="#Acc">

                    <h3 class="card-header" style="background-color:var( --dpw-bg-color) !important; color:#fff; padding:10px;">
                        Add Hold
                    </h3>
                    <div class="card-body mt-3">
                        <form>
                            <div class="row">

                                <div class="col-md-3 form-group">
                                    <label class="Starick">Hold</label>
                                    <select data-placeholder="Select Hold" id="HoldDD" class="form-control select-clear" ng-model="Hold.Hold" data-fouc>
                                        <option></option>
                                        <option ng-repeat="hold in HoldList" value="{{hold}}">{{hold}}</option>
                                    </select>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label class="Starick">Hold Name</label>
                                    <input class="form-control" ng-model="Hold.DisplayName" maxlength="500" type="text" placeholder="Enter Hold Name" required>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label class="">Description</label>
                                    <input class="form-control" ng-model="Hold.Description" maxlength="500" type="text" placeholder="Enter Description" required>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label class="">
                                        Sort Order
                                    </label>
                                    <input ng-model="Hold.SortOrder" type="text" placeholder="Sort Order" onkeypress="return event.charCode>=48 && event.charCode<=57" class="form-control">
                                </div>
                                <div class="col-md-3 form-group">
                                    <label class="">
                                        Send Email
                                    </label>
                                    <br />
                                    <input ng-model="Hold.SendEmail" type="checkbox" placeholder="Sort Order">
                                </div>
                            </div>
                            <hr ng-show="Hold.SendEmail" />
                            <div class="row">
                                <div class="col-md-4 form-group" ng-show="Hold.SendEmail">
                                    <label class="Starick">
                                        Email Team
                                    </label>
                                    <select data-placeholder="Select Email" id="Emailteam" class="form-control select-clear" ng-model="Hold.EmailTeam" data-fouc>
                                        <option></option>
                                        <option value="Broker">Broker</option>
                                        <option value="Committee">Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 form-group" ng-show="Hold.SendEmail && Hold.EmailTeam=='Committee'">
                                    <label class="Starick">
                                        Other Emails
                                    </label>

                                    <input type="text" value="" id="CommiteeEmail" data-role="tagsinput" />
                                </div>
                                <div class="col-md-4 form-group" ng-show="Hold.SendEmail">
                                    <label>
                                        CC Emails
                                    </label>
                                    <input type="text" value="" id="CCEmail" data-role="tagsinput" />
                                </div>
                                <div class="col-md-4 form-group" ng-show="Hold.SendEmail">
                                    <label class="Starick">
                                        Email Message (Eng)
                                    </label>
                                    <textarea class="form-control" ng-keydown="CheckKeyword($event,'EngMes')" ng-blur="DismisKeyword('EngMes')" rows="3" ng-model="Hold.EngMessage"></textarea>
                                    <div class="MasterDropDown">
                                        <div class="CustomDropDown" id="EngMes" prop="EngMessage" Parent="Hold">
                                            <ul>
                                                <li>Container_number </li>
                                                <li>Vessel_ref </li>
                                                <li>Hold_update_time </li>
                                                <li>Updated_by </li>
                                                <li>Hold_name </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 form-group" ng-show="Hold.SendEmail">
                                    <label class="">
                                        Email Message (Ar)
                                    </label>
                                    <textarea class="form-control" ng-keydown="CheckKeyword($event,'ArMes')" ng-blur="DismisKeyword('ArMes')" rows="3" ng-model="Hold.ArMessage"></textarea>
                                    <div class="MasterDropDown">
                                        <div class="CustomDropDown" id="ArMes" prop="ArMessage" Parent="Hold">
                                            <ul>
                                                <li>Container_number </li>
                                                <li>Vessel_ref </li>
                                                <li>Hold_update_time </li>
                                                <li>Updated_by </li>
                                                <li>Hold_name </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="text-right mt-4">
                                        <button type="button" ng-click="AddHold(Hold)" class="btn btn-primary">Add Hold</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Add from -->
                <!--filter -->
                <div class="card collapse mt-2" id="demo" data-parent="#Acc">
                    <div class="card-body">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Hold</label>
                                        <input type="text" maxlength="200" min="1" class="form-control" placeholder="Search Hold  here.." ng-model="search.Hold" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Hold Name</label>
                                        <input type="text" maxlength="500" class="form-control" placeholder="Search Hold Name here.." ng-model="search.DisplayName" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Description</label>
                                        <input type="text" maxlength="200" min="1" class="form-control" placeholder="Search Description.." ng-model="search.Description" />
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Sort Order</label>
                                        <input type="text" id="myInput" maxlength="200" min="1" class="form-control" placeholder="Search SortOrder here.." ng-model="search.SortOrder" />
                                    </div>
                                </div>
                                <div class="col-md-12 mt-1 mb-2">
                                    <button class="btn btn-primary pull-right" ng-click="ClearFilter()">Clear</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!--filter -->
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="CounterCard">
                <b>Total item: </b>  <span id="counts">{{(CustomHoldlist | filter :search).length}}</span>
            </div>
        </div>
    </div>



    <!--Index Page Start--->
    <div class="row">
        <div class="card table-card scrollbar w-100">
            <table class="table datatable-show-all" id="Table">
                <thead>
                    <tr class="table-card-head">

                        <th class="nowrap">Sr#</th>
                        <th class="nowrap">Hold</th>
                        <th class="nowrap">Hold Name</th>
                        <th class="nowrap">Description</th>
                        <th class="nowrap">Send Email</th>
                        <th class="nowrap">Sort Order</th>
                        <th class="nowrap">Status</th>
                        <th class="nowrap">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in CustomHoldlist |orderBy:'SortOrder' | filter: search">

                        <td>{{$index+1}}</td>
                        <td style="text-align:left;">{{item.Hold}}</td>
                        <td style="text-align:left;">{{item.DisplayName}}</td>
                        <td style="text-align:left;">{{item.Description}}</td>
                        <td>
                            <span ng-show="item.SendEmail==true" class="badge badge-success">Active</span>
                            <span ng-show="item.SendEmail==false||item.SendEmail==null" class="badge badge-danger">InActive</span>
                        </td>
                        <td>{{item.SortOrder}}</td>
                        <td>
                            <span ng-show="item.Status==true" class="badge badge-success">Active</span>
                            <span ng-show="item.Status==false||item.Status==null" class="badge badge-danger">InActive</span>
                        </td>
                        <td>
                            <div class="list-icons">
                                <a class="list-icons-item color-gray" ng-click="EditHold(item.Id)"><i class="icon-pencil5" title="Edit Events"></i></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--Index Page End--->
    <!--Update Page Start--->
    <div data-backdrop="static" data-bs-keyboard="false" class="modal fade" id="OpenModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="CloseModalBtn" ng-click="CloseEditModal()">
                    <button class="d-none" id="CloseIMPRTID" data-bs-dismiss="modal" aria-label="Close"></button>
                    <i class="icon-cross"></i>
                </div>
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Update Custom Hold</h5>
                </div>
                <div class="modal-body" style=" letter-spacing: 0.8px; height:400px;overflow:auto;">
                    <div class="HaulierView container">
                        <div class="row FormsIcon gy-2 gx-3 align-items-center">
                            <div class="col-md-6 form-group">
                                <label>Hold</label><span class="required-starig">*</span>
                                <input type="text" ng-model="EditHoldData.Hold" placeholder="Enter Hold" class="form-control">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Hold Name</label><span class="required-starig">*</span>
                                <input type="text" ng-model="EditHoldData.DisplayName" placeholder="Enter Hold Name" class="form-control">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Description</label>
                                <input type="text" ng-model="EditHoldData.Description" placeholder="Enter Description " class="form-control">
                            </div>
                            <div class="col-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>Sort Order</label><span class="required-starig">*</span>
                                    <input type="text" ng-model="EditHoldData.SortOrder" placeholder="Sorrt Order" class="form-control">
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label class="Starick">
                                        Status
                                    </label>
                                    <select data-placeholder="Please Select Status" id="Status" class="form-control select-clear" ng-model="EditHoldData.Status" data-fouc>
                                        <option></option>
                                        <option ng-selected="EditHoldData.Status=='true'" value="true">Active</option>
                                        <option ng-selected="EditHoldData.Status!='false'" value="false">InActive</option>
                                    </select>

                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>Send Email</label><br />
                                    <input type="checkbox" ng-checked="EditHoldData.SendEmail" ng-model="EditHoldData.SendEmail" placeholder="Sorrt Order">
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-sm-12" ng-show="EditHoldData.SendEmail">
                                <hr />
                                <div class="form-group">
                                    <label class="">Email Team</label><span class="required-starig">*</span>
                                    <select data-placeholder="Select Email" id="EmailTeam2" class="form-control select-clear" ng-model="EditHoldData.EmailTeam" data-fouc>
                                        <option ng-selected="EditHoldData.EmailTeam=='Broker'" value="Broker">Broker</option>
                                        <option ng-selected="EditHoldData.EmailTeam=='Committee'" value="Committee">Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-sm-12" ng-show="EditHoldData.SendEmail && EditHoldData.EmailTeam=='Committee'">
                                <div class="form-group">
                                    <label class="Starick">
                                        Other Emails
                                    </label>
                                    <input type="text" id="CommiteeEditValue" />
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-sm-12" ng-show="EditHoldData.SendEmail">
                                <div class="form-group">
                                    <label class="">
                                        CC Emails
                                    </label>
                                    <input type="text" id="EditCCEmail" />
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-sm-12" ng-show="EditHoldData.SendEmail">
                                <div class="form-group">
                                    <label class="Starick">
                                        Email Message (Eng)
                                    </label>
                                    <textarea class="form-control" rows="3" ng-keydown="CheckKeyword($event,'EditEngMes')" ng-blur="DismisKeyword('EditEngMes')" ng-model="EditHoldData.EngMessage">{{EditHoldData.EngMessage}}</textarea>
                                    <div class="MasterDropDown">
                                        <div class="CustomDropDown" id="EditEngMes" prop="EngMessage" Parent="EditHoldData">
                                            <ul>
                                                <li>Container_number </li>
                                                <li>Vessel_ref </li>
                                                <li>Hold_update_time </li>
                                                <li>Updated_by </li>
                                                <li>Hold_name </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-sm-12" ng-show="EditHoldData.SendEmail">
                                <div class="form-group">
                                    <label class="">
                                        Email Message (Ar)
                                    </label>
                                    <textarea class="form-control" rows="3" ng-keydown="CheckKeyword($event,'EditArMes')" ng-blur="DismisKeyword('EditArMes')" ng-model="EditHoldData.ArMessege">{{EditHoldData.ArMessege}}</textarea>
                                    <div class="MasterDropDown">
                                        <div class="CustomDropDown" id="EditArMes" prop="ArMessage" Parent="EditHoldData">
                                            <ul>
                                                <li>Container_number </li>
                                                <li>Vessel_ref </li>
                                                <li>Hold_update_time </li>
                                                <li>Updated_by </li>
                                                <li>Hold_name </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>



                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row mt-2 buttonrow">
                        <div class="col-6 col-md-6 mt-4">
                            <button type="submit" class="btnSecondary" ng-click="CloseEditModal()">Cancel</button>
                        </div>
                        <div class="col-6 col-md-6 mt-4">
                            <button class="btnPrimary" ng-click="UpdateCutsomHold(EditHoldData)">Update</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Update Page End--->
</div>

