@using ExamPortal.Model.Resources
@{
    ViewBag.Title = "AddEvent";
}


<style>
    .bootstrap-tagsinput .tag:not([class*=bg-]) {
        background-color: var( --dpw-bg-color);
        color: #fff;
    }

    .bootstrap-tagsinput {
        overflow-y: auto;
        cursor: pointer;
    }


    input[type='radio'] {
        font-size: 24px !important;
    }

    .row {
        margin: 1em 0;
    }

    .CloseModalBtn {
        background: var( --dpw-bg-color);
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 45px;
        text-decoration: none;
        font-weight: bold;
        box-shadow: 1px 1px 3px #000;
        transition: all .3s;
        height: 45px;
        border-radius: 50%;
        font-size: 25px;
        padding: 8px;
        cursor: pointer
    }

        .CloseModalBtn .fa-times-circle-o {
            color: #ffff !important;
        }

    .modal-content {
        background-color: #fff !important;
        border-radius: 16px !important;
        box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%), 0 12.5px 10px rgb(0 0 0 / 6%), 0 22.3px 17.9px rgb(0 0 0 / 7%), 0 41.8px 33.4px rgb(255 255 255 / 9%), 0 100px 80px rgb(255 255 255 / 12%);
    }

    .modal-header {
        text-align: center;
        border-bottom: none !important;
        justify-content: center !important;
    }

    .modal-title {
        color: var( --dpw-bg-color);
        font-weight: bolder !important;
        font-size: 24px;
        padding-top: 12px;
        padding-bottom: 4px;
        display: inline-block;
    }

    .modal-footer {
        border-top: none !important;
        align-content: center;
        text-align: center;
    }

    .btnSecondary {
        padding: 0px 100px;
        line-height: 30px;
        border: 1px solid var( --dpw-bg-color);
        color: var( --dpw-bg-color);
        border-radius: 5px;
        box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%), 0 12.5px 10px rgb(0 0 0 / 6%), 0 22.3px 17.9px rgb(0 0 0 / 7%), 0 41.8px 33.4px rgb(255 255 255 / 9%), 0 100px 80px rgb(255 255 255 / 12%);
    }

    .btnPrimary {
        padding: 0px 100px;
        line-height: 32px;
        border: none;
        background: var( --dpw-bg-color);
        color: white;
        border-radius: 3px;
        box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%), 0 12.5px 10px rgb(0 0 0 / 6%), 0 22.3px 17.9px rgb(0 0 0 / 7%), 0 41.8px 33.4px rgb(255 255 255 / 9%), 0 100px 80px rgb(255 255 255 / 12%);
    }

    .nowrap {
        white-space: nowrap;
    }

    .bootstrap-tagsinput input {
        width: 100% !important;
        MARGIN-TOP: 8PX;
        BACKGROUND: #ffffff;
    }

    .bootstrap-tagsinput {
        BACKGROUND: whitesmoke;
        min-height: 77PX !important;
    }

    .MasterDropDown {
        position: absolute;
        z-index: 9999999;
    }

    .CustomDropDown ul {
        padding: 10px;
    }

    .CustomDropDown {
        display: none;
        position: relative;
        top: -39px;
        left: 13px;
        z-index: 9999;
        background: #f2f2f2f7;
        padding: 0px;
        border-radius: 7px;
        border: 1px #00000026 solid;
    }

    .MasterDropDown .CustomDropDown ul li {
        list-style-type: none;
        padding: 4px;
        color: #4a4848;
        font-weight: 500;
        cursor: pointer;
    }
</style>
<div class="ng-cloak" ng-cloak ng-controller="ActivityCaptureCtrl" ng-init="Addinit()">
    <br />

    <div class="page-header border-bottom-0">
        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4><i class="icon-stack-text mr-2"></i><span class="font-weight-semibold"> TOS Events List</span></h4>
            </div>
            <div class="page-title d-flex">
                <button data-toggle="collapse" data-target="#Events" class="btn btn-primary  pull-right ml-2" value="Add Event">Add Event</button>
                <input type="button" class="btn btn-secondary  pull-right ml-2" value="Filters" data-toggle="collapse" data-target="#demo" />
            </div>
        </div>
    </div>
    <hr />


    <div class="row">
        <div class="col-md-12">
            <!-- Simple list -->
            <div class="card collapse" id="Events">

                <h3 class="card-header" style="background-color:var( --dpw-bg-color) !important; color:#fff; padding:10px;">
                    Add Event
                </h3>
                <div class="card-body mt-3">
                    <form>
                        <div class="row">
                            <div class="col-md-3 form-group">
                                <label>Functionality</label><span class="required-starig">*</span>
                                <select data-placeholder="Please Select Functionality" id="Functionality" class="form-control select-clear" ng-model="Event.Functionality" data-fouc>
                                    <option></option>
                                    <option ng-repeat="E in CategoryList" value="{{E.Id}}">{{E.Category}}</option>
                                </select>
                            </div>

                            <div class="col-md-3 form-group">
                                <label>Event</label><span class="required-starig">*</span>
                                <select data-placeholder="Please Select Event" id="Vessel" class="form-control select-clear" ng-model="Event.EventId" data-fouc>
                                    <option></option>
                                    <option ng-repeat="E in EventsList" value="{{E.EventId}}">{{E.EventId}}</option>
                                </select>
                            </div>
                            <div class="col-md-3 form-group">
                                <label class="Starick">Event Name</label>
                                <input class="form-control" ng-model="Event.DisplayName" maxlength="500" type="text" placeholder="Enter Event Name" required>
                            </div>
                            <div class="col-md-3 form-group">
                                <label>Hold</label>
                                <select data-placeholder="Select Hold" id="HoldDD" class="form-control select-clear" ng-model="Event.Hold" data-fouc>
                                    <option></option>
                                    <option ng-repeat="hold in HoldList" value="{{hold}}">{{hold}}</option>
                                </select>
                            </div>

                            <div class="col-md-3 form-group">
                                <label class="Starick">
                                    Sort Order
                                </label>
                                <input ng-model="Event.SortOrder" type="text" placeholder="Sort Order" onkeypress="return event.charCode>=48 && event.charCode<=57" class="form-control">
                            </div>

                            <div class="col-md-3 form-group">
                                <label class="">
                                    Pervious Seq Event
                                </label>
                                <select data-placeholder="Please Select  Pervious Seq Event" id="Vesselss" class="form-control select-clear" ng-model="Event.DependOnEvent" data-fouc>
                                    <option></option>
                                    <option ng-repeat="E in AllEvent track by $index" value="{{E}}">{{E}}</option>
                                </select>
                            </div>
                            <div class="col-md-3 form-group">
                                <label>Additional Settings</label>
                                <div class="check-group">
                                    <input id="SendEmailss" ng-model="Event.SendEmail" type="checkbox" placeholder="Sort Order">
                                    <label class="" for="SendEmailss">
                                        Send Email
                                    </label>
                                </div>
                                <div class="check-group">
                                    <input id="FU" ng-click="GetEventUpdateData()" ng-model="Event.FieldChanges" type="checkbox" placeholder="Sort Order">
                                    <label class="" for="FU">
                                        Field Updates
                                    </label>
                                </div>
                                <div class="check-group">
                                    <input id="ReExam" ng-model="Event.IsReExam" type="checkbox">
                                    <label for="ReExam">Allow in Re-Exam</label>
                                </div>

                            </div>
                            <div class="col-md-3 form-group">
                                <label>Role Access</label>
                                <div class="check-group">
                                    <input id="TallyClerk" ng-model="Event.TallyClerkRole" type="checkbox">
                                    <label class="" for="TallyClerk">
                                        Tally Clerk
                                    </label>
                                </div>
                                <div class="check-group">
                                    <input id="ExamSuper" ng-model="Event.ExamSuperRole" type="checkbox">
                                    <label class="" for="ExamSuper">
                                        Exam Supervisor
                                    </label>
                                </div>
                                <div class="check-group">
                                    <input id="ExamOfficer" ng-model="Event.ExamOfficerRole" type="checkbox">
                                    <label class="" for="ExamOfficer">
                                        Exam Officer
                                    </label>
                                </div>
                            </div>

                            @*<div class="card col-md-3 p-0">
                                    <h3 class="card-header" style="background-color:var( --dpw-bg-color) !important; color:#fff; padding:10px;">
                                        Roles Acces
                                    </h3>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-3 col-lg-3 col-sm-4 col-sx-12 mt-2 form-group">
                                                <div class="check-group">
                                                    <input id="TallyClerk" ng-model="Event.TallyClerkRole" type="checkbox">
                                                    <label class="" for="TallyClerk">
                                                        Tally Clerk
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-lg-3 col-sm-4 col-sx-12 mt-2 form-group">
                                                <div class="check-group">
                                                    <input id="ExamSuper" ng-model="Event.ExamSuperRole" type="checkbox">
                                                    <label class="" for="ExamSuper">
                                                        Exam Supervisor
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-lg-3 col-sm-4 col-sx-12 mt-2 form-group">
                                                <div class="check-group">
                                                    <input id="ExamOfficer" ng-model="Event.ExamOfficerRole" type="checkbox">
                                                    <label class="" for="ExamOfficer">
                                                        Exam Officer
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@

                        </div>

                        <!--Event Field Update-->
                        <div class="card" ng-show="Event.FieldChanges">
                            <h3 class="card-header" style="background-color:var( --dpw-bg-color) !important; color:#fff; padding:10px;">
                                Event Field Update
                            </h3>
                            <div class="card-body mt-3">
                                <div class="row" ng-show="Event.FieldChanges">
                                    <div class="col-md-3 form-group">
                                        <label class="Starick">
                                            Table Name
                                        </label>
                                        <br />
                                        <select ng-change="GetFieldName(Event.SrvEFTable)" data-placeholder="Please Select Table Name" id="TableName" class="form-control select-clear" ng-model="Event.SrvEFTable" data-fouc>
                                            <option></option>
                                            <option ng-repeat="E in EventUpdatTable" value="{{E}}">{{E}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3 form-group" ng-show="Event.SrvEFTable!=null && Event.SrvEFTable!=''">
                                        <label class="Starick">
                                            Field Name
                                        </label>
                                        <br />
                                        <select data-placeholder="Please Select Field Name" id="FieldName" class="form-control select-clear" ng-model="Event.SrvEFFieldName" data-fouc>
                                            <option></option>
                                            <option ng-repeat="E in EventUpdatField" value="{{E}}">{{E}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3 form-group" ng-show="Event.SrvEFFieldName!=null && Event.SrvEFFieldName!=''">
                                        <label class="Starick">
                                            Field value
                                        </label>
                                        <br />
                                        <input ng-model="Event.SrvValue" class="form-control" type="text" placeholder="Field Value">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Email Settings-->
                        <div class="card" ng-show="Event.SendEmail">
                            <h3 class="card-header" style="background-color:var( --dpw-bg-color) !important; color:#fff; padding:10px;">
                                Email Settings
                            </h3>
                            <div class="card-body mt-3">
                                <div class="row">
                                    <div class="col-md-4 form-group" ng-show="Event.SendEmail">
                                        <label class="Starick">
                                            Email Team
                                        </label>
                                        <select data-placeholder="Select Email" id="Emailteam" class="form-control select-clear" ng-model="Event.EmailTeam" data-fouc>
                                            <option></option>
                                            <option value="Broker">Broker</option>
                                            <option value="Committee">Other</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 form-group" ng-show="Event.SendEmail && Event.EmailTeam=='Committee'">
                                        <label class="Starick">
                                            Other Emails
                                        </label>

                                        <input type="text" value="" id="CommiteeEmail" data-role="tagsinput" />
                                    </div>
                                    <div class="col-md-4 form-group" ng-show="Event.SendEmail">
                                        <label>
                                            CC Emails
                                        </label>
                                        <input type="text" value="" id="CCEmail" data-role="tagsinput" />
                                    </div>
                                    <div class="col-md-4 form-group" ng-show="Event.SendEmail">
                                        <label class="Starick">
                                            Email Message (Eng)
                                        </label>
                                        <textarea class="form-control" ng-keydown="CheckKeyword($event,'EngMes')" ng-blur="DismisKeyword('EngMes')" rows="3" ng-model="Event.EngMessage"></textarea>
                                        <div class="MasterDropDown">
                                            <div class="CustomDropDown" id="EngMes" prop="EngMessage" Parent="Event">
                                                <ul>
                                                    <li>Container_number </li>
                                                    <li>Container_location </li>
                                                    <li>Vessel_ref </li>
                                                    <li>Event_update_time </li>
                                                    <li>Updated_by </li>
                                                    <li>Event_name </li>
                                                    <li>Bayan_Number </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group" ng-show="Event.SendEmail">
                                        <label class="">
                                            Email Message (Ar)
                                        </label>
                                        <textarea class="form-control" ng-keydown="CheckKeyword($event,'ArMes')" ng-blur="DismisKeyword('ArMes')" rows="3" ng-model="Event.ArMessage"></textarea>
                                        <div class="MasterDropDown">
                                            <div class="CustomDropDown" id="ArMes" prop="ArMessage" Parent="Event">
                                                <ul>
                                                    <li>Container_number </li>
                                                    <li>Container_location </li>
                                                    <li>Vessel_ref </li>
                                                    <li>Event_update_time </li>
                                                    <li>Updated_by </li>
                                                    <li>Event_name </li>
                                                    <li>Bayan_Number </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-right mt-4">
                                    <button type="button" ng-click="AddEvent(Event)" class="btn btn-primary">Add Event</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--Search Filter Code Start-->
    <div class="card collapse mt-2" id="demo">
        <div class="card-body">
            <div class="col-md-12  border-bottom">
                <div class="row">
                    <div class="col-md-3 form-group">
                        <label>Select Functionality</label>
                        <select data-placeholder="Please Select Functionality" id="FunctionalityFilter" class="select-clear" ng-model="search.Functionality" data-fouc>
                            <option></option>
                            <option ng-repeat="E in CategoryList" value="{{E.Category}}">{{E.Category}}</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Event</label>
                            <input type="text" maxlength="200" min="1" class="form-control" placeholder="Search Event  here.." ng-model="search.EventsName" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Event Name</label>
                            <input type="text" maxlength="500" class="form-control" placeholder="Search Event Name here.." ng-model="search.DisplayName" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Hold</label>
                            <input type="text" maxlength="200" min="1" class="form-control" placeholder="Search hold.." ng-model="search.Hold" />
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Sort Order</label>
                            <input type="text" id="myInput" maxlength="200" min="1" class="form-control" placeholder="Search SortOrder here.." ng-model="search.SortOrder" />
                        </div>
                    </div>
                    <div class="col-md-12 mt-1 mb-2">
                        <button class="btn btn-primary pull-right mr-2 mt-3" ng-click="ClearFilter2(search)">Clear</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--Search Filter Code End-->

    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="CounterCard">
                <b>Total item: </b>  <span id="counts">{{(AllN4EventList | filter :search).length}}</span>
            </div>
        </div>
    </div>



    <!--Index Page Start--->
    <div class="row">
        <div class="card table-card scrollbar w-100">
            <table class="table datatable-show-all" id="Table">
                <thead>
                    <tr class="table-card-head">

                        <th class="nowrap">Sr#</th>
                        <th class="nowrap">Functionality</th>
                        <th class="nowrap">Event</th>
                        <th class="nowrap">Event Name</th>
                        <th class="nowrap">Send Email</th>
                        <th class="nowrap">Hold</th>
                        <th class="nowrap">Sort Order</th>
                        <th class="nowrap">Status</th>
                        <th class="nowrap">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in AllN4EventList | filter: search">

                        <td>{{$index+1}}</td>
                        <td style="text-align:left;">{{item.Functionality}}</td>
                        <td style="text-align:left;">{{item.EventsName}}</td>
                        <td style="text-align:left;">{{item.DisplayName}}</td>
                        <td>
                            <span ng-show="item.SendEmail==true" class="badge badge-success">Active</span>
                            <span ng-show="item.SendEmail==false||item.SendEmail==null" class="badge badge-danger">InActive</span>
                        </td>
                        <td style="text-align:left;">{{item.Hold}}</td>
                        <td>{{item.SortOrder}}</td>
                        <td>
                            <span ng-show="item.Status==true" class="badge badge-success">Active</span>
                            <span ng-show="item.Status==false||item.Status==null" class="badge badge-danger">InActive</span>
                        </td>
                        <td>
                            <div class="list-icons">
                                <a class="list-icons-item color-gray" ng-click="OpenN4EventEdit(item.Id)"><i class="icon-pencil5" title="Edit Events"></i></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--Index Page End--->
    <!--Update Page Start--->
    <div data-backdrop="static" data-bs-keyboard="false" class="modal fade" id="OpenModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="CloseModalBtn" ng-click="CloseManualEventModal()">
                    <button class="d-none" id="CloseIMPRTID" data-dismiss="modal" aria-label="Close"></button>
                    <i class="icon-cross"></i>
                </div>
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Update N4 Events</h5>
                </div>
                <div class="modal-body" style=" letter-spacing: 0.8px; height:400px;overflow:auto;">
                    <div class="HaulierView container">
                        <div class="row FormsIcon gy-2 gx-3 align-items-center">
                            <div class="col-md-6 form-group">
                                <label> Functionality</label><span class="required-starig">*</span>
                                <select data-placeholder="Please Select Functionality" class="form-control select-clear" ng-model="N4Event.FunctionalityId" id="EditFunc" data-fouc>
                                    <option></option>
                                    <option ng-selected="E.Id==N4Event.FunctionalityId" ng-repeat="E in CategoryList" value="{{E.Id}}">{{E.Category}}</option>
                                </select>
                            </div>

                            <div class="col-md-6 form-group">
                                <label>Event </label><span class="required-starig">*</span>
                                <select data-placeholder="Please Select Event" class="form-control select-clear" ng-model="N4Event.EventsName" id="EditEventName" data-fouc>
                                    <option></option>
                                    <option ng-selected="E.EventId==N4Event.EventsName" ng-repeat="E in EventsList" value="{{E.EventId}}">{{E.EventId}}</option>
                                </select>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Event Name</label><span class="required-starig">*</span>
                                <input type="text" ng-model="N4Event.DisplayName" placeholder="Enter Event Name" class="form-control">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Hold</label>
                                <select data-placeholder="Select Hold" id="HoldDD21" class="form-control select-clear" ng-model="N4Event.Hold" data-fouc>
                                    <option></option>
                                    <option ng-repeat="hold in HoldList" ng-selected="hold==N4Event.Hold" value="{{hold}}">{{hold}}</option>
                                </select>
                            </div>
                            <div class="col-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>Sort Order</label><span class="required-starig">*</span>
                                    <input type="text" ng-model="N4Event.SortOrder" placeholder="Sorrt Order" class="form-control">
                                </div>
                            </div>

                            <div class="col-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>Send Email</label><br />
                                    <input type="checkbox" ng-checked="N4Event.SendEmail" ng-model="N4Event.SendEmail" placeholder="Sorrt Order">
                                </div>
                            </div>
                            <div class="cards" ng-show="N4Event.SendEmail">
                                <div class="card-header" style="background-color:var( --dpw-bg-color) !important; color:#fff; padding:10px;">
                                    <b>Email Settings</b>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12 col-lg-12 col-sm-12">
                                            <div class="form-group">
                                                <label class="">Email Team</label><span class="required-starig">*</span>
                                                <select data-placeholder="Select Email" id="EmailTeam2" class="form-control select-clear" ng-model="N4Event.EmailTeam" data-fouc>
                                                    <option ng-selected="N4Event.EmailTeam=='Broker'" value="Broker">Broker</option>
                                                    <option ng-selected="N4Event.EmailTeam=='Committee'" value="Committee">Other</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-12 col-sm-12" ng-show="N4Event.SendEmail && N4Event.EmailTeam=='Committee'">
                                            <div class="form-group">
                                                <label class="Starick">
                                                    Other Emails
                                                </label>
                                                <input type="text" id="CommiteeEditValue" />
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-12 col-sm-12" ng-show="N4Event.SendEmail">
                                            <div class="form-group">
                                                <label class="">
                                                    CC Emails
                                                </label>
                                                <input type="text" id="EditCCEmail" />
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-12 col-sm-12" ng-show="N4Event.SendEmail">
                                            <div class="form-group">
                                                <label class="Starick">
                                                    Email Message (Eng)
                                                </label>
                                                <textarea class="form-control" rows="3" ng-keydown="CheckKeyword($event,'EditEngMes')" ng-blur="DismisKeyword('EditEngMes')" ng-model="N4Event.EngMessage">{{N4Event.EngMessage}}</textarea>
                                                <div class="MasterDropDown">
                                                    <div class="CustomDropDown" id="EditEngMes" prop="EngMessage" Parent="N4Event">
                                                        <ul>
                                                            <li>Container_number </li>
                                                            <li>Container_location </li>
                                                            <li>Vessel_ref </li>
                                                            <li>Event_update_time </li>
                                                            <li>Updated_by </li>
                                                            <li>Event_name </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-12 col-sm-12" ng-show="N4Event.SendEmail">
                                            <div class="form-group">
                                                <label class="">
                                                    Email Message (Ar)
                                                </label>
                                                <textarea class="form-control" rows="3" ng-keydown="CheckKeyword($event,'EditArMes')" ng-blur="DismisKeyword('EditArMes')" ng-model="N4Event.ArMessage">{{N4Event.ArMessage}}</textarea>
                                                <div class="MasterDropDown">
                                                    <div class="CustomDropDown" id="EditArMes" prop="ArMessage" Parent="N4Event">
                                                        <ul>
                                                            <li>Container_number </li>
                                                            <li>Container_location </li>
                                                            <li>Vessel_ref </li>
                                                            <li>Event_update_time </li>
                                                            <li>Updated_by </li>
                                                            <li>Event_name </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row mt-2 buttonrow">
                            <div class="col-6 col-md-6 mt-4">
                                <button type="submit" class="btnSecondary" ng-click="CloseManualEventModal()">Cancel</button>
                            </div>
                            <div class="col-6 col-md-6 mt-4">
                                <button class="btnPrimary" ng-click="UpdateN4Event(N4Event)">Update</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Update Page End--->
    </div>


</div>
