
@{
    ViewBag.Title = "CreateRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/BootsrapDatetime/bootstrap-material-datetimepicker.css" rel="stylesheet" />
<link href="~/Content/BootsrapDatetime/css.css" rel="stylesheet" />
<link href="~/Content/BootsrapDatetime/icon.css" rel="stylesheet" />
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Content/BootsrapDatetime/ripples.min.js"></script>
<script src="~/Content/BootsrapDatetime/material.min.js"></script>
<script src="~/Scripts/js/plugins/moment/moment_locales.min.js"></script>
<script src="~/Content/BootsrapDatetime/bootstrap-material-datetimepicker.js"></script>
<style>
    .icon-eye {
        font-size: 20px;
        cursor: pointer;
    }

    .ss-main .ss-multi-selected {
        min-height: 38px !important;
    }

    .ss-add {
        /*margin: auto !important;*/
        padding-right: 12px;
        font: bold;
    }

    .ss-main .ss-multi-selected .ss-values .ss-value {
        background-color: #455a64;
    }

    .dtp div.dtp-date, .dtp div.dtp-time {
        background: #01213d !important;
    }

    .dtp .p10 > a {
        color: #ffffff !important;
    }

    .dtp table.dtp-picker-days tr > td > a.selected {
        background: #01213d !important;
        color: #fff;
    }

    .dtp > .dtp-content > .dtp-date-view > header.dtp-header {
        background: #083358 !important;
    }
</style>
<div ng-controller="TabadulPCRequestCtrl" ng-init="AddInit()">
    <div class="card mt-3 shadow rounded blurbg">
        <div class="card-header">
            <h3>Create New Request</h3>
        </div>
        <div class="card-body p-3">

            <div class="row">
                <div class="col-md-3 form-group">
                    <label>Search By Container</label><span class="required-starig">*</span>
                    <input type="text" class="form-control" value="SEGU6952152" placeholder="Type Container#" ng-model="ContainerNumber" />
                </div>
                <div class="col-md-3 form-group">
                    <input type="button" class="btn btn-primary  " style="margin-top: 27px !important;" value="Search" ng-click="GetContainerList(ContainerNumber)" />
                </div>

            </div>
            <form class="was-validated" id="DataForm" name="PCREQUESTForm" ng-show="TBD !=null">

                <div class="row">
                    <div class="col-md-4 col-sm-12 form-group">
                        <label>Request type</label>
                        <select id="pcrequestTypeDD" class="form-select shadow-sm rounded" required ng-model="TBD.PcRequestType" aria-label="Default select example" ng-change="TBD.CARTONS_OF_NO=null;TBD.Recife_Name = null;TBD.newContainerMark=null;">
                            <option data-placeholder="true"></option>
                            <option value="{{x.Value}}" ng-repeat="x in RequestTypeLi">{{x.Name}}</option>
                        </select>
                        @*<select id="pcrequestTypeDD" class="form-select shadow-sm rounded" required ng-model="TBD.PcRequestType" aria-label="Default select example" ng-change="TBD.CARTONS_OF_NO=null;TBD.Recife_Name = null;TBD.newContainerMark=null;">
                                <option data-placeholder="true"></option>
                                <option value="1">Request to refill - more cartons </option>
                                <option value="2">Container replacement request </option>
                                <option value="3">Request for approval to reround a container </option>
                                <option value="4">Request for approval to unload a transshipment container’s Seal</option>
                                <option value="5">Request for permission to unload the ship </option>
                                <option value="6">Request permission to load to the ship </option>
                            </select>*@
                    </div>

                    <div class="col-md-4 col-sm-12 form-group">
                        <label>Requester Party</label>
                        <select id="requesterPartyCodeDD" class="form-select shadow-sm rounded" required ng-model="TBD.requesterPartyCode" aria-label="Default select example">
                            <option data-placeholder="true"></option>
                            <option value="{{x.Value}}" ng-repeat="x in RequestPartyLi">{{x.Name}} </option>
                            
                        </select>
                        @*<select id="requesterPartyCodeDD" class="form-select shadow-sm rounded" required ng-model="TBD.requesterPartyCode" aria-label="Default select example">
                                <option data-placeholder="true"></option>
                                <option value="1">Custom Operations Center (COC) </option>
                                <option value="2">Exemptions </option>
                                <option value="3">Ministry Of Agriculture </option>
                                <option value="4">Food and Drug Administration  </option>
                                <option value="5">Detect and Adjust   </option>
                                <option value="6">Customs Security  </option>
                                <option value="7">Commercial Fraud  </option>
                                <option value="8">Car Group  </option>
                                <option value="9">Leftover  </option>
                                <option value="10">Re-approximation of Customs Detection</option>
                                <option value="11">Direct Container Detection  </option>
                                <option value="12">X-ray suspicion  </option>
                            </select>*@
                    </div>

                    <div class="col-md-4 col-sm-12 form-group">
                        <label>Mobile No</label>
                        <input type="text" maxlength="10" required onkeypress="return event.charCode>=48 && event.charCode<=57" maxlength="13" class="form-control" ng-model="TBD.REQUESTER_MOBILE_NO" />
                    </div>

                    <input type="text" hidden required class="form-control" maxlength="500" ng-model="TBD.PC_REQUESTER_CD" />

                    <div class="col-md-3 col-sm-12 form-group" ng-if="TBD.PcRequestType == 5 || TBD.PcRequestType == 6">
                        <label>Wharf Name</label>
                        <input type="text" maxlength="100" required class="form-control" ng-model="TBD.Recife_Name" />
                    </div>

                    <div class="col-md-3 col-sm-12 form-group" ng-if="TBD.PcRequestType == 1">
                        <label>No of Cartons</label>
                        <input type="text" maxlength="2" required onkeypress="return event.charCode>=48 && event.charCode<=57" maxlength="4" class="form-control" ng-model="TBD.CARTONS_OF_NO " />
                    </div>

                    <div class="col-md-3 col-sm-12 form-group" ng-if="TBD.PcRequestType == 2">
                        <label>Replace with</label>
                        <input type="text" required class="form-control" maxlength="20" placeholder="Enter container" ng-model="TBD.newContainerMark " />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 form-group">
                        <label>Request Reason</label>
                        <textarea class="form-control" maxlength="500" @*onkeypress="lengthValidator('R_Reason',10)"*@ id="R_Reason" required ng-model="TBD.REQUEST_REASON" rows="3"></textarea>
                    </div>
                    <div class="col-md-6 col-sm-12 form-group">
                        <label>Remarks</label>
                        <textarea maxlength="500" class="form-control" required ng-model="TBD.PcRemarks" rows="3"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <input type="button" class="btn btn-success  pull-right" ng-disabled="PCREQUESTForm.$invalid" style="margin-top: 27px !important;" value="Generate request" ng-click="SaveData(TBD)" />
                    </div>
                </div>
            </form>

        </div>
    </div>

</div>

<script>

    function lengthValidator(selector, length) {
        console.log(selector, length);
        $("#" + selector).on('input', function () {
            var number = $(this).val();
            if (number.length > length) {
                var number2 = number.slice(0, length);
                $(this).val(number2);
                toastr.error('max limit ' + length + ' characters only');
                return false;
            }
        });
    };

    $('.date').bootstrapMaterialDatePicker({
        format: 'DD/MM/YYYY HH:mm',
    });
    $(document).ready(function () {
        var o = new SlimSelect({
            select: '#pcrequestTypeDD',
            placeholder: 'Select Request type',
            showSearch: true,
            allowDeselect: true,
        });
        var o = new SlimSelect({
            select: '#requesterPartyCodeDD',
            placeholder: 'Select Party',
            showSearch: true,
            allowDeselect: true,
        });
    });
</script>
