
@{
    ViewBag.Title = "ExamStatusUpdate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    button.btn.btn-primary.active {
        background: #00946b;
    }

    .Blocks {
        padding: 14px;
        box-shadow: 1px 3px 3px 1px gray;
    }

        .Blocks:hover {
            box-shadow: none;
            background: #00946b
        }

    .Cardtabs {
        width: auto !important;
        display: inline-block;
        margin: 15px;
    }

    .Absoulte {
        position: absolute;
        height: 0px;
        width: 56px;
    }

    .CountBadge {
        position: relative;
        z-index: 9999;
        color: #ffffff;
        padding: 0px 5px;
        background: #00946b;
        border-radius: 10px;
        float: right;
        bottom: 7px;
        left: 5px;
        width: fit-content;
        box-shadow: 1px 1px 5px -1px #000000cc;
    }
</style>
<div ng-controller="ActivityCaptureCtrl" ng-init="ExamStatusUpdate()" class="ng-cloak" ng-cloak>
    <div class="page-header border-bottom-0">
        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4>
                    <i class="icon-task mr-2"></i>
                    <span class="font-weight-semibold">Seal Cut</span>
                </h4>
            </div>
            <div class="page-title d-flex">
                <input type="button" class="btn btn-secondary  pull-right ml-2" value="Filters" data-bs-toggle="collapse" data-bs-target="#demo" />
                <input type="button" class="btn btn-secondary  pull-right ml-2" value="Blocks" data-bs-toggle="collapse" data-bs-target="#Block" />
            </div>
        </div>
    </div>
    <hr />
    @*<div class="row">
            <div class="col-md-12 mt-2">
                <input type="button" class="btn btn-secondary  pull-right ml-2" value="Filters" data-bs-toggle="collapse" data-bs-target="#demo" />
                <input type="button" class="btn btn-secondary  pull-right ml-2" value="Blocks" data-bs-toggle="collapse" data-bs-target="#Block" />
            </div>
        </div>*@

    <div class="card mt-2 mt-2" id="Block">
        <div class="card-header" style=" background: var( --dpw-bg-color); color: white; padding: 8px;">
            <h5 class="mt-2">Select Block</h5>
        </div>
        <div class=" card-body">
            <div class="row">

                <div class="Cardtabs" ng-repeat="B in BlocList">
                    <div class="Absoulte">
                        <div class="CountBadge">{{B.Count}}</div>
                    </div>
                    <button ng-click="GetContainerListForExamStatus(B.BlockNumber)" ng-class="{'active' : B.BlockNumber == BlockNumber }" class="btn btn-primary Blocks" value="{{B.BlockNumber}}">{{B.BlockNumber}} </button>
                </div>
            </div>
        </div>
    </div>
    <!--Search Filter Code Start-->
    <div class="card collapse mt-2" id="demo">
        <div class="card-header" style=" background: var( --dpw-bg-color); color: white; padding: 8px;">
            <h5 class="mt-2">Filters</h5>
        </div>
        <div class="card-body">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3 mt-2">
                        <div class="form-group">
                            <label>Seal Cut</label><span class="required-starig">*</span>
                            <select class="form-control select-clear" ng-model="Filter.SealCutDate" required data-fouc>
                                <option value="Apply">Applied</option>
                                <option value="NotApply">Not Applied</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-9 mt-4">
                        <button class="btn btn-primary pull-right mr-2" ng-click="SearchBlock(Filter)">Search</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--Search Filter Code End-->
    <div class="card table-card scrollbar" ng-if="ExamStatusContainerList != null && ExamStatusContainerList != '' && ExamStatusContainerList != 'undefined'">

        <table class="table datatable-show-all customers-list" id="table-id">
            <thead>
                <tr class="table-card-head" style="text-align:center;height:50px;">
                    <th>SR#</th>
                    <th>Container</th>
                    <th>Location</th>
                    <th>Insp - Type</th>
                    <th>App Shift</th>
                    <th>X-Ray Status</th>
                    <th>Dwell Hrs</th>
                    <th>Seal Cut</th>
                    @*<th>Cargo Strip</th>
                        <th>Inspection Time</th>
                        <th>Clearance Time</th>*@
                    @* <th>Custom Stage</th>*@

                </tr>
            </thead>
            <tbody>
                <tr ng-if="ShowUncapptured" ng-repeat="a in FilterSealCut(ExamStatusContainerList)" style="height:50px;">
                    <td>{{$index+1}}</td>
                    <td>{{a.id}}</td>
                    <td>{{a.last_pos_slot}}</td>
                    <td>{{a.InspectionType}}</td>
                    <td>{{a.AppShift}}</td>
                    <td>{{a.XrayStatus}}</td>
                    <td>{{a.DwellHrs}}</td>
                    <td><input id="Chk{{$index}}" ng-click="RecordEvent('SealCut',a.id,a.Unit_gkey,$index)" ng-checked="a.SealCutDate != null" ng-disabled="a.SealCutDate != null" type="checkbox" ng-model="checkbox.sealcut" /></td>
                    @*<td><input ng-click="RecordEvent('CargoStrip',a.id,a.Unit_gkey)" ng-checked="a.CargoStriptime != null" ng-disabled="a.CargoStriptime != null" type="checkbox" ng-model="checkbox.CargoStrip" /></td>
                        <td><input ng-click="RecordEvent('InspTime',a.id,a.Unit_gkey)" ng-checked="a.InspectionTime != null" ng-disabled="a.InspectionTime != null" type="checkbox" ng-model="checkbox.InspectionTime" /></td>
                        <td><input ng-click="RecordEvent('ClearanceTime',a.id,a.Unit_gkey)" ng-checked="a.ClearanceTime != null" ng-disabled="a.ClearanceTime != null" type="checkbox" ng-model="checkbox.ClearanceTime" /></td>*@
                    @*<td>{{a.CustomsStage}}</td>*@

                </tr>
                <tr ng-if="!ShowUncapptured" ng-repeat="a in ExamStatusContainerList" style="height:50px;">
                    <td>{{$index+1}}</td>
                    <td>{{a.id}}</td>
                    <td>{{a.last_pos_slot}}</td>
                    <td>{{a.DwellHrs}}</td>
                    <td><input id="Chk{{$index}}" ng-click="RecordEvent('SealCut',a.id,a.Unit_gkey,$index)" ng-checked="a.SealCutDate != null" ng-disabled="a.SealCutDate != null" type="checkbox" ng-model="checkbox.sealcut" /></td>
                    @*<td><input ng-click="RecordEvent('CargoStrip',a.id,a.Unit_gkey)" ng-checked="a.CargoStriptime != null" ng-disabled="a.CargoStriptime != null" type="checkbox" ng-model="checkbox.CargoStrip" /></td>
                        <td><input ng-click="RecordEvent('InspTime',a.id,a.Unit_gkey)" ng-checked="a.InspectionTime != null" ng-disabled="a.InspectionTime != null" type="checkbox" ng-model="checkbox.InspectionTime" /></td>
                        <td><input ng-click="RecordEvent('ClearanceTime',a.id,a.Unit_gkey)" ng-checked="a.ClearanceTime != null" ng-disabled="a.ClearanceTime != null" type="checkbox" ng-model="checkbox.ClearanceTime" /></td>*@
                    @* <td>{{a.CustomsStage}}</td>*@

                </tr>
            </tbody>
        </table>
    </div>

    <div class="row" ng-if="ExamStatusContainerList.length == 0">
        <h3>No Records Found</h3>
    </div>
</div>
<script>
    //auto referesh
    function CheckPageVersion() {
        return "ExamStatusUpdate," + "1";
    }
</script>