
@{
    ViewBag.Title = "IncidentReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .select2-close-mask {
        z-index: 999999999;
    }

    .select2-dropdown {
        z-index: 999999999;
    }

    .f-pilat-demi {
        font-family: 'Pilat Wide Demi';
    }
</style>

<link href="~/Content/ZoomInOut/ZoomInOut.css" rel="stylesheet" />
<link href="~/Content/css/ExamCSS.css" rel="stylesheet" />


<div ng-controller="IncidentReportCtrl" ng-init="IncidentReportInit()" class="ng-cloak IncidentReportPage">
    <div class="page-header border-bottom-0">
        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4>
                    <i class="icon-task mr-2"></i>
                    <span class="font-weight-semibold">Incident Report</span>
                </h4>
            </div>
            <div class="page-title d-flex">
                <button class="btn btn-primary mr-2 f-pilat-demi" ng-click="ReportNewIncident()">New <i class="icon-add"></i></button>
                <button class="btn btn-secondary pull-right f-pilat-demi" data-toggle="collapse" ng-click="RefreshSearch()" data-target="#FiltersCollapse">Filter <i class="icon-filter3"></i></button>

            </div>
        </div>
    </div>
    <hr />

    <!--Filter Section Start-->
    <div class="card collapse" id="FiltersCollapse">
        <h3 class="card-header" style="background-color:#173a64 !important; color:#fff; padding:10px;">
            Filters
        </h3>
        <div class="card-body mt-3">
            <div class="row">
                <div class="form-group col-md-3">
                    <label for="Cntr">Container#</label>
                    <input type="text" name="Cntr" placeholder="Search container#" class="form-control width-fix" ng-model="Search.Cntr" />
                </div>
                <div class="form-group col-md-3">
                    <label for="shift">Shift</label>
                    <select data-placeholder="Search shift" class="form-control select-clear" id="search_Shift" ng-model="Search.shift" required data-fouc>
                        <option></option>
                        <option value="Day">Day</option>
                        <option value="Night">Night</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label>Incident type</label>
                    <select data-placeholder="Search incident type" class="form-control select-clear" id="search_category" ng-model="Search.IncidentType" required data-fouc ng-change="search_typechangetrigger(Search.IncidentType)">
                        <option></option>
                        <option value="{{type.Type}}" ng-repeat="type in Search_TYPES">{{type.Type}}</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="SubCategory">Sub Category</label>
                    <select data-placeholder="Search sub category" class="form-control select-clear" id="search_SubCategory" ng-model="Search.SubCategory" required data-fouc ng-show="Search.IncidentType != 'Other'">
                        <option></option>
                        <option value="{{sub}}" ng-repeat="sub in Search_SubCategoryList">{{sub}}</option>
                    </select>
                    <input type="text" maxlength="100" ng-model="search.SubCategory" required class="form-control" ng-show="Search.IncidentType == 'Other'" />
                </div>
                <div class="form-group col-md-3">
                    <label>Contractor</label>
                    <select data-placeholder="Search contractor" class="form-control select-clear" id="search_contractor" ng-model="Search.Contractor" required data-fouc>
                        <option></option>
                        <option ng-repeat="contractor in ContractorList" value="{{contractor}}">{{contractor}}</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label>Involved Person</label>
                    <input type="text" name="Cntr" placeholder="Search involved person with EmpId" class="form-control width-fix" ng-model="Search.Person" />
                </div>
                <div class="col-md-3">
                    <label>From</label>
                    <div class="input-group">
                        <input type="text" class="form-control date" id="SearchFrom" placeholder="DD/MM/YYYY" readonly>
                        <span class="input-group-text"><i class="icon-calendar"></i></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <label>To</label>
                    <div class="input-group">
                        <input type="text" class="form-control date" id="SearchTo" placeholder="DD/MM/YYYY" readonly>
                        <span class="input-group-text"><i class="icon-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <label>Status</label>
                    <select data-placeholder="Search status" class="form-control select-clear" id="search_status" ng-model="Search.Status" required data-fouc>
                        <option></option>
                        <option value="0">Pending for approval</option>
                        <option value="1">Approved</option>
                        <option value="2">Rejected</option>
                    </select>
                </div>
                <div class="col-md-9">
                    <div class="d-flex pull-right">
                        <button type="button" class="btn btn-secondary  pull-right mt-3 mr-2" name="name" value="reset" ng-click="resetSearch()"><span>Reset</span></button>
                        <button type="button" class="btn btn-primary  pull-right mt-3" name="name" ng-click="SearchIncidentReport(search)"><span>Search</span></button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--Filter Section End-->
    <!-- Item Counter -->
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="CounterCard">
                <b>Total item: </b>  <span id="counts">{{IR_GridData.length}}</span>
            </div>
        </div>
    </div>
    <!-- /Item Counter -->

    @Html.Partial("_IncidentReport")

    <div style="height: 450px;overflow-y: scroll;overflow-x: visible !important;padding: 0px;width: 100%;">
        <table class="table" id="Table">
            <thead>
                <tr class="table-card-head">
                    <th>Sr.No</th>
                    <th>Container#</th>
                    <th>Shift</th>
                    <th>Incident type</th>
                    <th>Sub category</th>
                    <th>Contractor</th>
                    <th>Person</th>
                    <th>Reported by</th>
                    <th>Reported At</th>
                    <th>Status</th>
                    <th>Updated by</th>
                    <th>Updated At</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in IR_GridData">
                    <td>{{$index+1}}</td>
                    <td class="autoCaps">{{item.Cntr}}</td>
                    <td>{{item.Shift}}</td>
                    <td>{{item.ReportType}}</td>
                    <td>{{item.SubCategory}}</td>
                    <td>{{item.Contractor}}</td>
                    <td>{{item.InvolvePersonIqamaId}}-{{item.InvovledPersonName}}</td>
                    <td>{{item.CreatedBy}}</td>
                    <td>{{item.CreatedAt | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                    <td style="white-space:nowrap">
                        <span ng-if="item.ApproveStatus == 0" class="PendingApprovalEvent">Pending for approval</span>
                        <span ng-if="item.ApproveStatus == 1" class="Approvebadge">Approved</span>
                        <span ng-if="item.ApproveStatus == 2" class="RejectedApprovalEvent">Rejected</span>
                    </td>
                    <td>{{item.UpdatedBy}}</td>
                    <td>{{item.UpdatedAt | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                    <td>
                        <div class="list-icons">
                            <i class="icon-eye font-size-lg" title="View report" ng-click="ViewReport(item)"></i>
                            <i class="icon-printer font-size-lg" title="Print report" ng-click="PrintReport(item)"></i>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <center>
            <button style="cursor:pointer;" ng-click="LoadMore()" class="float btn btn-primary pull-right">Load More</button>
        </center>
    </div>
    <div id="overlay">
        <div id="zoomContainer">
            <img id="zoomImg" src="" alt="Zoomable" />
            <span id="close-btn" ng-click="closeOverlay()">&#10006;</span>          
            <div class="zoom-controls">
                <button id="zoomIn">+</button>
                <button id="zoomOut">−</button>
                <button id="zoomReset">Reset</button>
            </div>
        </div>
    </div>

</div>
<script>
    window.onload = function () {
        document.getElementById('minisidebar').className = 'sidebar-xs';

        $(".modal-dialog").addClass("modal-dialog-centered");
    };
</script>
<script src="@Url.Content("~/Scripts/crypto-js.min.js")"></script>
<script src="~/Scripts/IncidentReportPhotosJS.js"></script>
<script src="~/Content/ZoomInOut/ZoomInOut.js"></script>