
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    input[type='checkbox'] {
        font-size: 40px !important;
    }

    .floatBottom {
        margin-top: 10px;
    }

    .timeHeader {
        background: #00946b;
        padding: 15px;
        color: white;
        font-size: 17px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

    .tab {
        overflow: hidden;
        /*border: 1px solid #ccc;
        background-color: #f1f1f1;*/
    }

    .tabheading {
        padding: 10px;
        background: #00946b;
        color: white;
    }
    /* Style the buttons inside the tab */
    .tab button {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        background: #e9e9e9;
        padding: 15px;
        /*float: left;*/
        border: none;
        outline: none;
        cursor: pointer;
        /*padding: 14px 16px;*/
        transition: 0.3s;
        font-size: 17px;
    }
        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #00946b;
            color: white;
            font-size: 17px;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            background-color: #00946b;
            color: white;
            font-size: 17px;
        }

    .tab button {
        width: 100%;
    }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 0px 10px;
        /*border: 1px solid #ccc;*/
        border-top: none;
    }

    .badgeRequired {
        /*position: fixed!important;*/
    }

    .textAlignLeft {
        text-align: left !important;
    }


    .CloseModalBtn {
        background: var( --dpw-bg-color);
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 45px;
        text-decoration: none;
        font-weight: bold;
        box-shadow: 1px 1px 3px #000;
        transition: all .3s;
        height: 45px;
        border-radius: 50%;
        font-size: 25px;
        padding: 8px;
        cursor: pointer
    }

        .CloseModalBtn .fa-times-circle-o {
            color: #ffff !important;
        }

    .modal-content {
        background-color: #fff !important;
        border-radius: 16px !important;
        box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%), 0 12.5px 10px rgb(0 0 0 / 6%), 0 22.3px 17.9px rgb(0 0 0 / 7%), 0 41.8px 33.4px rgb(255 255 255 / 9%), 0 100px 80px rgb(255 255 255 / 12%);
    }

    .modal-header {
        text-align: center;
        border-bottom: none !important;
        justify-content: center !important;
    }

    .modal-title {
        color: var( --dpw-bg-color);
        font-weight: bolder !important;
        font-size: 24px;
        padding-top: 12px;
        padding-bottom: 4px;
        display: inline-block;
    }

    .modal-footer {
        border-top: none !important;
        align-content: center;
        text-align: center;
    }

    .FilePickerCSS label {
        color: white !important;
        border-radius: 3px;
        cursor: pointer;
        padding: 4px 4px !important;
        text-align: center;
        color: white !important;
        background: #00946b !important;
        box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%), 0 12.5px 10px rgb(0 0 0 / 6%), 0 22.3px 17.9px rgb(0 0 0 / 7%), 0 41.8px 33.4px rgb(255 255 255 / 9%), 0 100px 80px rgb(255 255 255 / 12%);
    }

    .fileNameCSS {
        padding: 8px 24px !important;
        margin-top: 14px;
        background: #ffffff;
        border: 2px dashed grey;
        /*box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%), 0 12.5px 10px rgb(0 0 0 / 6%), 0 22.3px 17.9px rgb(0 0 0 / 7%), 0 41.8px 33.4px rgb(255 255 255 / 9%), 0 100px 80px rgb(255 255 255 / 12%);*/
        color: grey !important;
    }

        .fileNameCSS i {
            color: gray !important;
        }

    .BrowseCss input {
        background: #360e85;
        width: 100%;
        color: white;
        padding: 2px;
    }

    input[type=file] {
        display: none;
    }

    .downloadTemplate {
        padding: 3px 10px !important;
        margin-top: 0 !important;
        border: none;
        background: var( --dpw-bg-color);
        color: white;
        border-radius: 2;
        border-radius: 2px;
        line-height: 23px;
        margin: 10px;
        box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%), 0 12.5px 10px rgb(0 0 0 / 6%), 0 22.3px 17.9px rgb(0 0 0 / 7%), 0 41.8px 33.4px rgb(255 255 255 / 9%), 0 100px 80px rgb(255 255 255 / 12%);
    }

    .btnSecondary {
        padding: 0px 100px;
        line-height: 30px;
        border: 1px solid var( --dpw-bg-color);
        color: var( --dpw-bg-color);
        border-radius: 5px;
        box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%), 0 12.5px 10px rgb(0 0 0 / 6%), 0 22.3px 17.9px rgb(0 0 0 / 7%), 0 41.8px 33.4px rgb(255 255 255 / 9%), 0 100px 80px rgb(255 255 255 / 12%);
    }

    .btnPrimary {
        padding: 0px 100px;
        line-height: 32px;
        border: none;
        background: var( --dpw-bg-color);
        color: white;
        border-radius: 3px;
        box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%), 0 12.5px 10px rgb(0 0 0 / 6%), 0 22.3px 17.9px rgb(0 0 0 / 7%), 0 41.8px 33.4px rgb(255 255 255 / 9%), 0 100px 80px rgb(255 255 255 / 12%);
    }
 /*   .select2 {
        max-height:42px !important;
        overflow-x:scroll !important;
    }*/
</style>

<link href="~/Content/BootsrapDatetime/bootstrap-material-datetimepicker.css" rel="stylesheet" />
<link href="~/Content/BootsrapDatetime/css.css" rel="stylesheet" />
<link href="~/Content/BootsrapDatetime/icon.css" rel="stylesheet" />
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Content/BootsrapDatetime/ripples.min.js"></script>
<script src="~/Content/BootsrapDatetime/material.min.js"></script>

<script src="~/Scripts/js/plugins/moment/moment_locales.min.js"></script>
<script src="~/Content/BootsrapDatetime/bootstrap-material-datetimepicker.js"></script>

<div class="page-header border-bottom-0">
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4><i class="icon-details mr-2"></i> <span class="font-weight-semibold"><i class="icon-stack-text"></i>&nbsp;Record Exam Events</span></h4>
        </div>
        <div class="col-md-6">

        </div>
    </div>
</div>
<hr />
<div ng-controller="ActivityCaptureCtrl" ng-init="init()" class="ng-cloak" ng-cloak>
    <div class="card">
        <div class=" card-body">
            <div class="row">
                <div class="col-md-3 form-group">
                    <label>Select Block</label><span class="required-starig">*</span>
                    <select data-placeholder="Please Select Block" id="Vessel" class="form-control select-clear" ng-model="Block.BlockNumber" required data-fouc>
                        <option></option>
                        <option ng-repeat="B in BlocList" value="{{B.BlockNumber}}">{{B.BlockNumber}}</option>
                    </select>
                </div>
                <div class="col-md-3 form-group">
                    <label>Search By Container</label><span class="required-starig">*</span>
                    <input type="text" class="form-control" placeholder="type container number" ng-model="Block.ContainerNumber" />
                </div>
                <div class="col-md-3 form-group">
                    <input type="button" class="btn btn-primary  " style="margin-top: 27px !important;" value="Search" ng-click="GetContainerList(Block)" />
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div ng-if="ContainerList != null && ContainerList != '' && ContainerList != 'undefined'" class="col-md-12 form-group">
            <input type="button" class="btn btn-secondary  pull-right" style="margin-top: 27px !important;" value="Capture Events For Multiple Containers" ng-click="OpenChooseModal()" />
        </div>
    </div>
    <div class="card table-card scrollbar" ng-if="ContainerList != null && ContainerList != '' && ContainerList != 'undefined'">

        <table class="table datatable-show-all customers-list" id="table-id">
            <thead>
                <tr class="table-card-head" style="text-align:center;height:50px;">
                    <th>SR#</th>
                    <th>Container</th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="a in ContainerList | filter :search" style="height:50px;">
                    <td>{{$index+1}}</td>
                    <td>{{a.Container}}</td>
                    <td>
                        <div class="list-icons">
                            <a class="list-icons-item text-dark" ng-click="OpenChooseModal1(a.Container)"><i class="icon-pencil7" title="View"></i></a>

                        </div>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>

    <!--For Multiple Containers Start-->
    <div class="modal fade" id="md1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="min-width:60%;">

            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Capture Events @*Container: {{Containerdata}}*@ </h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>


                </div>

                <div class="row ng-cloak" style="margin-top: 13px!important;" ng-cloak>
                    <div class="col-md-12">
                        @*<button ng-click="SaveLOCFile()" ng-show="ShowButton" type="submit" class="btn btn-primary pull-right mt-3">Save LOC Files</button>*@
                        <!--Tab Code Start -->
                        <div class="tab">
                            <div class="row">
                                <div class="col-md-3 text-center ">
                                    <button class="tablinks" ng-class="AllEvents==1?'active':''" ng-click="AllEvents=1;ManualEvents=0;N4Events=0;EventFiltersearch.IsManualEvent='';"><i class="icon-task mr-2"></i>All Events</button>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Select Containers</label><span class="required-starig">*</span>
                                    <select multiple="multiple" id="Con" data-placeholder="Please Select Containers" ng-model="Containerdatas.Container" class="form-control select" data-fouc>
                                        <option ng-repeat="a in ContainerList" value="{{a.Container}}">{{a.Container}}</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <!--Tab Code End -->
                    </div>

                </div>
                <div class="modal-body">
                    <form>
                        <div class="card table-card scrollbar" ng-if="EventList != null && EventList != '' && EventList != 'undefined'">

                            <script src="~/Content/BootsrapDatetime/ripples.min.js"></script>
                            <script src="~/Content/BootsrapDatetime/material.min.js"></script>
                            <script src="~/Scripts/js/plugins/moment/moment_locales.min.js"></script>
                            <script src="~/Content/BootsrapDatetime/bootstrap-material-datetimepicker.js"></script>
                            <table class="table datatable-show-all customers-list" id="table-id">
                                <thead>
                                    <tr class="table-card-head" style="text-align:center;height:50px;">
                                        <th>Sort Number</th>
                                        <th>Event</th>
                                        <th>Action</th>
                                        <th>Check</th>
                                    </tr>
                                </thead>
                                <tbody>



                                    <tr ng-repeat="a in EventList | filter :EventFiltersearch" style="height:50px;">
                                        <td>{{a.SortOrder}}</td>
                                        <td>
                                            {{a.EventName}}
                                        </td>
                                        <td>

                                            <div class="col-lg-12" ng-if="!a.isApplied && a.IsManualEvent == false">
                                                @*<label>Time Stamp</label>*@
                                                <div class="input-group">
                                                    <input type="text" class="form-control date2" id="{{$index+'applied2'}}" placeholder="DD/MM/YYYY HH:mm" readonly>
                                                    <span class="input-group-append">
                                                        <span class="input-group-text"><i class="icon-calendar"></i></span>
                                                    </span>
                                                </div>
                                            </div>
                                            <!-- Above div show when Exam Functionality found -->

                                            <div class="col-lg-12" ng-if="!a.isApplied && a.IsManualEvent == true && a.HasLOV == true">
                                                @*<label>{{a.ManualFieldName}}</label>*@
                                                <select ng-if="a.LovList.length>0" ng-model="a.FieldValue" class="form-control">
                                                    <option value="">---Select---</option>
                                                    <option ng-repeat="x in a.LovList" value="{{x.Id}}">{{x.Name}}</option>
                                                </select>
                                            </div>
                                            <!-- Above div show when Other Functionality found with LOV Value -->

                                            <div class="col-lg-12" ng-if="!a.isApplied && a.IsManualEvent == true && a.HasLOV == false">
                                                @*<label>{{a.ManualFieldName}}</label>*@
                                                <input ng-model="a.FieldValue" class="form-control" type="text" />
                                            </div>
                                            <!-- Above div show when Other Functionality found with LOV Value -->

                                            <div ng-if="EventList != null && EventList != '' && EventList != 'undefined' && a.IsManualEvent == false">
                                                <script>
                                                    $('.date2').bootstrapMaterialDatePicker({ format: 'DD/MM/YYYY HH:mm', });
                                                </script>
                                            </div>

                                            <div class="col-lg-12" ng-if="a.isApplied  && a.IsManualEvent == false">
                                                @*<label>Time Stamp</label>*@
                                                <div class="input-group">
                                                    <input type="text" class="form-control date2" id="{{$index+'applied2'}}" placeholder="DD/MM/YYYY HH:mm" value="{{a.EventTime | date :'dd/MM/yyyy HH:mm'}}" disabled>
                                                    <span class="input-group-append">
                                                        <span class="input-group-text"><i class="icon-calendar"></i></span>
                                                    </span>
                                                </div>
                                            </div>

                                            <!-- Above div show when Exam Functionality found -->

                                            <div class="col-lg-12" ng-if="a.isApplied && a.IsManualEvent == true && a.HasLOV == true">

                                                @*<label>{{a.ManualFieldName}}</label>*@
                                                <select ng-if="a.LovList.length>0" ng-model="a.FieldValue" class="form-control">
                                                    <option ng-selected="x.Id == a.FieldValue" ng-repeat="x in a.LovList" value="{{x.Id}}">{{x.Name}}</option>
                                                </select>

                                            </div>
                                            <!-- Above div show when Other Functionality found with LOV Value -->

                                            <div class="col-lg-12" ng-if="a.isApplied && a.IsManualEvent == true && a.HasLOV == false">

                                                @*<label>{{a.ManualFieldName}}</label>*@
                                                <input ng-model="a.FieldValue" readonly class="form-control" type="text" />

                                            </div>
                                            <!-- Above div show when Other Functionality found with LOV Value -->


                                        </td>

                                        <td>
                                            <input ng-disabled="a.isApplied" ng-checked="a.isApplied" type="checkbox" id="{{a.EventName}}" name="{{a.EventName}}" value="{{a.EventName}}" ng-model="Evn.EventCheck" ng-change="GetEvent2($index,a.EventName,a)" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="OnModalClose()" class="btn btn-secondary pull-right" id="{{Containerdata}}" data-bs-dismiss="modal">Close</button>
                    <button ng-click="RecordEvent(Containerdatas)" type="submit" class="btn btn-primary pull-right">Save changes</button>
                </div>

            </div>
        </div>

    </div>
    <!--For Multiple Containers End-->
    <!---For single container exam modal start-->
    <div class="modal fade" id="md2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="min-width:60%;">

            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Container: {{Containerdata}} </h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="row ng-cloak" style="margin-top: 13px!important;" ng-cloak>
                    <div class="col-md-12">
                        @*<button ng-click="SaveLOCFile()" ng-show="ShowButton" type="submit" class="btn btn-primary pull-right mt-3">Save LOC Files</button>*@
                        <!--Tab Code Start -->
                        <div class="tab">
                            <div class="row">
                                <div class="col-md-3 text-center ">
                                    <button class="tablinks" ng-class="AllEvents==1?'active':''" ng-click="AllEvents=1;ManualEvents=0;N4Events=0;EventFiltersearch.IsManualEvent='';"><i class="icon-task mr-2"></i>All Events</button>
                                </div>

                            </div>
                        </div>
                        <!--Tab Code End -->
                    </div>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="card table-card scrollbar" ng-if="EventList != null && EventList != '' && EventList != 'undefined'">

                            <script src="~/Content/BootsrapDatetime/ripples.min.js"></script>
                            <script src="~/Content/BootsrapDatetime/material.min.js"></script>
                            <script src="~/Scripts/js/plugins/moment/moment_locales.min.js"></script>
                            <script src="~/Content/BootsrapDatetime/bootstrap-material-datetimepicker.js"></script>
                            <table class="table datatable-show-all customers-list" id="table-id">
                                <thead>
                                    <tr class="table-card-head" style="text-align:center;height:50px;">
                                        <th>Sort Number</th>
                                        <th>Event</th>
                                        <th>Action</th>
                                        <th>Check</th>
                                    </tr>
                                </thead>
                                <tbody>



                                    <tr ng-repeat="a in EventList | filter :EventFiltersearch" style="height:50px;">
                                        <td>{{a.SortOrder}}</td>
                                        <td>
                                            {{a.EventName}}
                                        </td>
                                        <td>

                                            <div class="col-lg-12" ng-if="!a.isApplied && a.IsManualEvent == false">
                                                @*<label>Time Stamp</label>*@
                                                <div class="input-group">
                                                    <input type="text" class="form-control date2" id="{{$index+'applied1'}}"  placeholder="DD/MM/YYYY HH:mm" readonly>
                                                    <span class="input-group-append">
                                                        <span class="input-group-text"><i class="icon-calendar"></i></span>
                                                    </span>
                                                </div>
                                            </div>
                                            <!-- Above div show when Exam Functionality found -->

                                            <div class="col-lg-12" ng-if="!a.isApplied && a.IsManualEvent == true && a.HasLOV == true">
                                                @*<label>{{a.ManualFieldName}}</label>*@
                                                <select ng-if="a.LovList.length>0" ng-model="a.FieldValue" class="form-control">
                                                    <option value="">---Select---</option>
                                                    <option ng-repeat="x in a.LovList" value="{{x.Id}}">{{x.Name}}</option>
                                                </select>
                                            </div>
                                            <!-- Above div show when Other Functionality found with LOV Value -->

                                            <div class="col-lg-12" ng-if="!a.isApplied && a.IsManualEvent == true && a.HasLOV == false">
                                                @*<label>{{a.ManualFieldName}}</label>*@
                                                <input ng-model="a.FieldValue" class="form-control" type="text" />
                                            </div>
                                            <!-- Above div show when Other Functionality found with LOV Value -->

                                            <div ng-if="EventList != null && EventList != '' && EventList != 'undefined' && a.IsManualEvent == false">
                                                <script>
                                                    $('.date2').bootstrapMaterialDatePicker({ format: 'DD/MM/YYYY HH:mm', });
                                                </script>
                                            </div>
                                            <div class="col-lg-12" ng-if="a.isApplied  && a.IsManualEvent == false">
                                                @*<label>Time Stamp</label>*@
                                                <div class="input-group">
                                                    <input type="text" class="form-control date2" id="{{$index+'applied'}}" placeholder="DD/MM/YYYY HH:mm" value="{{a.EventTime | date :'dd/MM/yyyy HH:mm'}}" disabled>
                                                    <span class="input-group-append">
                                                        <span class="input-group-text"><i class="icon-calendar"></i></span>
                                                    </span>
                                                </div>
                                            </div>

                                            <!-- Above div show when Exam Functionality found -->

                                            <div class="col-lg-12" ng-if="a.isApplied && a.IsManualEvent == true && a.HasLOV == true">

                                                @*<label>{{a.ManualFieldName}}</label>*@
                                                <select ng-if="a.LovList.length>0" ng-model="a.FieldValue" class="form-control">
                                                    <option ng-selected="x.Id == a.FieldValue" ng-repeat="x in a.LovList" value="{{x.Id}}">{{x.Name}}</option>
                                                </select>

                                            </div>
                                            <!-- Above div show when Other Functionality found with LOV Value -->

                                            <div class="col-lg-12" ng-if="a.isApplied && a.IsManualEvent == true && a.HasLOV == false">

                                                @*<label>{{a.ManualFieldName}}</label>*@
                                                <input ng-model="a.FieldValue" readonly class="form-control" type="text" />

                                            </div>
                                            <!-- Above div show when Other Functionality found with LOV Value -->


                                        </td>

                                        <td>
                                            <input ng-disabled="a.isApplied" ng-checked="a.isApplied" type="checkbox" id="{{a.EventName}}" name="{{a.EventName}}" value="{{a.EventName}}" ng-model="Evn.EventCheck" ng-change="GetEvent($index,a.EventName,a)" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="OnModalClose()" class="btn btn-secondary pull-right" id="{{Containerdata}}" data-bs-dismiss="modal">Close</button>
                    <button ng-click="RecordEvent1(Containerdata)" type="submit" class="btn btn-primary pull-right">Save changes</button>
                </div>

            </div>
        </div>

    </div>
    <!---For single container exam modal start-->
    <!---For choose Functionality Multiple start-->
    <div class="modal fade" id="ChoseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="CloseModalBtn">
                    <button class="close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <i class="icon-cross"></i>
                </div>
                <div class="modal-header">
                    <h5 class="modal-title">Select Functionality</h5>
                </div>
                <div class="modal-body" style=" letter-spacing: 0.8px;">
                    <div class="row">
                        <div class="col-md-8 form-group">
                            <select data-placeholder="Please Select Functionality" id="Functionality" class="form-control select-clear" ng-model="Event.Functionality" data-fouc>
                                <option></option>
                                <option ng-repeat="E in CategoryList" value="{{E.Id}}">{{E.Category}}</option>
                            </select>
                        </div>
                        <div class="col-md-4  form-group">
                            <button ng-click="openfunctionality(Event.Functionality,ContainerList)" class="btn btn-secondary">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!---For choose Functionality Multiple end-->
    <!---For choose Functionality start-->
    <div class="modal fade" id="ChoseModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="CloseModalBtn">
                    <button class="close" data-bs-dismiss="ChoseModal1" aria-label="Close"></button>
                    <i class="icon-cross"></i>
                </div>
                <div class="modal-header">
                    <h5 class="modal-title">Select Functionality</h5>
                </div>
                <div class="modal-body" style=" letter-spacing: 0.8px;">
                    <div class="row">
                        <div class="col-md-8 form-group">
                            <select data-placeholder="Please Select Functionality" id="Functionality1" class="form-control select-clear" ng-model="Event.Functionality" data-fouc>
                                <option></option>
                                <option ng-repeat="E in CategoryList" value="{{E.Id}}">{{E.Category}}</option>
                            </select>
                        </div>
                        <div class="col-md-4  form-group">
                            <button ng-click="openfunctionality1(Event.Functionality)" class="btn btn-secondary">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!---For choose Functionality end-->
    <!--End of Controller div-->
</div>
<script src="@Url.Content("~/Scripts/crypto-js.min.js")"></script>

<script>
    //auto referesh
    function CheckPageVersion() {
        return "ExamActivityCapture," + "2";
    }

    var mintime = new Date();
    var max = new Date();
    console.log(mintime.setHours(mintime.getHours() - 2));


    $(document).ready(function () {
        getPagination('#table-id');

    });
    function getPagination(table) {

        var lastPage = 1;

        $('#maxRows').on('change', function (evt) {
            //$('.paginationprev').html('');						// reset pagination


            lastPage = 1;
            $('.pagination').find("li").slice(1, -1).remove();
            var trnum = 0;									// reset tr counter
            var maxRows = parseInt($(this).val());			// get Max Rows from select option

            if (maxRows == 5000) {

                $('.pagination').hide();
            } else {

                $('.pagination').show();
            }

            var totalRows = $(table + ' tbody tr').length;		// numbers of rows
            $(table + ' tr:gt(0)').each(function () {			// each TR in  table and not the header
                trnum++;									// Start Counter
                if (trnum > maxRows) {						// if tr number gt maxRows

                    $(this).hide();							// fade it out
                } if (trnum <= maxRows) { $(this).show(); }// else fade in Important in case if it ..
            });											//  was fade out to fade it in
            if (totalRows > maxRows) {						// if tr total rows gt max rows option
                var pagenum = Math.ceil(totalRows / maxRows);	// ceil total(rows/maxrows) to get ..
                //	numbers of pages
                for (var i = 1; i <= pagenum;) {			// for each page append pagination li
                    $('.pagination #prev').before('<li data-page="' + i + '">\
                                          <span>'+ i++ + '<span class="sr-only">(current)</span></span>\
                                        </li>').show();
                }											// end for i
            } 												// end if row count > max rows
            $('.pagination [data-page="1"]').addClass('active'); // add active class to the first li
            $('.pagination li').on('click', function (evt) {		// on click each page
                evt.stopImmediatePropagation();
                evt.preventDefault();
                var pageNum = $(this).attr('data-page');	// get it's number

                var maxRows = parseInt($('#maxRows').val());			// get Max Rows from select option

                if (pageNum == "prev") {
                    if (lastPage == 1) { return; }
                    pageNum = --lastPage;
                }
                if (pageNum == "next") {
                    if (lastPage == ($('.pagination li').length - 2)) { return; }
                    pageNum = ++lastPage;
                }

                lastPage = pageNum;
                var trIndex = 0;							// reset tr counter
                $('.pagination li').removeClass('active');	// remove active class from all li
                $('.pagination [data-page="' + lastPage + '"]').addClass('active');// add active class to the clicked
                // $(this).addClass('active');					// add active class to the clicked
                $(table + ' tr:gt(0)').each(function () {		// each tr in table not the header
                    trIndex++;								// tr index counter
                    // if tr index gt maxRows*pageNum or lt maxRows*pageNum-maxRows fade if out
                    if (trIndex > (maxRows * pageNum) || trIndex <= ((maxRows * pageNum) - maxRows)) {
                        $(this).hide();
                    } else { $(this).show(); } 				//else fade in
                }); 										// end of for each tr in table
            });										// end of on click pagination list

        }).val(5000).change();

        // end of on select change



        // END OF PAGINATION
    }

    (function (document) {
        'use strict';

        var TableFilter = (function (myArray) {
            var search_input;

            function _onInputSearch(e) {
                search_input = e.target;
                var tables = document.getElementsByClassName(search_input.getAttribute('data-table'));
                myArray.forEach.call(tables, function (table) {
                    myArray.forEach.call(table.tBodies, function (tbody) {
                        myArray.forEach.call(tbody.rows, function (row) {
                            var text_content = row.textContent.toLowerCase();
                            var search_val = search_input.value.toLowerCase();
                            row.style.display = text_content.indexOf(search_val) > -1 ? '' : 'none';
                        });
                    });
                });
            }

            return {
                init: function () {
                    var inputs = document.getElementsByClassName('search-input');
                    myArray.forEach.call(inputs, function (input) {
                        input.oninput = _onInputSearch;
                    });
                }
            };
        })(Array.prototype);

        document.addEventListener('readystatechange', function () {
            if (document.readyState === 'complete') {
                TableFilter.init();
            }
        });

    })(document);

    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");

        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");


        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";

    }
</script>

