
@{
    ViewBag.Title = "LOCReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    .SearchForm .btn {
        height: fit-content;
        align-self: center;
    }

    .windowmode::-webkit-scrollbar-track, .mobileview::-webkit-scrollbar-track {
        display: none !important;
    }

    tbody tr:nth-child(even) td {
        background: none !important;
    }

    tbody tr:nth-child(even) {
        background-color: #f7f7ff !important;
    }

    .table td, .table th {
        border: none !important;
    }

    .table td, .table tr {
        border: none;
    }

    .windowmode {
        height: 450px;
        overflow-y: scroll;
        overflow-x: visible !important;
        padding: 0px;
        width: 100%;
    }

    .w-20 {
        width: 20px !important;
    }

    .AuctionContainerPage i {
        font-size: 22px !important;
        cursor: pointer;
        text-decoration: none;
    }

    textarea {
        width: 100%;
    }

    .AttachmentSection a {
        text-decoration: none;
        color: black;
        cursor: pointer;
    }

        .AttachmentSection a:hover {
            color: royalblue;
            text-decoration: underline;
        }


    .LCLCard {
        max-height: 500px;
        overflow: auto;
    }

        .LCLCard th, .LCLCard td {
            white-space: nowrap;
        }

    .jqueryConfrim .modal-content {
        border-top: solid 7px #3498db;
        border-radius: 6px !IMPORTANT;
        background: white !important;
    }

    .jqueryConfrim .modal-header h5 {
        font-size: 22px;
    }

    .jqueryConfrim .modal-header {
        justify-content: center !important;
    }

    .jqueryConfrim .btn-primary {
        background: #3498db;
        padding: 5px 11px;
        text-transform: uppercase;
    }

    .jqueryConfrim .btn-reset {
        background: #363636;
        padding: 5px 11px;
        text-transform: uppercase;
    }

    @@keyframes zoomIn {
        0% {
            opacity: 0;
            -webkit-transform: scale3d(.3, .3, .3);
            transform: scale3d(.3, .3, .3);
        }

        50% {
            opacity: 1;
        }
    }

    .ZoominAnimate {
        animation: zoomIn 0.2s linear;
    }

    #overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #111111de;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
        display: none;
        overflow: scroll;
    }

        #overlay img {
            max-width: 90%;
            max-height: 90%;
            transition: transform 0.5s ease;
        }

    #close-btn {
        position: absolute;
        top: 15px;
        right: 15px;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }

    ul.Damage_Images {
        padding: 0px;
        border: 1px solid #ececec;
    }

        ul.Damage_Images li .Icon span {
            padding: 7px;
            /*border: 1px solid #343434;*/
            border-radius: 50%;
            color: #6b6868 !important;
        }

        ul.Damage_Images li {
            padding: 12px 18px;
            list-style: none;
            border-bottom: 1px solid #e8e8e8cf;
            color: #6b6868 !important;
        }
</style>
<div ng-controller="LOCReportCtrl" ng-cloak class="ng-cloak AuctionContainerPage" ng-init="init()">

    <div class="page-header border-bottom-0 blur">
        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4><i class="icon-details mr-2"></i> <span class="font-weight-semibold"><i class="icon-stack-text"></i>&nbsp; LOC Report</span></h4>
            </div>
            <div class="col-md-6">

            </div>
        </div>
    </div>
    <hr />

    <div class="card">
        <div class="card-body">
            <form class="was-validated SearchForm" id="SearchFormSection" name="SearchFormSection">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label Starick">Search container</label>
                            <input type="text" id="CntrInput" ng-change="FilterpasteData($event,Search.Container)" ng-model="Search.Container" required class="form-control is-invalid" placeholder="Enter Container" />
                        </div>
                    </div>
                    <div class="col-md-4 mt-4">
                        <button class="btn btn-primary mr-2" ng-disabled="SearchFormSection.$invalid" ng-click="SearchData(Search)">Search</button>
                        <button class="btn btn-reset" ng-disabled="SearchFormSection.$invalid" ng-click="Reset()">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="pull-right d-inline-block mb-3">
                <button class="btn btn-primary" ng-click="ExportToExcel(Search)" ng-disabled="Search.Container == null || Search.Container == ''">Export to excel</button>
            </div>
        </div>
    </div>


    <div class="windowmode">
        <table class="table table-striped">
            <thead>
                <tr class="table-card-head">
                    <th class="w-20">S.No</th>
                    <th>Customs Stages</th>
                    <th>Unit Nbr</th>
                    <th>Bayan</th>
                    <th>Position</th>
                    <th>Customs Type</th>
                    <th>X-Ray Insp Status </th>
                    <th>Type ISO</th>
                    <th>Update cargo strip done</th>
                    <th>Message Id</th>
                    <th>Date & Time</th>
                   
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in ContainerRecords | filter:search ">
                    <td class="w-20">{{$index+1}}</td>
                    <td class="autoCaps">{{item.CustomStage}}</td>
                    <td class="autoCaps">{{item.Container}}</td>
                    <td class="autoCaps">{{item.bayan}}</td>
                    <td class="autoCaps">{{item.Location}}</td>
                    <td class="autoCaps">{{item.CustomType}}</td>
                    <td class="autoCaps">{{item.XrayStatus}}</td>
                    <td class="autoCaps">{{item.ISO}}</td>
                    <td class="autoCaps">{{item.StripDoneTime | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                    <td class="autoCaps">{{item.FileName}}</td>
                    <td class="autoCaps">{{item.FilesendTime | date:'dd/MM/yyyy HH:mm:ss'}}</td>                   
                </tr>
            </tbody>
        </table>


    </div>









</div>

<script src="@Url.Content("~/Scripts/crypto-js.min.js")"></script>
<script>

    function copytoClipBoard(txt) {
        if (navigator.clipboard) {
            navigator.clipboard.writeText(txt);
            toastr.success("Copied to clipboard");
        }
    }

    window.onload = function () {
        document.getElementById('minisidebar').className = 'sidebar-xs';
    };
</script>
