
@{
    ViewBag.Title = "CapturedEvents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/BootsrapDatetime/icon.css" rel="stylesheet" />
<link href="~/Content/BootsrapDatetime/bootstrap-material-datetimepicker.css" rel="stylesheet" />
<link href="~/Content/BootsrapDatetime/css.css" rel="stylesheet" />
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/js/plugins/moment/moment_locales.min.js"></script>
<link href="~/Scripts/DatePicker/bootstrap-datepicker.css" rel="stylesheet" />
<link href="~/Scripts/DatePicker/bootstrap-datepicker.standalone.css" rel="stylesheet" />
<script src="~/Scripts/DatePicker/bootstrap-datepicker.js"></script>
<script src="~/Content/BootsrapDatetime/ripples.min.js"></script>
<script src="~/Content/BootsrapDatetime/material.min.js"></script>
<script src="~/Content/BootsrapDatetime/bootstrap-material-datetimepicker.js"></script>
<style>
    .PendingApprovalEvent {
        background: #ffa5001a !important;
        border: 1px solid orange !important;
        padding: 4px;
        border-radius: 6px;
    }
    .textAlignLeft {
        text-align: left !important;
    }
    .CloseModalBtn {
        background: var( --dpw-bg-color);
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 45px;
        text-decoration: none;
        font-weight: bold;
        box-shadow: 1px 1px 3px #000;
        transition: all .3s;
        height: 45px;
        border-radius: 50%;
        font-size: 25px;
        padding: 8px;
        cursor: pointer
    }

        .CloseModalBtn .fa-times-circle-o {
            color: #ffff !important;
        }

    .modal-content {
        background-color: #fff !important;
        border-radius: 16px !important;
        box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%), 0 12.5px 10px rgb(0 0 0 / 6%), 0 22.3px 17.9px rgb(0 0 0 / 7%), 0 41.8px 33.4px rgb(255 255 255 / 9%), 0 100px 80px rgb(255 255 255 / 12%);
    }

    .modal-header {
        text-align: center;
        border-bottom: none !important;
        justify-content: center !important;
    }

    .modal-title {
        color: var( --dpw-bg-color);
        font-weight: bolder !important;
        font-size: 24px;
        padding-top: 12px;
        padding-bottom: 4px;
        display: inline-block;
    }

    .modal-footer {
        border-top: none !important;
        align-content: center;
        text-align: center;
    }

    .FilePickerCSS label {
        color: white !important;
        border-radius: 3px;
        cursor: pointer;
        padding: 4px 4px !important;
        text-align: center;
        color: white !important;
        background: #00946b !important;
        box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%), 0 12.5px 10px rgb(0 0 0 / 6%), 0 22.3px 17.9px rgb(0 0 0 / 7%), 0 41.8px 33.4px rgb(255 255 255 / 9%), 0 100px 80px rgb(255 255 255 / 12%);
    }

    .fileNameCSS {
        padding: 8px 24px !important;
        margin-top: 14px;
        background: #ffffff;
        border: 2px dashed grey;
        /*box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%), 0 12.5px 10px rgb(0 0 0 / 6%), 0 22.3px 17.9px rgb(0 0 0 / 7%), 0 41.8px 33.4px rgb(255 255 255 / 9%), 0 100px 80px rgb(255 255 255 / 12%);*/
        color: grey !important;
    }

        .fileNameCSS i {
            color: gray !important;
        }

    .BrowseCss input {
        background: #360e85;
        width: 100%;
        color: white;
        padding: 2px;
    }

    input[type=file] {
        display: none;
    }

    .downloadTemplate {
        padding: 3px 10px !important;
        margin-top: 0 !important;
        border: none;
        background: var( --dpw-bg-color);
        color: white;
        border-radius: 2px;
        line-height: 23px;
        margin: 10px;
        box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%), 0 12.5px 10px rgb(0 0 0 / 6%), 0 22.3px 17.9px rgb(0 0 0 / 7%), 0 41.8px 33.4px rgb(255 255 255 / 9%), 0 100px 80px rgb(255 255 255 / 12%);
    }

    .btnSecondary {
        padding: 0px 100px;
        line-height: 30px;
        border: 1px solid var( --dpw-bg-color);
        color: var( --dpw-bg-color);
        border-radius: 5px;
        box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%), 0 12.5px 10px rgb(0 0 0 / 6%), 0 22.3px 17.9px rgb(0 0 0 / 7%), 0 41.8px 33.4px rgb(255 255 255 / 9%), 0 100px 80px rgb(255 255 255 / 12%);
    }

    .btnPrimary {
        padding: 0px 100px;
        line-height: 32px;
        border: none;
        background: var( --dpw-bg-color);
        color: white;
        border-radius: 3px;
        box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%), 0 12.5px 10px rgb(0 0 0 / 6%), 0 22.3px 17.9px rgb(0 0 0 / 7%), 0 41.8px 33.4px rgb(255 255 255 / 9%), 0 100px 80px rgb(255 255 255 / 12%);
    }

    .buttonrow {
        margin-top: 11px !important;
        margin-left: 15px !important;
    }

    .badge-darkred {
        background-color: darkred;
        color: white;
    }

    .badge-Orange {
        background-color: darkorange;
        color: white;
    }

    .badge-Green {
        background-color: darkgreen;
        color: white;
    }

    .badge-Red {
        background-color: red;
        color: white;
    }

    .Capture-CardFlex {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }

    .Capture-Card {
        background: #ebebeb;
        padding: 11px 18px;
        box-shadow: 1px 1px 2px 1px #80808042 inset;
        border-radius: 4px;
        margin-bottom: 17px;
    }

    .evenetTab {
        padding: 7px 16px;
        border-radius: 5px;
        color: #0a0a0a;
        margin-bottom: 15px;
        background: #f5f5f5;
        border: 1px solid #181818;
    }

        .evenetTab span {
            font-size: 11px;
        }

        .evenetTab.Canceled {
            background: #ff04041f;
            border: 1px solid #b00d0d;
            color: #6a0707;
        }

    .evenetTitle {
        min-width: 11px;
       
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: 700;
    }

    span.badge-active.babge-sm {
        padding: 1px 4px;
        border-radius: 3px;
        float: right;
        line-height: 1.7;
        font-weight: normal;
        background: #6a0707 !important;
    }

    .DetailsTable {
        width: 100%;
    }

        .DetailsTable a {
            text-decoration: none;
            color: white;
            background: var( --dpw-bg-color);
            padding: 5px 11px;
            border-radius: 4px;
        }

        .DetailsTable tr td, .DetailsTable tr th {
            padding: 9px 16px;
            border-bottom: 1px solid #bcbcbc;
        }

    .Image-view img {
        height: 50% !important;
        width: 50% !important;
        float: none !important
    }

    .Image-view {
        float: none !IMPORTANT;
        margin: 0 !IMPORTANT;
        height: auto !IMPORTANT;
        width: auto !important;
    }
    /*Excess cargo styling end*/

    #overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #111111de;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
        display: none;
        overflow: scroll;
    }

        #overlay img {
            max-width: 90%;
            max-height: 90%;
            transition: transform 0.5s ease;
        }

    #close-btn {
        position: absolute;
        top: 15px;
        right: 15px;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }
</style>
<div ng-controller="InspDelayRPTCtrl" class="ng-cloak" ng-cloak ng-init="PendingDelaysInit()">
    <div id="overlay">
        <span id="close-btn" ng-click="closeOverlay()">&#10006;</span>
        <img src="" id="LargeImageView" alt="Image">
    </div>
    <!-- Page header -->
    <div class="page-header border-bottom-0">
        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4><i class="icon-stack-text mr-2"></i><span class="font-weight-semibold">Ongoing Delays</span></h4>
                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>
            <div class="page-title d-flex">
                <input type="button" class="btn btn-secondary  pull-right ml-2" value="Filters" data-toggle="collapse" data-target="#demo" />
            </div>
        </div>
    </div><hr />

    <!--Search Filter Code Start-->
    <div class="card collapse" id="demo">
        <div class="card-body">
            <div class="col-md-12  border-bottom">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Container #</label>
                            <input type="text" maxlength="200" onkeyup="TableRowsCount()" min="1" class="form-control" placeholder="Search Container.." ng-model="search.Cntr" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Event Name</label>
                            <input type="text" maxlength="200" min="1" class="form-control" placeholder="Search Event Name.." ng-model="search.EventName" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>From Date</label>
                            <div class="input-group">
                                <input type="text" class="form-control date" id="FromDate" placeholder="DD/MM/YYYY HH:mm">
                                <span class="input-group-append">
                                    <span class="input-group-text"><i class="icon-calendar"></i></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>To Date</label>
                            <div class="input-group">
                                <input type="text" class="form-control date" id="ToDate" placeholder="DD/MM/YYYY HH:mm">
                                <span class="input-group-append">
                                    <span class="input-group-text"><i class="icon-calendar"></i></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 mt-3" style="text-align:end;">
                        <button class="btn btn-success pull-right mr-2" ng-click="CaptureEventSearch()">Search</button>
                        <button class="btn btn-primary pull-right mr-2" ng-click="ClearFilter()">Clear</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--Search Filter Code End-->

    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="CounterCard">
                <b>Total item: </b>  <span id="counts">{{(Cntrlist | filter: d).length}}</span>
            </div>
        </div>
    </div>
    <div class="row accordion" id="acc">
        <div class="col-md-12 Capture-Card" ng-repeat="x in Cntrlist">
            <div class="Capture-CardFlex" data-toggle="collapse" data-target="#{{x.Cntr}}col" ng-click="GetDelayCntrReason(x.Unit_gkey,x.Cntr,$index)">
                <div class="mr-3"><img src="~/Content/images/output-onlinepngtools.png" style="height: 49px;" /></div>
                <div style=" font-size: 14px; font-weight: 500;" data-toggle="collapse">{{x.Cntr}} <br /> <small>{{x.Location}}</small></div>
                <div class="ml-auto">
                    <span>
                        <i ng-show="CurrentDelayCntr!=x.Cntr" class="icon-chevron-down"></i>
                        <i ng-show="CurrentDelayCntr==x.Cntr" class="icon-chevron-up"></i>
                    </span>

                </div>
            </div>
            <div class="collapse mt-3" data-parent="#acc" id="{{x.Cntr}}col">
                <div class="row">
                    <div class="col-md-4" ng-repeat="y in ReasonList">
                        <div class="evenetTab">
                            <div class="evenetTitle" title="{{y.Name}}">
                                {{y.Name}}
                                <span class="pull-right">{{PendingDelayDuartion(y.CreatedAt)}}</span>
                            </div>
                            <span>{{y.CreatedAt | date:'dd-MM-yyyy HH:mm:ss'}}</span>
                            <br />
                            <b>{{y.CreatedBy}}</b>
                            <br />
                            <span class="PendingApprovalEvent babge-sm">{{y.Status}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var zoomLevel = 1.0;

    function handleScroll(event) {
        // Adjust the zoom level based on wheel direction
        if (event.deltaY < 0) {
            // Zoom in
            zoomLevel += 0.1;
        } else {
            // Zoom out
            zoomLevel = Math.max(0.1, zoomLevel - 0.1);
        }

        applyZoom();
    }

    function applyZoom() {
        var image = document.getElementById('LargeImageView');
        image.style.transform = 'scale(' + zoomLevel + ')';

    }

    // Attach the wheel event listener to the image container
    var zoomContainer = document.getElementById('overlay');
    zoomContainer.addEventListener('wheel', handleScroll);
</script>
<script>


    //DAte Time


    $('.date').bootstrapMaterialDatePicker({
        format: 'DD/MM/YYYY HH:mm',
        //maxDate: maxdate,
        //  endDate: moment(new Date()).format('DD/MM/YYYY HH:mm'),
        switchOnClick: true,
        nowButton: true,
        //currentDate: moment(),
    });

</script>
<script src="~/Scripts/DatePicker/CustomIntilizeJS.js"></script>







