
@{
    ViewBag.Title = "PendingApprovalReports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<script src="~/Scripts/jquery.min.js"></script>
<link href="~/Content/ZoomInOut/ZoomInOut.css" rel="stylesheet" />
<script src="~/Scripts/js/plugins/moment/moment_locales.min.js"></script>
<link href="~/Scripts/SlimSelect/SlimSelectCustomStyle.css" rel="stylesheet" />
<link href="~/Scripts/SlimSelect/slimselect.min.css" rel="stylesheet" />
<script src="~/Scripts/SlimSelect/slimselect.min.js"></script>
<link href="~/Content/css/ExamCSS.css" rel="stylesheet" />


<div ng-controller="RecordEventCtrl" ng-init="pendingApprovalInit()" class="PendingApproveReport">


    <div class="row ng-cloak" style="margin-top: 13px!important;" ng-cloak>
        <div class="col-md-12">
            <!--Tab Code Start -->
            <div class="tab">
                <div class="row" style=" border-bottom: 3px solid #00946b;">
                    <div class="CardHeaderLink shadow-sm text-center ">
                        <button class="tablinks active" id="damageReport" ng-click="GetPendingApprovalCntrList('Exam_CntrDamageLogs')"><i class="icon-task mr-2"></i> Damage <span class="CountBadge">{{DmgCntrCount}}</span></button>
                    </div>
                    <div class="CardHeaderLink shadow-sm text-center ">
                        <button class="tablinks" id="excessCargo" ng-click="GetPendingApprovalCntrList('ExamActivity_ExcessCargo')"><i class="icon-file-check mr-2"></i> Excess cargo <span class="CountBadge">{{ExsCargoCntrCount}}</span></button>
                    </div>
                    <div class="CardHeaderLink shadow-sm text-center ">
                        <button class="tablinks" id="RequestTechnician" ng-click="GetPendingApprovalCntrList('ExamActivityRequest_Technician')"><i class="icon-file-check mr-2"></i> Request technician <span class="CountBadge">{{RequestTechnicianCount}}</span></button>
                    </div>
                    <div class="CardHeaderLink shadow-sm text-center ">
                        <button class="tablinks" id="Difficult" ng-click="GetPendingApprovalCntrList('ExamActivity_DifficultToStrip')"><i class="icon-file-check mr-2"></i> Difficult to strip <span class="CountBadge">{{DifficultStripCount}}</span></button>
                    </div>
                    <div class="CardHeaderLink shadow-sm text-center ">
                        <button class="tablinks" id="AdditionalSrvc" ng-click="GetPendingApprovalCntrList('ExamActivity_CapturedEvent')"><i class="icon-file-check mr-2"></i> Additional Service <span class="CountBadge">{{AdditionalServiceCount}}</span></button>
                    </div>
                    <div class="CardHeaderLink shadow-sm text-center ">
                        <button class="tablinks" id="InspDelay" ng-click="GetPendingApprovalCntrList('ExamActivity_InspDelayRPT')"><i class="icon-file-check mr-2"></i> Inspection Delay <span class="CountBadge">{{InspDlyCntrCount}}</span></button>
                    </div>
                    <div class="CardHeaderLink shadow-sm text-center ">
                        <button class="tablinks" id="HighRisktab" ng-click="GetPendingApprovalCntrList('ExamActivity_HighRiskCargo')"><i class="icon-file-check mr-2"></i> High Risk <span class="CountBadge">{{HighRiskCntrCount}}</span></button>
                    </div>
                </div>
            </div>
            <!--Tab Code End -->
        </div>

        <!---Block-->
        <div class="card mt-2 mt-2" id="Block">
            <div class="card-header" style=" background: var( --dpw-bg-color); color: white; padding: 8px;">
                <div class="d-inline-block"><h5 class="mt-2">Select Block</h5></div>
                <div class="pull-right" ng-show="CurrentTable=='ExamActivity_InspDelayRPT'||CurrentTable=='Exam_CntrDamageLogs'">
                    <div class="bayan-radio-group">
                        <input type="radio" id="all" name="bayan-option" value="ALL">
                        <label for="all" ng-click="FilterReportBySource('ALL')">ALL</label>
                        <input type="radio" id="FK" name="bayan-option" value="Forklift assignment">
                        <label for="FK" ng-click="FilterReportBySource('FK')">Forklift assignment</label>
                        <input type="radio" id="Exam" name="bayan-option" value="Exam app">
                        <label for="Exam" ng-click="FilterReportBySource('Exam')">Exam app </label>
                    </div>
                </div>
                @*Exam 5.9.2*@
                <div class="pull-right" ng-show="CurrentTable=='ExamActivity_ExcessCargo'">
                    <div class="bayan-radio-group">
                        <input type="radio" checked id="ExcessALL" name="bayan-option" value="ALL">
                        <label for="ExcessALL" ng-click="FilterExcessReport('ExcessALL')">ALL  <span for="all" class="CountBadge">{{ExsCargoCntrCount}}</span></label>

                        <input type="radio" id="WaitingforApproval" name="bayan-option" value="WaitingforApproval">
                        <label for="WaitingforApproval" ng-click="FilterExcessReport('WaitingforApproval')">Waiting for approval  <span for="all" class="CountBadge">{{XS_WaitingForApproval}}</span></label>

                        <input type="radio" id="Waitingfortransfer" name="bayan-option" value="Waitingfortransfer">
                        <label for="Waitingfortransfer" ng-click="FilterExcessReport('Waitingfortransfer')">Waiting for transfer  <span for="all" class="CountBadge">{{XS_WaitingForTransfer}}</span></label>

                        <input type="radio" id="Delivered" name="bayan-option" value="Delivered">
                        <label for="Delivered" ng-click="FilterExcessReport('Delivered')">Waiting for Delivery <span for="all" class="CountBadge">{{XS_WaitingForDelivery}}</span></label>
                    </div>
                </div>

            </div>
            <div class=" card-body shadow">
                <div class="row">
                    <div class="Cardtabs" ng-repeat="B in BlockList">
                        <div class="Absoulte">
                            <div class="CountBadge">{{B.CntrCount}}</div>
                        </div>
                        <button ng-click="GetPendingContainerList(B)" ng-class="{'active' : B.Block == CurrentBlock.BlockNumber }" class="btn btn-primary Blocks" value="{{B.Block}}">{{B.Block}} </button>
                    </div>
                </div>
            </div>
        </div>
        <!---Block-->
        <!---Container-->

        <div class="accordion" id="accordionExample" ng-if="!stringNullorEmpty(ContainerList)">
            <div class="card Custom-Card m-0" ng-repeat="x in ContainerList | filter :search" style="overflow:visible">
                <div class="" id="heading{{$index}}">
                    <div class="collapsible-link">
                        <div class="row">
                            <div class="col-md-8 col-lg-8 col-sm-8 col-xs-12">
                                <div ng-if="CurrentTable != 'ExamActivity_ExcessCargo'">
                                    <div style="display:inline-block">
                                        <img style="height:50px;" src="~/Content/images/output-onlinepngtools.png" />
                                    </div>
                                    <div style="display: inline-block; position: relative; top: 10px; left: 5px; font-family: 'Pilat Wide';">
                                        {{x.Cntr}}
                                        <br />
                                        <span style="font-size: 11px; color: #898989;">{{x.Location}}</span>

                                    </div>
                                </div>

                                <div class="mzn-container-card" ng-if="CurrentTable == 'ExamActivity_ExcessCargo'">
                                    <div class="mzn-icon-wrapper">
                                        <img src="~/Content/images/output-onlinepngtools.png" alt="Container Icon" class="mzn-main-icon" />
                                    </div>

                                    <div class="mzn-content-details">
                                        <div class="mzn-title-id">{{x.Cntr}}</div>

                                        <div class="mzn-info-stack">
                                            <div class="mzn-info-item">
                                                <span class="mzn-label" ng-if="CurrentTable == 'ExamActivity_ExcessCargo'">Actual Location:</span>
                                                <span class="mzn-value">{{x.Location}}</span>
                                            </div>

                                            <div class="mzn-info-item mzn-status-highlight"
                                                 ng-if="CurrentTable == 'ExamActivity_ExcessCargo' && x.TransferedLocation != null">
                                                <span class="mzn-label">Transferred:</span>
                                                <span class="mzn-value">{{x.TransferedLocation}}</span>
                                            </div>

                                            <div class="mzn-info-item mzn-exam-badge"
                                                 ng-if="CurrentTable == 'ExamActivity_ExcessCargo' && x.ExamYardLocationOnApproval!=null">
                                                <span class="mzn-label">EXAM:</span>
                                                <span class="mzn-value">{{x.ExamYardLocationOnApproval}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12 DamageButton">
                                <div class="iconsection" ng-show="CurrentTable == 'Exam_CntrDamageLogs'">
                                    <i class="icon-eye" ng-click="ShowDamageOnCntr(x.Id,x.unit_gkey)" title="Damage Detail"></i>
                                </div>
                                <div class="iconsection" ng-show="CurrentTable == 'ExamActivity_InspDelayRPT'">
                                    @*<i class="icon-eye" ng-click="ShowInspectionDelayReport(x)" title="Detail"></i>*@
                                    <i class="icon-eye" ng-click="ShowInspectionDelayReportFromApprovalScrn(x)" title="Detail"></i>
                                </div>
                                <div class="iconsection" ng-show="CurrentTable == 'Exam_CntrBadStowageLogs'">
                                    <i class="icon-eye" ng-click="ShowBadStowageOnCntr(x.Cntr)" title="Detail"></i>
                                </div>

                                <div class="iconsection" ng-show="CurrentTable == 'ExamActivity_ExcessCargo'">
                                    <i class="icon-eye" ng-click="ShowExcessCargoRec(x.Cntr)" title="Detail"></i>
                                </div>

                                <div class="iconsection" ng-show="CurrentTable == 'ExamActivityRequest_Technician'">
                                    <i class="icon-eye" ng-click="ShowRequestTechnicianData(x.Cntr)" title="Detail"></i>
                                </div>
                                <div class="iconsection" ng-show="CurrentTable == 'ExamActivity_DifficultToStrip'">
                                    <i class="icon-eye" ng-click="ShowDifficultStrip(x.Cntr)" title="Detail"></i>
                                </div>
                                <div class="iconsection" ng-show="CurrentTable == 'ExamActivity_CapturedEvent'">
                                    <i class="icon-eye" ng-click="ShowAdditionalServiceReport(x.Cntr,x.unit_gkey,true)" title="Detail"></i>
                                </div>
                                <div class="iconsection" ng-show="CurrentTable == 'ExamActivity_HighRiskCargo'">
                                    <i class="icon-eye" ng-click="ShowRiskReportModalFromApproval(x.unit_gkey)" title="Detail"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!---Container Header-->

                <div class="" style="margin-bottom: -30px;margin-left: -35px;">

                </div>

            </div>
        </div>
        <!---Container-->


    </div>
    <!--show Difficult to strip-->
    <div class="modal fade" id="ShowDifficultStrip" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="CloseModalBtn" data-dismiss="modal">
                    <button class="close" data-dismiss="modal" aria-label="Close"></button>
                    <i class="icon-cross"></i>
                </div>
                <div class="modal-header">
                    <h5 class="modal-title">
                        Difficult to strip
                        <span title="Print report" class="printBdage">
                            <a ng-click="openDifficultStrip(DifficultStripData.Id)">
                                <i class="icon-printer"></i>
                            </a>
                        </span>
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 disgnerLabel">
                            <label>
                                Container #
                            </label>
                            <b style="float:right;" class="ng-binding">{{DifficultStripData.Container}}</b>
                        </div>
                        <div class="col-md-12 disgnerLabel">
                            <label>
                                Stripping Percenatge
                            </label>
                            <b style="float:right;" class="ng-binding">{{DifficultStripData.StrippingPercenatge}}</b>
                        </div>
                        <div class="col-md-12 disgnerLabel">
                            <label>
                                Created at
                            </label>
                            <b style="float:right;" class="ng-binding"> {{DifficultStripData.CreatedAt | date:'dd/MM/yyyy HH:mm:ss'}}</b>
                        </div>
                        <div class="col-md-12 disgnerLabel">
                            <label>
                                Created by
                            </label>
                            <b style="float:right;" class="ng-binding"> {{DifficultStripData.CreatedBy}}</b>
                        </div>
                        <div class="col-md-12 disgnerLabel">
                            <label>Status</label>
                            <b ng-show="DifficultStripData.Status == 0" style="float:right;" class="badge inProgressStatus ng-hide">Inprogress</b>
                            <b ng-show="DifficultStripData.Status == 1" style="float:right;" class="badge waitingForApprovalStatus ng-hide">Waiting for approval</b>
                            <b ng-show="DifficultStripData.Status == 2" style="float: right;" class="badge approvedStatus ng-hide">Approved</b>
                            <b ng-show="DifficultStripData.Status == 3" style="float: right;" class="badge rejectStatus ng-hide">Rejected</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" ng-repeat="c in DifficultStripData.Images">
                            <div class="imageBox">
                                <div class="Imgheader" title="{{c.Label}}">
                                    <b>{{c.Label}}</b>
                                </div>
                                <div class="ImgContent">
                                    <a ng-click="OpenImageView(c.Url,'ShowDifficultStrip',DifficultStripData)">  <img src="{{c.Url}}" style="height:50px!important" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-12" style="text-align:end;">
                            <button ng-show="DifficultStripData.Status == 1" class="btn btn-danger" data-dismiss="modal" ng-click="ShowConfirmatioDifficulttoStrip(DifficultStripData,false,true)">Reject</button>
                            <button ng-show="DifficultStripData.Status == 1" class="btn btn-success" data-dismiss="modal" ng-click="ShowConfirmatioDifficulttoStrip(DifficultStripData,true,true)">Approve</button>
                            <button class="btn btn-cancel" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Show Damage Report-->
    <div class="modal fade" id="ShowDamage" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="CloseModalBtn" data-dismiss="modal">
                    <button class="close" data-dismiss="modal" aria-label="Close"></button>
                    <i class="icon-cross"></i>
                </div>
                <div class="modal-header">
                    <h5 class="modal-title">Damage report</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 disgnerLabel">
                            <label>Container</label>
                            <b style="float:right;">{{ShowDamageData.Cntr}}</b>
                        </div>
                        <div class="col-md-12 disgnerLabel" ng-if="ShowDamageData.bl_nbr != null">
                            <label>B\L</label>
                            <b style="float:right;">{{ShowDamageData.bl_nbr}}</b>
                        </div>
                        <div class="col-md-12 disgnerLabel">
                            <label>Damage By</label>
                            <b style="float:right;">{{ShowDamageData.DamageBy}}</b>
                        </div>
                        <div class="col-md-12 disgnerLabel">
                            <label>Damage Type</label>
                            <b style="float:right;">{{ShowDamageData.DamageType}}</b>
                        </div>
                        <div class="col-md-12 disgnerLabel">
                            <label>Damage Reason</label>
                            <b style="float:right;">{{ShowDamageData.DamageByReason}}</b>
                        </div>

                        <div class="col-md-12 disgnerLabel">
                            <label>Submitted By</label>
                            <b style="float:right;">{{ShowDamageData.CreatedBy}}</b>
                        </div>
                        <div class="col-md-12 disgnerLabel">
                            <label>Submitted At</label>
                            <b style="float:right;">{{ShowDamageData.CreatedAt}}</b>
                        </div>
                        <div class="col-md-6 disgnerLabel">
                            <label>Status</label>
                        </div>
                        <div class="col-md-6 disgnerLabel">
                            <b ng-show="ApproveStatus == 0" style="float:right;" class="badge inProgressStatus">InProgress</b>
                            <b ng-show="ApproveStatus == 1" style="float:right;" class="badge waitingForApprovalStatus">Waiting for approval</b>
                            <b ng-show="ApproveStatus == 2" style="float: right;" class="badge approvedStatus">Approved</b>
                            <b ng-show="ApproveStatus == 3" style="float: right;" class="badge rejectStatus">Rejected</b>
                        </div>
                        <div class="col-md-12" ng-if="!stringNullorEmpty(ShowDamageData.DamageByReason) && SelectedDMGrsnDeparts != undefined && SelectedDMGrsnDeparts.length >0">
                            <div class="card p-2 shadow-sm w-100" style=" border-radius: 8px; background: #ffffff78;">
                                <div ng-repeat="item in SelectedDMGrsnDeparts">
                                    <div class="cursor-pointer" title="{{item.Emails}}"><b><u>{{item.ReportDepartment}}</u></b></div>
                                    <div class="depMessage" style="text-align: right; font-family: makdessi-regular">
                                        {{item.ArMessage}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            @*<div class="imageBox">
                                    <div class="Imgheader" title="{{c.Label}}">
                                        <b>{{c.Label}}</b>
                                    </div>
                                    <div class="ImgContent">
                                        <a ng-click="OpenImageView(c.Url,'ShowDamage',ShowDamageData)">  <img src="{{c.Url}}" style="height:50px!important" /></a>
                                    </div>
                                </div>*@

                            <ul class="Damage_Images">
                                <li ng-repeat="x in ShowDamageData.Images">
                                    <b>{{x.Label}}</b>
                                    <div class="Icon" ng-show="x.Url==null || x.Url==''">
                                        <span title="Open Camera" ng-click="OpenCam($index,'ShowDamageData')"><i class="icon-camera"></i></span>
                                        <label title="Upload Image" style="margin:0px;">
                                            <span><i class="icon-images2"></i></span>
                                            <input type="file" style="display:none" accept="image/*" id="Damg{{$index}}" index="{{$index}}" name="pic" accept="image/*" onchange="angular.element(this).scope().DamageImagesUpload(this,'ShowDamageData')">
                                        </label>

                                    </div>
                                    <div class="Icon" ng-show="x.Url!=null && x.Url!=''">
                                        <a title="View Image" ng-click="OpenImageView(x.Url,'ShowDamage',ShowDamageData)"><span><i class="icon-eye"></i></span></a>
                                        <span title="Delete Image" ng-click="RemoveDmageImage($index,'ShowDamageData')"><i class="icon-bin"></i></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">

                        <div class="col-md-12" style="text-align:end;" ng-show="ShowDamageDataApprovals">
                            <button ng-show="ApproveStatus == 1" class="btn btn-danger" data-dismiss="modal" ng-click="ShowConfirmation(ShowDamageData,false,true)">Reject</button>
                            <button ng-show="ApproveStatus == 1" class="btn btn-success" data-dismiss="modal" ng-click="ShowConfirmation(ShowDamageData,true,true)">Approve</button>
                            <button class="btn btn-primary" data-dismiss="modal">Cancel</button>
                        </div>
                        <div class="col-md-12" style="text-align:end;" ng-show="!ShowDamageDataApprovals">
                            <button class="btn btn-success" data-dismiss="modal" ng-click="ReplaceImages(ShowDamageData,'Damage','ShowDamageData')">Save Images</button>
                            <button class="btn btn-primary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Show Damage Report-->
    <!--Show BadStowage Report-->
    <div class="modal fade" id="ShowBadStowage" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="CloseModalBtn" data-dismiss="modal">
                    <button class="close" data-dismiss="modal" aria-label="Close"></button>
                    <i class="icon-cross"></i>
                </div>
                <div class="modal-header">
                    <h5 class="modal-title">Bad Stowage</h5>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-md-12 disgnerLabel">
                            <label>Stripping percentage </label>
                            <b style="float:right;">{{BadStowageData.strippingPercent}}</b>
                        </div>
                        <div class="col-md-12 disgnerLabel">
                            <label>Status</label>
                            <b ng-show="BadStowageData.ApproveStatus == 0 || BadStowageData.ApproveStatus == 1" style="float:right;" class="badge waitingForApprovalStatus">Waiting for approval</b>
                            <b ng-show="BadStowageData.ApproveStatus == 2" style="float: right;" class="badge approvedStatus">Approved</b>
                            <b ng-show="BadStowageData.ApproveStatus == 3" style="float: right;" class="badge rejectStatus">Rejected</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" ng-repeat="c in BadStowageData.Images">
                            <div class="imageBox">
                                <div class="Imgheader" title="{{c.Label}}">
                                    <b>{{c.Label}}</b>
                                </div>
                                <div class="ImgContent">
                                    <a ng-click="OpenImageView(c.Url,'ShowBadStowage',BadStowageData)">  <img src="{{c.Url}}" style="height:50px!important" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-12" style="text-align:end;">
                            <button ng-show="BadStowageData.ApproveStatus == 1" class="btn btn-danger" data-dismiss="modal" ng-click="BadStowageApproveAction(BadStowageData,false,true)">Reject</button>
                            <button ng-show="BadStowageData.ApproveStatus == 1" class="btn btn-success" data-dismiss="modal" ng-click="BadStowageApproveAction(BadStowageData,true,true)">Approve</button>
                            <button class="btn btn-primary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Show BadStowage Report-->
    <!--Execss Cargo Report-->
    <div class="modal fade" id="ExcessCargo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="CloseModalBtn" data-dismiss="modal">
                    <button class="close" data-dismiss="modal" aria-label="Close"></button>
                    <i class="icon-cross"></i>
                </div>
                <div class="modal-header">
                    <h5 class="modal-title">Excess cargo report</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 disgnerLabel">
                            <label>
                                Container #
                            </label>
                            <b style="float:right;" class="ng-binding">{{ShowExcessCargoData.Container}}</b>
                        </div>
                        <div class="col-md-12 disgnerLabel" ng-if="ShowExcessCargoData.bl_nbr != null">
                            <label>
                                B/L
                            </label>
                            <b style="float:right;" class="ng-binding">{{ShowExcessCargoData.bl_nbr}}</b>
                        </div>
                        <div class="col-md-12 disgnerLabel">
                            <label>
                                Cargo location
                            </label>
                            <b style="float:right;" class="ng-binding"> {{ShowExcessCargoData.Loaction}}</b>
                        </div>
                        <div class="col-md-12 disgnerLabel">
                            <label>Type</label>
                            <b style="float:right;" class="ng-binding">{{ShowExcessCargoData.Type}}</b>
                        </div>
                        <div class="col-md-12 disgnerLabel">
                            <label>Quantity</label>
                            <b style="float:right;" class="ng-binding">{{ShowExcessCargoData.Quantity}}</b>
                        </div>
                        @*/*Exam 5.9.2*/*@
                        <div class="col-md-12 disgnerLabel" ng-show="ShowExcessCargoData.ExamYardLocationOnApproval!=null">
                            <label>Exam yard location</label>
                            <b style="float:right;" class="ng-binding">{{ShowExcessCargoData.ExamYardLocationOnApproval}}</b>
                        </div>
                        <div class="col-md-12 disgnerLabel" ng-show="ShowExcessCargoData.ContainerTransfered==true">
                            <label>Transfer location</label>
                            <b style="float:right;" class="ng-binding">{{ShowExcessCargoData.TransferedLocation}}</b>
                        </div>
                        <div class="col-md-12 disgnerLabel" ng-show="ShowExcessCargoData.ContainerTransfered==true">
                            <label>Tranfer At</label>
                            <b style="float:right;" class="ng-binding">{{ShowExcessCargoData.TransferedAt | date:'dd/MM/yyyy HH:mm:ss'}}</b>
                        </div>
                        <div class="col-md-12 disgnerLabel" ng-show="ShowExcessCargoData.ContainerTransfered==true">
                            <label>Transfer By</label>
                            <b style="float:right;" class="ng-binding">{{ShowExcessCargoData.TransferedBy}}</b>
                        </div>
                        <div class="col-md-12 disgnerLabel">
                            <label>Excess cargo reason</label>
                            <b style="float:right;" class="ng-binding"> {{ShowExcessCargoData.ExcessCargoReason}}</b>
                        </div>
                        <div class="col-md-12 disgnerLabel">
                            <label>Truck #</label>
                            <b style="float:right;" class="ng-binding"> {{ShowExcessCargoData.TruckNo}}</b>
                        </div>

                        <div class="col-md-12 disgnerLabel">
                            <label>Status</label>
                            <b ng-show="ShowExcessCargoData.ApprovalStatus == 0" style="float:right;" class="badge inProgressStatus ng-hide">Inprogress</b>
                            <b ng-show="ShowExcessCargoData.ApprovalStatus == 1" style="float:right;" class="badge waitingForApprovalStatus ng-hide">Waiting for approval</b>
                            <b ng-show="ShowExcessCargoData.ApprovalStatus == 2" style="float: right;" class="badge approvedStatus ng-hide">Approved</b>
                            <b ng-show="ShowExcessCargoData.ApprovalStatus == 3" style="float: right;" class="badge rejectStatus ng-hide">Rejected</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            @*<div class="imageBox">
                                    <div class="Imgheader" title="{{c.Label}}">
                                        <b>{{c.Label}}</b>
                                    </div>
                                    <div class="ImgContent">
                                        <a ng-click="OpenImageView(c.Url, 'ExcessCargo',ShowExcessCargoData)">  <img src="{{c.Url}}" style="height:50px!important" /></a>
                                    </div>
                                </div>*@
                            <ul class="Damage_Images">
                                <li ng-repeat="x in ShowExcessCargoData.Images">
                                    <b>{{x.Label}}</b>
                                    <div class="Icon" ng-show="x.Url==null || x.Url==''">
                                        <span title="Open Camera" ng-click="OpenCam($index,'ShowExcessCargoData')"><i class="icon-camera"></i></span>
                                        <label title="Upload Image" style="margin:0px;">
                                            <span><i class="icon-images2"></i></span>
                                            <input type="file" style="display:none" accept="image/*" id="Damg{{$index}}" index="{{$index}}" name="pic" accept="image/*" onchange="angular.element(this).scope().DamageImagesUpload(this,'ShowExcessCargoData')">
                                        </label>

                                    </div>
                                    <div class="Icon" ng-show="x.Url!=null && x.Url!=''">
                                        <a title="View Image" ng-click="OpenImageView(x.Url,'ExcessCargo',ShowExcessCargoData)"><span><i class="icon-eye"></i></span></a>
                                        <span title="Delete Image" ng-click="RemoveDmageImage($index,'ShowExcessCargoData')"><i class="icon-bin"></i></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <div class="AdditionalServiceSection">
                                <table class="table text-center" ng-repeat="service in AdditionalServices">
                                    <thead>
                                        <tr class="">
                                            <th>{{GetAdditionalService(service,'field')}}</th>
                                            <th>NUMBERS USED</th>
                                            <th>HOURS</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="row in GetAdditionalService(service,'service')">
                                            <td width="50%"><span class="pl-15">{{row.field}}</span></td>
                                            <td class="p-0" width="25%">
                                                <select ng-model="row.NumberUsed" disabled>
                                                    <option ng-repeat="num in NumberList" ng-disabled="row.disable == true" ng-selected="row.NumberUsed==num" value="{{num}}">{{num}}</option>
                                                </select>
                                            </td>
                                            <td class="p-0" width="25%">
                                                <select ng-model="row.HourUsed" disabled>
                                                    <option ng-repeat="num in NumberList" value="{{num}}" ng-selected="row.HourUsed==num">{{num}}</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-12" style="text-align:end;" ng-show="ShowExcessCargoDataApprovals">
                            <button ng-show="ShowExcessCargoData.ApprovalStatus == 1" class="btn btn-danger" data-dismiss="modal" ng-click="ShowConfirmationExsCargo(ShowExcessCargoData,false,true)">Reject</button>
                            @*/*Exam 5.9.2*/*@
                            <button ng-show="ShowExcessCargoData.ApprovalStatus == 1" class="btn btn-success" data-dismiss="modal" ng-click="ShowConfirmationExsCargo(ShowExcessCargoData,true,true)">
                                Approve
                            </button>

                            <button ng-show="ShowExcessCargoData.ApprovalStatus == 2 &&  ShowExcessCargoData.ContainerTransfered==true" class="btn btn-secondary" data-dismiss="modal" ng-click="ShowDeliveryModal(ShowExcessCargoData)">
                                Update Delivery
                            </button>
                            <button ng-show="ShowExcessCargoData.ApprovalStatus == 2 &&  ShowExcessCargoData.ContainerTransfered==false" class="btn btn-secondary" data-dismiss="modal" ng-click="TransferExcessCargo(ShowExcessCargoData)">
                                Transfer
                            </button>
                            <button class="btn btn-primary" data-dismiss="modal">Cancel</button>
                        </div>
                        <div class="col-md-12" style="text-align:end;" ng-show="!ShowExcessCargoDataApprovals">
                            <button class="btn btn-success" ng-click="ReplaceImages(ShowExcessCargoData,'ExcessCargo','ShowExcessCargoData')">Save Images</button>
                            <button class="btn btn-primary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Execss Cargo Report-->
    <!--Delivery Update Modal-->
    <div class="modal fade" id="DeliveryUpdate" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="CloseModalBtn" data-dismiss="modal">
                    <button class="close" data-dismiss="modal" aria-label="Close"></button>
                    <i class="icon-cross"></i>
                </div>
                <div class="modal-header">
                    <h5 class="modal-title">Update Container Delivery</h5>
                </div>
                <div class="modal-body">
                    <form class="was-validated" name="DeliveryForm">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Cargo truck no</label>
                                    <input type="text" ng-model="DeliveryData.CargoTruckNo" maxlength="7" required class="form-control is-invalid" value="" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label class="Starick">Delivery Images</label>
                                <ul class="Damage_Images">
                                    <li ng-repeat="x in DeliveryData.Images">
                                        <b>{{x.Label}}</b>
                                        <div class="Icon" ng-show="x.Url==null || x.Url==''">
                                            <span title="Open Camera" ng-click="OpenCam($index,'DeliveryData')"><i class="icon-camera"></i></span>
                                            <label title="Upload Image" style="margin:0px;">
                                                <span><i class="icon-images2"></i></span>
                                                <input type="file" style="display:none" accept="image/*" id="Stowgae{{$index}}" index="{{$index}}" name="pic" accept="image/*" onchange="angular.element(this).scope().DamageImagesUpload(this,'DeliveryData')">
                                            </label>
                                        </div>
                                        <div class="Icon" ng-show="x.Url!=null && x.Url!=''">
                                            <a title="View Image" ng-click="OpenImageView(x.Url,'DeliveryUpdate',DeliveryData)"><span><i class="icon-eye"></i></span></a>
                                            <span title="Delete Image" ng-click="RemoveDeliveryImage($index)"><i class="icon-bin"></i></span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-12" style="text-align:end;">
                            <button class="btn btn-secondary" ng-disabled="DeliveryForm.$invalid" ng-click="SubmitExcessCargoDelivery()">
                                Update Delivery
                            </button>
                            <button class="btn btn-primary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Delivery Update Modal-->
    <!--Request Technician Report-->
    <div class="modal fade" id="ShowRequestTechnician" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="CloseModalBtn" data-dismiss="modal">
                    <button class="close" data-dismiss="modal" aria-label="Close"></button>
                    <i class="icon-cross"></i>
                </div>
                <div class="modal-header">
                    <h5 class="modal-title">Technician Request</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 disgnerLabel">
                            <label>
                                Container #
                            </label>
                            <b style="float:right;" class="ng-binding">{{ShowRequestTechnician.Cntr}}</b>
                        </div>
                        <div class="col-md-12 disgnerLabel" ng-if="ShowRequestTechnician.bl_nbr != null">
                            <label>
                                B/L
                            </label>
                            <b style="float:right;" class="ng-binding">{{ShowRequestTechnician.bl_nbr}}</b>
                        </div>
                        <div class="col-md-12 disgnerLabel">
                            <label>
                                Remraks
                            </label>
                            <b style="float:right;" class="ng-binding"> {{ShowRequestTechnician.Remarks}}</b>
                        </div>
                        <div class="col-md-12 disgnerLabel" ng-show="ShowRequestTechnician.Status == 2">
                            <label>
                                Approved at
                            </label>
                            <b style="float:right;" class="ng-binding"> {{ShowRequestTechnician.ApprovedAt | date:'dd/MM/yyyy HH:mm:ss'}}</b>
                        </div>
                        <div class="col-md-12 disgnerLabel" ng-show="ShowRequestTechnician.Status == 2">
                            <label>
                                Approved by
                            </label>
                            <b style="float:right;" class="ng-binding"> {{ShowRequestTechnician.ApprovedBy}}</b>
                        </div>
                        <div class="col-md-12 disgnerLabel">
                            <label>
                                Created at
                            </label>
                            <b style="float:right;" class="ng-binding"> {{ShowRequestTechnician.CreatedAt | date:'dd/MM/yyyy HH:mm:ss'}}</b>
                        </div>
                        <div class="col-md-12 disgnerLabel">
                            <label>
                                Created by
                            </label>
                            <b style="float:right;" class="ng-binding"> {{ShowRequestTechnician.CreatedBy}}</b>
                        </div>
                        <div class="col-md-12 disgnerLabel">
                            <label>
                                Technician expected date
                            </label>
                            <b style="float:right;" class="ng-binding"> {{ShowRequestTechnician.TechnicianExDate | date:'dd/MM/yyyy HH:mm:ss'}}</b>
                        </div>
                        <div class="col-md-12 disgnerLabel">
                            <label>
                                Technician phone number
                            </label>
                            <b style="float:right;" class="ng-binding"> {{ShowRequestTechnician.Techniciannumber}}</b>
                        </div>
                        <div class="col-md-12 disgnerLabel">
                            <label>Status</label>
                            <b ng-show="ShowRequestTechnician.Status == 0" style="float:right;" class="badge inProgressStatus ng-hide">Inprogress</b>
                            <b ng-show="ShowRequestTechnician.Status == 1" style="float:right;" class="badge waitingForApprovalStatus ng-hide">Waiting for approval</b>
                            <b ng-show="ShowRequestTechnician.Status == 2" style="float: right;" class="badge approvedStatus ng-hide">Approved</b>
                            <b ng-show="ShowRequestTechnician.Status == 3" style="float: right;" class="badge rejectStatus ng-hide">Rejected</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" ng-repeat="c in ShowRequestTechnician.Images">
                            <div class="imageBox">
                                <div class="Imgheader" title="{{c.Label}}">
                                    <b>{{c.Label}}</b>
                                </div>
                                <div class="ImgContent">
                                    <a ng-click="OpenImageView(c.Url, 'ShowRequestTechnician',ShowRequestTechnician)">  <img src="{{c.Url}}" style="height:50px!important" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-12" style="text-align:end;">
                            <button ng-show="ShowRequestTechnician.Status == 1" class="btn btn-danger" data-dismiss="modal" ng-click="ShowConfirmationRequestTechnician(ShowRequestTechnician,false,true)">Reject</button>
                            <button ng-show="ShowRequestTechnician.Status == 1" class="btn btn-success" data-dismiss="modal" ng-click="ShowConfirmationRequestTechnician(ShowRequestTechnician,true,true)">
                                Approve
                            </button>
                            <button class="btn btn-primary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Request Technician Report-->
    <!--Camera-->
    <div id="CamModel_small" data-backdrop="static" class="modal fade">
        <div class="modal-dialog" style=" width: 100% !important; margin: auto; max-width: 100%;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" style="font-weight:bolder"><i style="font-size: 18px;" class="icon-inbox"></i>Camera</h5>
                </div>
                <form action="#">
                    <div class="modal-body" style="text-align:center;max-height:80vh !important;">
                        <div id="my_camera" style="width:100% !important"></div>
                    </div>
                    <div class="modal-footer">
                        <a href=""><i class="icon-cross2 btn btn-secondary" title="Close" ng-click="cameClose()"></i></a>
                        <a href=""><i class="icon-switch2 btn btn-danger" title="Switch Camera" ng-click="SwitchCamera()"></i></a>
                        <a href=""><i class="icon-shutter btn btn-dark" title="Take Photo" ng-click="take_snapshot()"></i></a>
                        <a href=""><i class="icon-floppy-disk btn btn-success" title="Save Photo" ng-click="saveImage()"></i></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Camera-->
    <!--Additional Service Modal-->
    <div class="modal fade" id="ShowAdditionalServiceModal" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" style="overflow:visible !important">
                <div class="CloseModalBtn" data-dismiss="modal">
                    <button class="close" data-dismiss="modal" aria-label="Close"></button>
                    <i class="icon-cross"></i>
                </div>
                <div class="modal-header">
                    <h5 class="modal-title">Additional services while inspection</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="DetailsTable">
                                <tr>
                                    <th>Container#</th>
                                    <td>{{AdditionalServiceReport.Cntr}}</td>
                                </tr>
                                <tr>
                                    <th>Created By</th>
                                    <td>{{AdditionalServiceReport.CreatedBy}}</td>
                                </tr>
                                <tr>
                                    <th>Created At</th>
                                    <td>{{AdditionalServiceReport.CreatedAt | date:'dd/MM/yyyy HH:mm'}}</td>
                                </tr>
                                <tr>
                                    <th>Status</th>
                                    <td>
                                        <span ng-if="AdditionalServiceReport.ApproveStatus == 0" class="PendingApprovalEvent">Pending for approval</span>
                                        <span ng-if="AdditionalServiceReport.ApproveStatus == 1" class="Approvebadge">Approved</span>
                                        <span ng-if="AdditionalServiceReport.ApproveStatus == 2" class="RejectedApprovalEvent">Rejected</span>
                                    </td>
                                </tr>
                                <tr ng-if="AdditionalServiceReport.ApproveStatus != 0">
                                    <th ng-if="AdditionalServiceReport.ApproveStatus == 1">Approved At</th>
                                    <th ng-if="AdditionalServiceReport.ApproveStatus == 2">Rejected At</th>
                                    <td>{{AdditionalServiceReport.UpdatedAt | date:'dd/MM/yyyy HH:mm'}}</td>
                                </tr>
                                <tr ng-if="AdditionalServiceReport.ApproveStatus != 0">
                                    <th ng-if="AdditionalServiceReport.ApproveStatus == 1">Approved By</th>
                                    <th ng-if="AdditionalServiceReport.ApproveStatus == 2">Rejected By</th>
                                    <td>{{AdditionalServiceReport.UpdatedBy}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="AdditionalServiceSection">
                        <table class="table text-center" ng-repeat="service in AdditionalServices">
                            <thead>
                                <tr class="">
                                    <th>{{GetAdditionalService(service,'field')}}</th>
                                    <th>NUMBERS USED</th>
                                    <th>HOURS</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in GetAdditionalService(service,'service')">
                                    <td width="50%"><span class="pl-15">{{row.field}}</span></td>
                                    <td class="p-0" width="25%">
                                        <select ng-model="row.NumberUsed" ng-disabled="true">
                                            <option ng-selected="row.NumberUsed==num" ng-repeat="num in NumberList" value="{{num}}">{{num}}</option>
                                        </select>
                                    </td>
                                    <td class="p-0" width="25%">
                                        <select ng-model="row.HourUsed" ng-disabled="true">
                                            <option ng-repeat="num in NumberList" ng-selected="row.HourUsed==num" value="{{num}}">{{num}}</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-12" style="text-align:end;">
                            <button class="btn btn-danger"
                                    ng-show="CheckApproveBtnDisplayCondition(AdditionalServiceReport)"
                                    ng-click="ApproveAdditionalServiceReport(AdditionalServiceReport,'Reject')">
                                Reject
                            </button>
                            <button class="btn btn-success"
                                    ng-show="CheckApproveBtnDisplayCondition(AdditionalServiceReport)"
                                    ng-click="ApproveAdditionalServiceReport(AdditionalServiceReport,'Approve')">
                                Approve
                            </button>
                            <button class="btn btn-primary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_InspDelay")
    <!--Additional Service Modal end-->

    <div class="modal fade" id="ShowRiskTypeModel" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="CloseModalBtn" data-dismiss="modal">
                    <i data-dismiss="modal" class="icon-cross"></i>
                </div>
                <div class="modal-header">
                    <div class="w-100">
                        <h5 class="modal-title">
                            #{{RiskReport.Cntr}} Risk Report
                            <span ng-if="RiskReport.ApproveStatus == 1" class="PendingApprovalEvent pull-right">Pending for approval</span>
                            <span ng-if="RiskReport.ApproveStatus == 2" class="Approvebadge pull-right">Approved</span>
                            <span ng-if="RiskReport.ApproveStatus == 3" class="RejectedApprovalEvent pull-right">Rejected</span>
                        </h5>
                        <span class="modal-title-description">{{EventDetails}}</span>
                    </div>
                </div>
                <div class="modal-body" style=" letter-spacing: 0.8px; max-height: 500px; overflow:auto">
                    <div class="row">
                        <table class="DetailsTable">
                            <tr>
                                <th>Container</th>
                                <td><span>{{RiskReport.Cntr}}</span></td>
                            </tr>
                            <tr>
                                <th>Risk Type</th>
                                <td>
                                    <span ng-if="RiskReport.RiskType == 'Low'" class="Approvebadge">Low</span>
                                    <span ng-if="RiskReport.RiskType == 'High'" class="RejectedApprovalEvent">High</span>
                                </td>
                            </tr>
                            <tr ng-show="!stringNullorEmpty(RiskReport.RiskReason)">
                                <th>High risk Type</th>
                                <td><span>{{RiskReport.RiskReason}}</span></td>
                            </tr>
                            <tr>
                                <th>Recorded by</th>
                                <td><span>{{RiskReport.CreatedBy}}</span></td>
                            </tr>
                            <tr>
                                <th>Recorded At</th>
                                <td><span>{{RiskReport.CreatedAt | date:'dd/MM/yyyy HH:mm:ss'}}</span></td>
                            </tr>
                            <tr ng-if="RiskReport.ApproveStatus != 1">
                                <th>
                                    <span ng-if="RiskReport.ApproveStatus==2">Approved by</span>
                                    <span ng-if="RiskReport.ApproveStatus==3">Rejected by</span>
                                </th>
                                <td><span>{{RiskReport.UpdatedBy}}</span></td>
                            </tr>
                            <tr ng-if="RiskReport.ApproveStatus != 1">
                                <th>
                                    <span ng-if="RiskReport.ApproveStatus==2">Approved At</span>
                                    <span ng-if="RiskReport.ApproveStatus==3">Rejected At</span>
                                </th>
                                <td><span>{{RiskReport.UpdatedAt | date:'dd/MM/yyyy HH:mm:ss'}}</span></td>
                            </tr>
                            <tr ng-repeat="Libphoto in RiskReport.PhotoLibrary track by $index">
                                <th>{{Libphoto.Label}}</th>
                                <td ng-show="Libphoto.Url!='Required'">
                                    <div ng-click="OpenImageView(Libphoto.Url, 'ShowRiskTypeModel')" class="viewImag d-inline-block"><i class="icon-eye"></i> View </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="modal-footer" style=" padding: 9px; ">
                    <div ng-show="RiskReport.ApproveStatus == 1">
                        <button class="btn btn-danger mr-2" ng-click="ApproveRejectRiskReport(RiskReport,'Reject',true)" data-dismiss="modal">Reject</button>
                        <button class="btn btn-primary" ng-click="ApproveRejectRiskReport(RiskReport,'Approve',true)" data-dismiss="modal">Approve</button>

                    </div>                    
                    <button class="btn btn-reset" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <div id="overlay" style="flex-direction:column">
        @*<span id="close-btn" ng-click="closeOverlay()">&#10006;</span>
            <div style="height:90vh;overflow:auto;width:100%;text-align:center;">
                <img src="" id="LargeImageView" alt="Image">
            </div>*@
        <div id="zoomContainer">
            <img id="zoomImg" src="" alt="Zoomable" />
            <span id="close-btn" ng-click="closeOverlay()">&#10006;</span>
            <div class="zoom-controls">
                <button id="zoomIn">+</button>
                <button id="zoomOut">−</button>
                <button id="zoomReset">Reset</button>
            </div>
        </div>
        <br />
        <table class="sliderNav">
            <tr>
                <td ng-repeat="c in SliderImages" ng-show="c.Url!=null && c.Url!='' && c.Url">
                    <img ng-class="{'Active': CurrentopenUrl == c.Url}"
                         ng-click="OpenImageView(c.Url, currentmodalId,currentOBJ)"
                         src="{{c.Url}}"
                         class="thumbnail" />
                    <div class="image-name">{{c.Label}}</div>
                </td>
            </tr>
        </table>
    </div>


</div>

<script>
    //Hide Side Menu
    window.onload = function () {
        document.getElementById('minisidebar').className = 'sidebar-xs';
    };


</script>

<script src="@Url.Content("~/Scripts/crypto-js.min.js")"></script>
<script src="~/Content/popup/jquery-confirm.min.js"></script>
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/webcam.min.js"></script>
<script src="~/Content/ZoomInOut/ZoomInOut.js"></script>
<script>
    $(document).ready(function () {
        var o = new SlimSelect({
            select: '#Occ',
            placeholder: 'Select Occures',
            showSearch: true,
            allowDeselect: true,
        });
    });
    window.addEventListener('click', function (e) {
        var Target = $(e.target).hasClass('optionIcon');
        var Targetparent = $(e.target).parent().hasClass('optionIcon');
        if (!Targetparent && !Target) {
            $('.DropOptionParent').css('display', 'none');
        }
    });
</script>

<script>


    const inputElement = document.getElementById('customInput');

    inputElement.addEventListener('input', function (event) {
        const inputValue = inputElement.value;
        const sanitizedValue = inputValue.replace(/[^0-9A-Za-z]/g, '').toUpperCase();

        if (sanitizedValue.length > 7) {
            inputElement.value = sanitizedValue.substring(0, 7);
        } else {
            inputElement.value = sanitizedValue;
        }
    });

    inputElement.addEventListener('keypress', function (event) {
        const inputValue = event.key;

        if (inputElement.value.length < 4 && !/\d/.test(inputValue)) {
            event.preventDefault();
        } else if (inputElement.value.length >= 4 && !/[A-Za-z]/.test(inputValue)) {
            event.preventDefault();
        }
    });





   

    var element = document.getElementById('RecordServices');
    element.classList.add("Active");

</script>
