
@{
    ViewBag.Title = "PendingEvents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/BootsrapDatetime/bootstrap-material-datetimepicker.css" rel="stylesheet" />
<link href="~/Content/BootsrapDatetime/css.css" rel="stylesheet" />
<link href="~/Content/BootsrapDatetime/icon.css" rel="stylesheet" />
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Content/BootsrapDatetime/ripples.min.js"></script>
<script src="~/Content/BootsrapDatetime/material.min.js"></script>
<script src="~/Scripts/js/plugins/moment/moment_locales.min.js"></script>
<script src="~/Content/BootsrapDatetime/bootstrap-material-datetimepicker.js"></script>
<style>
    .icon-eye {
        font-size: 20px;
        cursor: pointer;
    }

    .ss-main .ss-multi-selected {
        min-height: 38px !important;
    }

    .ss-add {
        /*margin: auto !important;*/
        padding-right: 12px;
        font: bold;
    }
    .ss-main .ss-multi-selected .ss-values .ss-value {
        background-color: #455a64;
    }

    .dtp div.dtp-date, .dtp div.dtp-time {
        background: #01213d !important;
    }

    .dtp .p10 > a {
        color: #ffffff !important;
    }

    .dtp table.dtp-picker-days tr > td > a.selected {
        background: #01213d !important;
        color: #fff;
    }

    .dtp > .dtp-content > .dtp-date-view > header.dtp-header {
        background: #083358 !important;
    }
</style>
<div class="ng-cloak" ng-controller="ExamActivtiyPendingEventsCtrl" ng-init="PendingEvent_PageInit()">


    <br />

    <div class="page-header border-bottom-0">
        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4><i class="icon-stack-text mr-2"></i><span class="font-weight-semibold">Pending Events</span></h4>
            </div>
            <div class="page-title d-flex">
                <input type="button" class="btn btn-secondary  pull-right ml-2" value="Filters" data-bs-toggle="collapse" data-bs-target="#demo" />
            </div>
        </div>
    </div>
    <hr />

    <!--Search Filter Code Start-->
    <div class="card collapse mt-2" id="demo">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Cotnainer</label>
                        <input type="text" maxlength="200" onkeyup="TableRowsCount()" min="1" class="form-control" placeholder="Search container here.." ng-model="search.ContainerNo" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Event Name</label>
                        <input type="text" maxlength="200" onkeyup="TableRowsCount()" min="1" class="form-control" placeholder="Search Event Name here.." ng-model="search.PendingEvent" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Search Filter Code End-->

    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="CounterCard">
                <b>Total item: </b>  <span id="counts">{{(PendingEventList | filter: search).length}}</span>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="card table-card scrollbar w-100">
            <table class="table datatable-show-all" id="Table">
                <thead>
                    <tr class="table-card-head">

                        <th>Sr#</th>
                        <th>Container #</th>
                        <th>Event Name</th>
                        <th>Request Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in PendingEventList | filter: search">

                        <td>{{$index+1}}</td>
                        <td style="text-align:left;">{{item.ContainerNo}}</td>
                        <td style="text-align:left;">{{item.PendingEvent}}</td>
                        <td style="text-align:left;">{{item.CreatedAt | date:'dd-MM-yyyy HH:mm:ss' }}</td>
                        <td>
                            <div class="list-icons">
                                <a class="list-icons-item color-gray" ng-click="PendingEvent_OpenUpdateModal(item)"><i class="icon-pencil5" title="Update Events"></i></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>



    <!--Update Page Start--->
    <div data-backdrop="static" data-bs-keyboard="false" class="modal fade" id="PendingEvent_UpdateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="min-width:30% !important;width:0px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Update Pending Event</h5>
                    <button type="button" ng-click="CloseModal()" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="icon-cross"></i>
                    </button>
                </div>
                <div class="modal-body" style=" letter-spacing: 0.8px;">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Event value</label>
                            <div class="input-group">
                                <input type="text" class="form-control date" id="PendingEventDatetime" placeholder="DD/MM/YYYY HH:mm" required readonly>
                                <span class="input-group-append">
                                    <span class="input-group-text"><i class="icon-calendar"></i></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="updatePendingEvent(PendingEventObj)">Update</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--Update Page End-->

</div>

<script>
    $('.date').bootstrapMaterialDatePicker({
        format: 'DD/MM/YYYY HH:mm',
    });
</script>
