
@{
    ViewBag.Title = "PendingApprovalReports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    .floatBottom {
        margin-top: 10px;
    }

    .timeHeader {
        background: #00946b;
        padding: 15px;
        color: white;
        font-size: 17px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

    .tab {
        overflow: hidden;
        /*border: 1px solid #ccc;
        background-color: #f1f1f1;*/
    }

    .tabheading {
        padding: 10px;
        background: #00946b;
        color: white;
    }
    /* Style the buttons inside the tab */
    .tab button {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        background: #e9e9e9;
        padding: 15px;
        /*float: left;*/
        border: none;
        outline: none;
        cursor: pointer;
        /*padding: 14px 16px;*/
        transition: 0.3s;
        font-size: 13px;
    }
        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #00946b;
            color: white;
            font-size: 13px;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            background-color: #00946b !important;
            color: white;
            font-size: 13px;
        }

    .tab button {
        width: 100%;
    }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 0px 10px;
        /*border: 1px solid #ccc;*/
        border-top: none;
    }

    .badgeRequired {
        /*position: fixed!important;*/
    }


    .truncate {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 90px;
    }



    .badge {
        /*font-size: 12px;*/
        width: auto !important;
    }

    .alertify .ajs-footer {
        display: none;
    }

    a {
        cursor: pointer !important;
    }



    .setShortWidth {
        min-width: 70px !important;
    }
    /*Toggle button*/
    .checkbox {
        display: none;
    }

    .switch {
        align-items: center;
        background-color: gray;
        border-radius: 500px;
        cursor: pointer;
        display: flex;
        height: 26px;
        justify-content: space-between;
        padding: 0 10px;
        position: relative;
        user-select: none;
        width: 100px;
    }

    .checkbox:checked ~ .switch {
        background-color: #00946b;
    }

    .checkbox:not(:checked) ~ .switch {
        background-color: var( --dpw-bg-color);
        border: var( --dpw-bg-color) 3px solid;
    }

    .switch__left,
    .switch__right {
        color: white;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .checkbox:checked ~ .switch .switch__left {
        visibility: hidden;
        width: 0px;
    }

    .checkbox:not(:checked) ~ .switch .switch__right {
        visibility: hidden;
    }

    .switch__circle {
        height: 30px;
        padding: 5px;
        position: absolute;
        transition: all 0.1s linear;
        width: 30px;
    }

    .checkbox:checked ~ .switch .switch__circle {
        left: -2px;
        right: calc(100% - 40px);
    }

    .checkbox:not(:checked) ~ .switch .switch__circle {
        left: calc(100% - 26px);
        right: 0;
    }

    .switch__circle-inner {
        background-color: white;
        border-radius: 50%;
        display: block;
        height: 100%;
        width: 100%;
    }

    .Blocks {
        padding: 14px;
        box-shadow: 1px 3px 3px 1px gray;
    }

    button.btn.btn-primary.active {
        background: #00946b !important
    }

    .Blocks:hover {
        box-shadow: none;
        background: #00946b
    }

    .Cardtabs {
        width: auto !important;
        display: inline-block;
        margin: 15px;
    }

    .Absoulte {
        position: absolute;
        height: 0px;
        width: 56px;
    }

    .CountBadge {
        position: relative;
        z-index: 999;
        color: #ffffff;
        padding: 0px 5px;
        background: #F44336;
        border-radius: 10px;
        float: right;
        bottom: 10px;
        left: 5px;
        width: fit-content;
        box-shadow: 1px 1px 5px -1px #000000cc;
    }

    .collapsible-link {
        width: 100%;
        position: relative;
        text-align: left;
    }

    #CntrTableHeader tr {
        background: var( --dpw-bg-color);
        color: #fff;
    }

    #CntrTableHeader td {
        text-align: left
    }

    #CardInnerTable {
        padding: 0;
    }

        #CardInnerTable tr {
            border: none;
        }

        #CardInnerTable td {
            text-align: left !important;
            border: none;
        }

    .event-table {
        max-height: 300px;
        overflow: auto;
    }

    .pad-5 {
        padding: 5px !important;
    }

    .m-0 {
        margin: 0 !important;
    }

    .evnetBox {
        padding: 11px;
        border: 2px solid #d1d1d145;
        margin: 5px;
        color: #7a7a7a;
        border-radius: 3px;
        background: whitesmoke;
        box-shadow: 1px 1px 1px #cbc9c9;
    }

        .evnetBox.Active {
            background: #00946b1f !important;
            border: 1px solid #00946b;
        }

    .Custom-Card {
        margin-bottom: 15px !important;
        padding: 16px 25px;
        border-radius: 7px !important;
        border: 1px solid #b8b8b866 !important;
        box-shadow: -2px -2px 3px 0px inset #989898a1;
        background: #fff;
    }

        .Custom-Card .card-header {
            background: none !important;
            border: 0;
        }

        .Custom-Card td {
            padding: 4px 10px;
        }

    .eventCheckBox {
        float: right;
        transform: scale(1.5);
        margin-top: 4px;
    }

    .EventNameTruncate {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 80%;
    }

    .CloseModalBtn {
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 45px;
        text-decoration: none;
        font-weight: bold;
        box-shadow: 1px 1px 3px #000;
        transition: all .3s;
        height: 45px;
        border-radius: 50%;
        font-size: 25px !important;
        padding: 8px;
        cursor: pointer
    }

    .close {
        display: none;
    }

    .CloseModalBtn .fa-times-circle-o {
        color: #ffff !important;
    }

    .modal-content {
        background-color: #f4f2fa !important;
        border-radius: 16px !important;
        box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%), 0 12.5px 10px rgb(0 0 0 / 6%), 0 22.3px 17.9px rgb(0 0 0 / 7%), 0 41.8px 33.4px rgb(255 255 255 / 9%), 0 100px 80px rgb(255 255 255 / 12%);
    }

    .modal-header {
        text-align: center;
        border-bottom: none !important;
        justify-content: center !important;
    }

    .modal-title {
        color: #3e1db3;
        font-weight: bolder !important;
        font-size: 24px;
        padding-top: 12px;
        padding-bottom: 4px;
        display: inline-block;
    }

    .modal-footer {
        border-top: none !important;
        align-content: center;
        text-align: center;
    }

    .badge {
        font-size: 15px;
        width: 100% !important;
        border-radius: 4px !important;
    }

    .waitingForApprovalStatus {
        color: #fdfdfd;
        background-color: #769aff !important;
        font-weight: bolder;
        border: 1px solid #769aff;
    }

    .badge {
        font-size: 15px;
        width: 183px !important;
        border-radius: 4px !important;
    }

    .inProgressStatus {
        color: #212529;
        background-color: #fff816 !important;
        font-weight: bolder;
        border: 1px solid #fff816;
    }

    .approvedStatus {
        background-color: #198754 !important;
        font-weight: bolder;
        border: 1px solid #198754;
    }

    .rejectStatus {
        background-color: #dc3545 !important;
        font-weight: normal;
        border: 1px solid #dc3545;
        color: white !important;
    }

    .badge {
        width: fit-content !important;
    }

    .iconsection i {
        font-size: 24px;
        float: right;
        padding: 4px 8px;
        border: 1px solid;
        margin-right: 8px;
        border-radius: 8px;
        cursor: pointer;
        box-shadow: 1px 2px 4px;
    }

    .iconsection .icon-eye {
        color: #1e1450;
    }

        .iconsection .icon-eye:hover {
            background: #1e1450;
            color: #fff;
            transition: 0.5s ease;
        }

    .iconsection .icon-checkmark4 {
        color: green;
    }

        .iconsection .icon-checkmark4:hover {
            background: green;
            color: #fff;
            transition: 0.5s ease;
        }

    .iconsection .icon-cross {
        color: red;
    }

        .iconsection .icon-cross:hover {
            background: red;
            color: #fff;
            transition: 0.5s ease;
        }

    .iconsection i {
        margin-top: 10px !important;
        font-size: 15px;
        margin-bottom: 11px;
    }

    .accordion {
        width: 100%;
    }

    .RejectCard {
        display: flex;
        justify-content: space-between;
        padding: 8px 19px;
        vertical-align: middle;
        align-items: center;
        background: #ff000021;
        border-radius: 7px;
        border: 1px solid #e00000;
        box-shadow: 2px 2px 5px -4px inset;
        flex-wrap: wrap;
    }

        .RejectCard .CardDetails {
            font-size: 16px;
            font-weight: 500;
        }

    .CardAction {
        margin-left: auto;
    }

    .modaltable tr {
        border-bottom: 1px solid #eaeaea;
    }

        .modaltable tr td, .modaltable tr th {
            background: transparent !important;
            padding: 8px;
            width: 50%;
        }

    .CloseModalBtn {
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 45px;
        text-decoration: none;
        font-weight: bold;
        box-shadow: 1px 1px 3px #000;
        transition: all .3s;
        height: 45px;
        border-radius: 50%;
        font-size: 25px !important;
        padding: 8px;
        cursor: pointer;
        background: var( --dpw-bg-color);
    }

    .modaltable {
        width: 100%;
        margin-bottom: 25px;
    }

    .imageBox {
        border: 1px solid var( --dpw-bg-color)38;
        border-radius: 9px !IMPORTANT;
        overflow: hidden;
        background: #f2f2f2 !IMPORTANT;
        margin-bottom: 10px;
        padding: 0px !important;
    }

    .Imgheader {
        padding: 3px 13px;
        background: var( --dpw-bg-color);
        color: white;
        text-align: center;
        font-weight: 200;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .ImgContent {
        padding: 14px;
        text-align: center;
    }
</style>


<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/js/plugins/moment/moment_locales.min.js"></script>
<link href="~/Scripts/SlimSelect/SlimSelectCustomStyle.css" rel="stylesheet" />
<link href="~/Scripts/SlimSelect/slimselect.min.css" rel="stylesheet" />
<script src="~/Scripts/SlimSelect/slimselect.min.js"></script>


<div ng-controller="ExamRejectedReportsCtrl" ng-init="init()" class="PendingApproveReport">


    <div class="row ng-cloak" style="margin-top: 13px!important;" ng-cloak>
        <div class="col-md-12">
            <!--Tab Code Start -->
            <div class="tab">
                <div class="row">
                    <div class="col-md-2 text-center ">
                        <button class="tablinks active" id="Exam_CntrDamageLogs" ng-click="GetRejectedBlock('Exam_CntrDamageLogs',true)"><i class="icon-task mr-2"></i> Damage <span class="CountBadge">{{RejectedReportsCount.DamageStatus}}</span></button>
                    </div>
                    <div class="col-md-2 text-center ">
                        <button class="tablinks" id="Exam_CntrBadStowageLogs" ng-click="GetRejectedBlock('Exam_CntrBadStowageLogs',true)"><i class="icon-file-check mr-2"></i> Bad stowage <span class="CountBadge">{{RejectedReportsCount.BadStowageStatus}}</span></button>
                    </div>
                    <div class="col-md-2 text-center ">
                        <button class="tablinks" id="ExamActivity_ExcessCargo" ng-click="GetRejectedBlock('ExamActivity_ExcessCargo',true)"><i class="icon-file-check mr-2"></i> Excess cargo <span class="CountBadge">{{RejectedReportsCount.ExcessCargoStatus}}</span></button>
                    </div>
                    <div class="col-md-2 text-center ">
                        <button class="tablinks" id="ExamActivityRequest_Technician" ng-click="GetRejectedBlock('ExamActivityRequest_Technician',true)"><i class="icon-file-check mr-2"></i> Request technician <span class="CountBadge">{{RejectedReportsCount.RequestTechnicianStatus}}</span></button>
                    </div>
                    <div class="col-md-2 text-center ">
                        <button class="tablinks" id="ExamActivity_DifficultToStrip" ng-click="GetRejectedBlock('ExamActivity_DifficultToStrip',true)"><i class="icon-file-check mr-2"></i> Difficult to Strip <span class="CountBadge">{{RejectedReportsCount.DifficultToStripStatus}}</span></button>
                    </div>
                </div>
            </div>
            <!--Tab Code End -->
        </div>

        <!---Block-->
        <div class="card mt-2 mt-2" id="Block">
            <div class="card-header" style=" background: var( --dpw-bg-color); color: white; padding: 8px;">
                <h5 class="mt-2">Select Block</h5>
            </div>
            <div class=" card-body shadow">
                <div class="row">
                    <div class="Cardtabs" ng-repeat="B in BlockList">
                        <div class="Absoulte">
                            <div class="CountBadge">{{B.CntrCount}}</div>
                        </div>
                        <button ng-click="GetRejctedConatiner(B.Block,true)" ng-class="{'active' : B.Block == CurrentBlock }" class="btn btn-primary Blocks" value="{{B.Block}}">{{B.Block}} </button>
                    </div>
                </div>
            </div>
        </div>
        <!---Block-->
        <!---Container-->

        <div class="accordion" id="accordionExample" ng-if="!stringNullorEmpty(ContainerList)">
            <div class="card Custom-Card m-0" ng-repeat="x in ContainerList | filter :search" style="overflow:visible">
                <div class="" id="heading{{$index}}" data-toggle="collapse" data-target="#collapse{{$index}}">
                    <div class="collapsible-link">
                        <div class="row">
                            <div class="col-md-8 col-lg-8 col-sm-8 col-xs-12">
                                <div style="display:inline-block">
                                    <img style="height:50px;" src="~/Content/images/output-onlinepngtools.png" />
                                </div>
                                <div style="display: inline-block; position: relative; top: 10px; left: 5px; font-family: 'Pilat Wide';">
                                    {{x.Cntr}}
                                    <br />
                                    <span style="font-size: 11px; color: #898989;">{{x.Location}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-12 col-sm-12 collapse p-3" id="collapse{{$index}}" data-parent="#accordionExample">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-12 mb-2" ng-repeat="z in x.Rejection">
                            <div class="RejectCard">
                                <div class="CardDetails">
                                    <div>{{z.RejectBy}}</div>
                                    <small>{{z.RejectAt | date :'dd/mm/yyyy HH:mm:ss'}}</small>
                                </div>
                                <div ng-show="CurrentTable=='Exam_CntrDamageLogs'" class="CardAction" ng-click="DamageReport(z.Id)">
                                    <span><i style="color: #c30303;cursor:pointer; " class="icon-info22"></i></span>
                                </div>
                                <div ng-show="CurrentTable=='Exam_CntrBadStowageLogs'" class="CardAction" ng-click="BadStowageReport(z.Id)">
                                    <span><i style="color: #c30303;cursor:pointer; " class="icon-info22"></i></span>
                                </div>
                                <div ng-show="CurrentTable=='ExamActivity_ExcessCargo'" class="CardAction" ng-click="ExcessCragoReport(z.Id)">
                                    <span><i style="color: #c30303;cursor:pointer; " class="icon-info22"></i></span>
                                </div>
                                <div ng-show="CurrentTable=='ExamActivityRequest_Technician'" class="CardAction" ng-click="RequestTechnician(z.Id)">
                                    <span><i style="color: #c30303;cursor:pointer; " class="icon-info22"></i></span>
                                </div>
                               <div ng-show="CurrentTable=='ExamActivity_DifficultToStrip'" class="CardAction" ng-click="DifficultToStrip(z.Id)">
                                    
                                    <span><i style="color: #c30303;cursor:pointer; " class="icon-info22"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!---Container-->
    </div>
    <!--BadStowage-->
    <div class="modal fade" id="ShowBadStowage" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="CloseModalBtn" data-dismiss="modal" aria-label="Close">
                    <button class="close" data-dismiss="modal" aria-label="Close"></button>
                    <i class="icon-cross"></i>
                </div>
                <div class="modal-header">
                    <h5 class="modal-title">
                        Bad Stowage report
                    </h5>

                </div>
                <div class="modal-body" style="max-height:70vh !important; overflow-y:auto">
                    <table class="modaltable">
                        <tr>
                            <th class="">Damage By</th>
                            <td class="">{{ShowBadStowageData.BadStowage_Occures}}</td>
                        </tr>
                        <tr>
                            <th class="">Damage Type</th>
                            <td class="">{{ShowBadStowageData.Dmage_Type}}</td>
                        </tr>
                        <tr>
                            <th class="">Stripping percentage</th>
                            <td class="">{{ShowBadStowageData.StrippingPercentage}}</td>
                        </tr>
                        <tr>
                            <th class="">Rejceted By</th>
                            <td class="">{{ShowBadStowageData.UpdatedBy}}</td>
                        </tr>
                        <tr>
                            <th class="">Rejceted At</th>
                            <td class="">{{ShowBadStowageData.UpdatedAt}}</td>
                        </tr>
                        <tr>
                            <th class="">Rejceted Reason</th>
                            <td class="">{{ShowBadStowageData.RejectedRemarks}}</td>
                        </tr>
                        <tr>
                            <th class="">Submitted By</th>
                            <td class="">{{ShowBadStowageData.CreatedBy}}</td>
                        </tr>
                        <tr>
                            <th class="">Submitted At</th>
                            <td class="">{{ShowBadStowageData.CreatedAt}}</td>
                        </tr>
                        <tr>
                            <th class="">Status</th>
                            <td class="">
                                <b class="badge rejectStatus">Rejected</b>
                            </td>
                        </tr>
                    </table>
                    <div class="row">
                        <div class="col-md-12 disgnerLabel">
                            <label>Remarks</label>
                            <textarea class="form-control" maxlength="500" placeholder="Optional" readonly rows="4">{{ShowBadStowageData.BadStowage_Remarks}}</textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" ng-repeat="c in ShowBadStowageData.Images">
                            <div class="imageBox">
                                <div class="Imgheader" title="{{c.Label}}">
                                    <b>{{c.Label}}</b>
                                </div>
                                <div class="ImgContent" ng-click="OpenImageView(c.Url,'ShowBadStowage')">
                                    <img src="{{c.Url}}" style="height:50px!important;cursor:pointer" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-12" style="text-align:end;">
                            <button class="btn btn-cancel" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Damage-->
    <div class="modal fade" id="ShowDamage" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="CloseModalBtn" data-dismiss="modal" aria-label="Close">
                    <button class="close" data-dismiss="modal" aria-label="Close"></button>
                    <i class="icon-cross"></i>
                </div>
                <div class="modal-header">
                    <h5 class="modal-title">
                        Damage report
                    </h5>

                </div>
                <div class="modal-body" style="max-height:70vh !important; overflow-y:auto">
                    <table class="modaltable">
                        <tr>
                            <th class="">Damage By</th>
                            <td class="">{{ShowDamageData.DamageBy}}</td>
                        </tr>
                        <tr>
                            <th class="">Damage Type</th>
                            <td class="">{{ShowDamageData.DamageType}}</td>
                        </tr>
                        <tr>
                            <th class="">Rejceted By</th>
                            <td class="">{{ShowDamageData.UpdatedBy}}</td>
                        </tr>
                        <tr>
                            <th class="">Rejceted At</th>
                            <td class="">{{ShowDamageData.UpdatedAt}}</td>
                        </tr>
                        <tr>
                            <th class="">Rejceted Reason</th>
                            <td class="">{{ShowDamageData.RejectedRemarks}}</td>
                        </tr>
                        <tr>
                            <th class="">Submitted By</th>
                            <td class="">{{ShowDamageData.CreatedBy}}</td>
                        </tr>
                        <tr>
                            <th class="">Submitted At</th>
                            <td class="">{{ShowDamageData.CreatedAt}}</td>
                        </tr>
                        <tr>
                            <th class="">Status</th>
                            <td class="">
                                <b class="badge rejectStatus">Rejected</b>
                            </td>
                        </tr>
                    </table>
                    <div class="row">
                        <div class="col-md-12 disgnerLabel">
                            <label>Remarks</label>
                            <textarea class="form-control" maxlength="500" placeholder="Optional" readonly rows="4">{{ShowDamageData.Remarks}}</textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" ng-repeat="c in ShowDamageData.Images">
                            <div class="imageBox">
                                <div class="Imgheader" title="{{c.Label}}">
                                    <b>{{c.Label}}</b>
                                </div>
                                <div class="ImgContent" ng-click="OpenImageView(c.Url,'ShowDamage')">
                                    <img src="{{c.Url}}" style="height:50px!important;cursor:pointer" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-12" style="text-align:end;">
                            <button class="btn btn-cancel" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--ExcessCrago-->
    <div class="modal fade" id="ShowExcessCrago" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="CloseModalBtn" data-dismiss="modal" aria-label="Close">
                    <button class="close" data-dismiss="modal" aria-label="Close"></button>
                    <i class="icon-cross"></i>
                </div>
                <div class="modal-header">
                    <h5 class="modal-title">
                        Excess Cargo report
                    </h5>

                </div>
                <div class="modal-body" style="max-height:70vh !important; overflow-y:auto">
                    <table class="modaltable">
                        <tr>
                            <th class="">Broker Number</th>
                            <td class="">{{ShowExcessCragoData.BrokerNumb}}</td>
                        </tr>
                        <tr>
                            <th class="">Broker Name</th>
                            <td class="">{{ShowExcessCragoData.BrokerName}}</td>
                        </tr>
                        <tr>
                            <th class="">Type of Cargo</th>
                            <td class="">{{ShowExcessCragoData.Type}}</td>
                        </tr>
                        <tr>
                            <th class="">Quantity of Cargo</th>
                            <td class="">{{ShowExcessCragoData.Quantity}}</td>
                        </tr>
                        <tr>
                            <th class="">Container detained by</th>
                            <td class=""><a target="_blank" style="background: var( --dpw-bg-color); color: white; padding: 6px; border-radius: 3px; " href="{{ShowExcessCragoData.Detainedsign}}">View Signature</a></td>
                        </tr>
                        <tr>
                            <th class="">Rejceted By</th>
                            <td class="">{{ShowExcessCragoData.UpdatedBy}}</td>
                        </tr>
                        <tr>
                            <th class="">Rejceted At</th>
                            <td class="">{{ShowExcessCragoData.UpdatedAt |date :'dd/mm/yyyy HH:mm:ss'}}</td>
                        </tr>
                        <tr>
                            <th class="">Submitted By</th>
                            <td class="">{{ShowExcessCragoData.CreatedBy}}</td>

                        </tr>
                        <tr>
                            <th class="">Submitted At</th>
                            <td class="">{{ShowExcessCragoData.CreatedAt |date :'dd/mm/yyyy HH:mm:ss'}}</td>
                        </tr>
                        <tr>
                            <th class="">Status</th>
                            <td class="">
                                <b class="badge rejectStatus">Rejected</b>
                            </td>
                        </tr>
                    </table>
                    <div class="row">
                        <div class="col-md-12 disgnerLabel">
                            <label>Remarks</label>
                            <textarea class="form-control" maxlength="500" placeholder="Optional" readonly rows="4">{{ShowExcessCragoData.BadStowage_Remarks}}</textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" ng-repeat="c in ShowExcessCragoData.Images">
                            <div class="imageBox">
                                <div class="Imgheader" title="{{c.Label}}">
                                    <b>{{c.Label}}</b>
                                </div>
                                <div class="ImgContent" ng-click="OpenImageView(c.Url,'ShowExcessCrago')">
                                    <img src="{{c.Url}}" style="height:50px!important;cursor:pointer" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-12" style="text-align:end;">
                            <button class="btn btn-cancel" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Request Technician-->
    <div class="modal fade" id="ShowRequestTechnician" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="CloseModalBtn" data-dismiss="modal">
                    <button class="close" data-dismiss="modal" aria-label="Close"></button>
                    <i class="icon-cross"></i>
                </div>
                <div class="modal-header">
                    <h5 class="modal-title">Technician Request</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 disgnerLabel">
                            <label>
                                Container #
                            </label>
                            <b style="float:right;" class="ng-binding">{{ShowRequestTechnicianData.Cntr}}</b>
                        </div>
                        <div class="col-md-12 disgnerLabel">
                            <label>
                                Remraks
                            </label>
                            <b style="float:right;" class="ng-binding"> {{ShowRequestTechnicianData.Remarks}}</b>
                        </div>
                        <div class="col-md-12 disgnerLabel">
                            <label>
                                Rejected at
                            </label>
                            <b style="float:right;" class="ng-binding"> {{ShowRequestTechnicianData.ApprovedAt | date:'dd/MM/yyyy HH:mm:ss'}}</b>
                        </div>
                        <div class="col-md-12 disgnerLabel">
                            <label>
                                Rejected by
                            </label>
                            <b style="float:right;" class="ng-binding"> {{ShowRequestTechnicianData.ApprovedBy}}</b>
                        </div>
                        <div class="col-md-12 disgnerLabel">
                            <label>
                                Submitted at
                            </label>
                            <b style="float:right;" class="ng-binding"> {{ShowRequestTechnicianData.CreatedAt | date:'dd/MM/yyyy HH:mm:ss'}}</b>
                        </div>
                        <div class="col-md-12 disgnerLabel">
                            <label>
                                Submitted by
                            </label>
                            <b style="float:right;" class="ng-binding"> {{ShowRequestTechnicianData.CreatedBy}}</b>
                        </div>
                        <div class="col-md-12 disgnerLabel">
                            <label>Status</label>
                            <b style="float:right;" class="badge rejectStatus">Rejected</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" ng-repeat="c in ShowRequestTechnicianData.Images">
                            <div class="imageBox">
                                <div class="Imgheader" title="{{c.Label}}">
                                    <b>{{c.Label}}</b>
                                </div>
                                <div class="ImgContent">
                                    <a href="{{c.Url}}" target="">  <img src="{{c.Url}}" style="height:50px!important" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-12" style="text-align:end;">
                            <button class="btn btn-cancel" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Difficult to strip-->
    <div class="modal fade" id="ShowDifficultStrip" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="CloseModalBtn" data-dismiss="modal">
                    <button class="close" data-dismiss="modal" aria-label="Close"></button>
                    <i class="icon-cross"></i>
                </div>
                <div class="modal-header">
                    <h5 class="modal-title">
                        Difficult to strip
                        <span title="Print report" class="printBdage">
                            <a ng-click="openDifficultStrip(DifficultStripData.Id)">
                                <i class="icon-printer"></i>
                            </a>
                        </span>
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 disgnerLabel">
                            <label>
                                Container #
                            </label>
                            <b style="float:right;" class="ng-binding">{{DifficultStripData.Container}}</b>
                        </div>
                        <div class="col-md-12 disgnerLabel">
                            <label>
                                Stripping Percenatge
                            </label>
                            <b style="float:right;" class="ng-binding">{{DifficultStripData.StrippingPercenatge}}</b>
                        </div>
                        <div class="col-md-12 disgnerLabel">
                            <label>
                                Created at
                            </label>
                            <b style="float:right;" class="ng-binding"> {{DifficultStripData.CreatedAt | date:'dd/MM/yyyy HH:mm:ss'}}</b>
                        </div>
                        <div class="col-md-12 disgnerLabel">
                            <label>
                                Created by
                            </label>
                            <b style="float:right;" class="ng-binding"> {{DifficultStripData.CreatedBy}}</b>
                        </div>
                        <div class="col-md-12 disgnerLabel">
                            <label>Status</label>
                            <b ng-show="DifficultStripData.Status == 0" style="float:right;" class="badge inProgressStatus ng-hide">Inprogress</b>
                            <b ng-show="DifficultStripData.Status == 1" style="float:right;" class="badge waitingForApprovalStatus ng-hide">Waiting for approval</b>
                            <b ng-show="DifficultStripData.Status == 2" style="float: right;" class="badge approvedStatus ng-hide">Approved</b>
                            <b ng-show="DifficultStripData.Status == 3" style="float: right;" class="badge rejectStatus ng-hide">Rejected</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" ng-repeat="c in DifficultStripData.Images">
                            <div class="imageBox">
                                <div class="Imgheader" title="{{c.Label}}">
                                    <b>{{c.Label}}</b>
                                </div>
                                <div class="ImgContent">
                                    <a href="{{c.Url}}" target="">  <img src="{{c.Url}}" style="height:50px!important" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-12" style="text-align:end;">
                           <button class="btn btn-cancel" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //Hide Side Menu
    window.onload = function () {
        document.getElementById('minisidebar').className = 'sidebar-xs';
    };


</script>