
@{
    ViewBag.Title = "RequestReexam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .Blocks {
        padding: 10px;
        box-shadow: 1px 3px 3px 1px gray;
    }

    button.btn.btn-primary.active {
        background: #00946b !important;
    }

    .Blocks:hover {
        box-shadow: none;
        background: #00946b
    }

    .Cardtabs {
        width: auto !important;
        display: inline-block;
        margin: 15px;
    }

    .Absoulte {
        position: absolute;
        height: 0px;
        width: 56px;
    }

    .CountBadge {
        position: relative;
        z-index: 99;
        color: #ffffff;
        padding: 0px 6px;
        background: #00946b;
        border-radius: 10px;
        float: right;
        bottom: 7px;
        left: 0px;
        width: fit-content;
        box-shadow: 1px 1px 5px -1px #000000cc;
    }

    .searchBox input {
        float: right;
        box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
        border-radius: 4px;
        border: 1px solid #d8d8d8;
        padding: 6px 11px;
    }

    .searchBox i {
        float: right;
        position: relative;
        left: 161px;
        top: 11px;
        font-size: 12px;
        color: gray;
    }

    .scrollerdiv {
        height: 70vh;
        overflow: auto
    }

        .scrollerdiv::-webkit-scrollbar {
            display: none;
        }

    .Custom-Card {
        border-radius: 7px !important;
        box-shadow: -2px -2px 3px 0px inset #989898a1;
        background: #fff;
        padding: 5px 5px;
        display: grid;
        margin-top: 20px !important;
        border: 0.5px solid #afafaf !important;
    }

        .Custom-Card .card-header {
            background: none !important;
            border: 0;
        }

        .Custom-Card td {
            padding: 4px 10px;
        }

    .collapsible-link {
        width: 100%;
        position: relative;
        text-align: left;
    }

    .animation {
        animation: 1s infinite Reopen ease;
    }

    @@keyframes Reopen {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(-360deg);
        }
    }

    .mr-t-5 {
        margin-top: 30px !important;
    }
</style>
<div ng-controller="ReopenContainerCtrl" ng-init="RequestRexamInit()">
    <div class="page-header border-bottom-0">
        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4><i class="icon-details mr-2"></i> <span class="font-weight-semibold"><i class="icon-stack-text"></i>&nbsp;Request re-exam</span></h4>
            </div>
            <div class="col-md-6">

            </div>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Container number</label>
                <input type="text" ng-model="Cntr" class="form-control" value="" />
            </div>
        </div>

        <div class="col-md-3">
            <button class="btn btn-primary mt-4" ng-click="SearchContainer(Cntr)">
                Search
            </button>
        </div>
    </div>
    <hr />
    <div class="accordion scrollerdiv" id="accordionExample" ng-show="CntrDetails!=null && CntrDetails!=undefined">
        <div class="card Custom-Card m-0" style="overflow:visible">
            <div>
                <div class="collapsible-link">
                    <div class="row">
                        <div class="col-md-5 col-lg-6 col-sm-6 col-xs-12">
                            <div style="display: inline-block; vertical-align: middle; margin-bottom: 4px;">
                                <img style="height:50px;" src="~/Content/images/output-onlinepngtools.png" />
                            </div>
                            <div style="display: inline-block; vertical-align: middle; margin-bottom: 4px; margin-left: 12px; font-family: 'Pilat Wide';">
                                {{CntrDetails.Cntr}}
                                <div ng-show="CntrDetails.Location!='' && CntrDetails.Location!=null" style="font-size: 11px; color: #898989;">{{CntrDetails.Location}}</div>
                            </div>
                        </div>
                        <div class="col-md-7 col-lg-6 col-sm-6 col-xs-12 Chervronicon text-end" style="align-self: center; text-align: end;">
                            <button class="btn btn-sm btn-primary" ng-click="RequestReexam(CntrDetails.unit_gkey,CntrDetails.Cntr)">Request re-exam</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

