@{
    ViewBag.Title = "VIP Cargo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #Block .Blocks {
        padding: 10px;
        box-shadow: 1px 3px 3px 1px gray;
    }
    #Block .Blocks:hover {
        box-shadow: none;
        background: #00946b
    }

    #Block .Cardtabs {
        width: auto !important;
        display: inline-block;
        margin: 15px;
    }
    #Block button.btn.btn-primary.active {
        background: #00946b !important;
    }
    #Block .Absoulte {
        position: absolute;
        height: 0px;
        width: 56px;
    }
    #Block .CountBadge {
        position: relative;
        z-index: 99;
        color: #ffffff;
        padding: 0px 6px;
        background: #00946b;
        border-radius: 10px;
        float: right;
        bottom: 7px;
        left: 0px;
        width: fit-content;
        box-shadow: 1px 1px 5px -1px #000000cc;
    }

    .text-end{
        text-align:end;
    }
    .VIPbadge {
        font-size: 12px;
        padding: 4px 8px;
        color: white;
        font-weight: normal !important;
        border-radius: 3px;
    }

    .searchBox input {
        float: right;
        box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
        border-radius: 4px;
        border: 1px solid #d8d8d8;
        padding: 6px 11px;
    }

    .searchBox i {
        float: right;
        position: relative;
        left: 161px;
        top: 11px;
        font-size: 12px;
        color: gray;
    }

    .scrollerdiv {        
        overflow: visible;
        margin-top:10px;
    }

        .scrollerdiv::-webkit-scrollbar {
            display: none;
        }

    .Custom-Card {
        margin-bottom: 30px !important;       
        border-radius: 7px !important;
        border: 1px solid #b8b8b866 !important;
        box-shadow: -2px -2px 3px 0px inset #989898a1;
        background: #fff;
    }

    .Custom-Card .card-header {
        background: none !important;
        border: 0;
    }
    .Custom-Card .card-footer{
        padding:10px 17px;
    }

    .Custom-Card .btn {
        padding: 2px 12px;
        font-size: 11px;
        border: 1px solid #33333333;           
        background: #00000024;
        color: #00000075;
    }
    .Custom-Card .btn:hover {
        background: var( --dpw-bg-color);
        color: #fff;
    }
    .InspectionStatusErrorDetails {
        background: #f6cfcf;
        color: #9e2828;
        border: 1px solid #afafaf;
    }

    .InspectionStatusSuccessDetails {
        background: #e0f2ed;
        color: #897a93;
        border: 1px solid #4CAF50;
    }

    .InspectionStatussection {
        padding: 2px 12px;
        width: fit-content;
        border-radius: 1px;
        border-bottom: 0px;
        font-size:10px;
    }
    .position-absolute {
        top: 20px;
        width: 0px;
        white-space:nowrap;
        right: 110px;
    }
    .card-footer .badge-danger{
        font-size:12px;
        width:fit-content;
    }
    .card-green {
        background: #00800014 !important;
    }
    .card-footer .icon-download {
        font-size: 20px;
        cursor: pointer;
    }
</style>

<div ng-controller="VIPCargoCtrl" ng-init="VIP_INIT()">


    <!---Block-->
    <div class="card mt-2 mt-2" id="Block">
        <div class="card-header" style=" background: var( --dpw-bg-color); color: white; padding: 8px;">
            <h5 class="mt-2">Select Block</h5>
        </div>
        <div class=" card-body shadow">
            <div class="row" ng-if="BlocKList != undefined && BlocKList.length > 0">
                <div class="Cardtabs" ng-repeat="B in BlocKList">
                    <div class="Absoulte">
                        <div class="CountBadge">{{B.BlockCount}}</div>
                        <br />
                    </div>
                    <button ng-click="GetContainerList(B)" ng-class="{'active' : B.Block == CurrentBlock.Block }" class="btn btn-primary Blocks" value="{{B.Block}}">
                        <span>{{B.Block}}</span>
                    </button>

                </div>
            </div>
            <div ng-if="BlocKList == undefined || BlocKList.length == 0">
                <p class="text-danger" style=" padding: 27px 5px 0px 3px;">
                    No record found
                </p>
            </div>
        </div>
    </div>

    <!---Block-->
    <!-- Container area-->

    <section class="VIPContainerArea">

        <div class="row" style="padding: 14px 0px; " ng-if="CurrentBlock.Block!=null &&CurrentBlock.Block!=''">
            <div class="col-md-12 text-end searchBox">
                <input placeholder="Search Bayan.." type="text" ng-model="Fbayan" ng-keyup="Filtertext(Fbayan,'BayanNo')" />
                <i class="icon-search4"></i>
                <input placeholder="Search Container.." type="text" ng-model="FCntr" ng-keyup="Filtertext(FCntr,'Cntr')" />
                <i class="icon-search4"></i>
            </div>
        </div>


        <div class="accordion scrollerdiv" id="accordionExample" ng-show="!stringNullorEmpty(ContainerList)">
            <div class="row">
                <div class="col-md-4" ng-repeat="x in ContainerList | filter :search" style="overflow:visible">
                    <div class="card Custom-Card m-0">
                        <div class="card-body" ng-class="{'card-green':x.CreatedAt != null}">
                            <div style="display: inline-block; vertical-align: middle; margin-bottom: 4px;">
                                <img style="height:40px;" src="~/Content/images/container.png" />
                            </div>
                            <div style="display: inline-block; vertical-align: middle; margin-bottom: 4px; margin-left: 12px; font-family: 'Pilat Wide';">
                                {{x.Cntr}} <span ng-show="x.Bayan!='' && x.Bayan!=null" style="font-size: 11px; color: #898989;"> - {{x.Bayan}}</span>
                                <div ng-show="x.Location!='' && x.Location!=null" style="font-size: 11px; color: #898989;">{{x.Location}} </div>
                                
                                
                                <div class="position-absolute"  ng-show="x.InspectionStage!=null && x.InspectionStage!=''">
                                    <div class="position-relative">
                                        <div class="InspectionStatussection InspectionStatusErrorDetails">
                                            {{x.InspectionStage}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <span class="badge badge-danger d-inline-block" ng-if="x.CreatedAt != null"
                                  title="Created:{{x.CreatedAt | date:'dd/MM/yyyy HH:mm:ss'}}&#10;Created by:{{x.CreatedBy}}">
                                Waiting for clearance
                            </span>
                            <i class="icon-download d-inline-block" ng-if="x.CreatedAt != null" title="Download request" ng-click="DownloadJsonSEALOC(x.TabadulRequest,'VIPCargo',x.Cntr)"></i>

                            <div class="text-end d-inline-block pull-right">
                                <button class="btn btn-primary" ng-click="SendVIPCargoLOC(x)">Send LOC</button>
                                <button class="btn btn-primary" ng-if="x.CreatedAt == null" ng-click="UpdateInspStage(x)">Move to exam yard</button>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>

    <!-- Container area end-->

</div>