
@{
    ViewBag.Title = "loginOTPEmail";
    Layout = null;
}

<p>Dear <b>@Model.Username</b>,</p>

<p>
    Please use this OTP (  @Model.Code) to Access your account in Exam app
</p>

<p>
    If you did not initiate this request, please contact DPWAdmin
</p>




