
@{
    ViewBag.Title = "ExamActivity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .border-right {
        border-right: 1px solid black;
    }

    .DashboardDiv {
        font-family: 'Pilat Wide';
    }

    .DashboardContainersSection {
        border-radius: 11px;
        margin-top: 25px;
        box-shadow: 5px 12px 25px 0px rgba(0,0,0,0.1);
    }

        .DashboardContainersSection h5 {
            margin: 0;
            font-weight: 600;
        }

    .custom-table-header .icon-flag3 {
        font-size: 10px;
    }

    .custom-table-header {
        overflow-y: auto;
        overflow-x: hidden;
        height: 50vh;
        border-radius: 0px;
        box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
        padding: 8px;
        background: white;
        border-bottom: 0px;
        overflow: hidden;
    }

    .DashboardContainersSection:hover .custom-table-header {
        overflow: auto;
    }

    .Cutsom-Table-title {
        background: white;
        font-size: 17px !IMPORTANT;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom: 1px solid #efefef94;
        padding: 6px;
    }

    table {
        width: 100%;
    }

    .custom-table-header thead {
        position: sticky;
        top: -8px;
        background: #ffffff;
        height: 40px;
        font-size: 10px;
        color: #8d8d8d;
        box-shadow: none;
        border-radius: 72px;
        color: black;
        border-bottom: 2px solid #00000021;
    }

        .custom-table-header thead th {
            text-align: center !important
        }



    .coldstorebg {
        background-color: #8b86d6 !important
    }

    .drybg {
        background-color: #c9c9c9 !important
    }

    .oogbg {
        background-color: #ff4565 !important;
        accent-color: #ff4565;
    }

    .reeferbg {
        background-color: #fbca34 !important;
        accent-color: #fbca34;
    }

    .imprtbg {
        background-color: #37ce8d !important;
        accent-color: #37ce8d;
    }

    .exprtbg {
        background-color: #ffc421 !important;
        accent-color: #ffc421;
    }

    .imprtbgTransit {
        background-color: #c0f5de !important;
        accent-color: #c0f5de;
    }

    .exprtbgTransit {
        background-color: #f3d78b !important;
        accent-color: #f3d78b;
    }

    .color-highlighter {
        width: 10px;
        height: 10px;
        border-radius: 30px;
        display: inline-block;
        margin-right: 2px;
    }

    .ch-coldstore {
        /*background-color: #8b86d6;*/
        accent-color: #8b86d6 !important
    }

    .ch-dry {
        accent-color: #e4e4e4 !important
    }

    .ch-oog {
        accent-color: #ff4565 !important
    }

    .ch-reefer {
        accent-color: #fbca34 !important
    }

    .ch-export {
        accent-color: #ffc421 !important
    }

    .ch-import {
        accent-color: #37ce8d !important
    }

    td {
        font-size: 10px;
        border-bottom: 1px solid #00000021;
        /*white-space:nowrap;*/
    }

    table tr td, th {
        background: #fff;
        padding: 4px 2px;
        width: fit-content;
    }

    .color-highlighter-section {
        font-size: 10px;
        height: 100px;
        font-weight: 800;
        overflow: auto
    }

    .total-container-count-section {
        background: #fefefec7;
        border: none;
        border-radius: -1px;
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;
        padding: 10px;
    }

    .more-detail-section p {
        background: #fff;
        padding: 8px 18px;
        margin-top: 8px !important;
        border-radius: 6px;
        box-shadow: inset -1px -2px 5px 0px #999;
        width: fit-content;
        margin: auto;
        font-weight: 500;
        cursor: pointer;
    }

        .more-detail-section p:hover {
            box-shadow: 3px 0px 5px 0px #999;
        }

    .strikethrough {
        text-decoration: line-through;
        opacity: 0.5;
    }

    .yardcol {
        border: 1px solid #b2b2b2 !important;
        width: 25px;
        height: 25px;
    }

    .modal-dialog {
        min-width: 50%;
    }

    .yardblock {
        border: none;
        padding: 0;
        text-align: center;
        width: 25px;
    }

    .ExamView .DashboardContainersSection {
        display: block !important;
        margin: auto;
    }

    .tab {
        overflow: hidden;
    }

    .tabheading {
        padding: 10px;
        background: #00946b;
        color: white;
    }

    .tab button {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        background: #e9e9e9;
        padding: 15px;
        border: none;
        outline: none;
        cursor: pointer;
        transition: 0.3s;
        font-size: 13px;
    }

        .tab button:hover {
            background-color: #00946b;
            color: white;
            font-size: 13px;
        }

        .tab button.active {
            background-color: #00946b;
            color: white;
            font-size: 13px;
        }

    .tab button {
        width: 100%;
    }

    .tabcontent {
        display: none;
        padding: 0px 10px;
        border-top: none;
    }

    .BaseFilter {
        text-align: center;
        background: white;
        border-radius: 12px;
        box-shadow: 0px 0px 4px 1px inset #8080801f;
        margin-top: 16px;
        border: 1px solid #80808036;
    }

        .BaseFilter div {
            display: inline-block;
            margin-right: 14px;
            font-weight: 600;
            font-size: 10px !IMPORTANT;
            margin: 7px;
        }

        .BaseFilter input[type="checkbox"] {
            vertical-align: text-bottom;
            transform: scale(1.5);
            margin-right: 5px;
        }

            .BaseFilter input[type="checkbox"]:not(:checked) {
                appearance: none;
                height: 12px;
                width: 12px;
                border: 1px solid #00000026;
                border-radius: 18px;
                margin-right: 4px;
                vertical-align: top;
            }

    .custom-table-header::-webkit-scrollbar-track {
        display: none !important;
    }

    .custom-table-header::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }

    .custom-table-header::-webkit-scrollbar-thumb {
        border-radius: 8px;
        background-color: #aeaeae !important
    }

    .utilization {
        background: white;
        padding: 18px;
        border-radius: 11px;
        box-shadow: 5px 12px 25px 0px rgba(0,0,0,0.1);
    }

    .UHeader {
        font-size: 11px;
    }

    .progressp {
        height: 4px;
        width: 100%;
        background: #c9c9c9;
        margin-top: 8px;
        border-radius: 13px;
        overflow: hidden;
    }

    .inner {
        background: #3dc73d;
        height: 4px;
        border-radius: 27px;
    }

    .bgColdStore {
        background: #cbfece !important;
        accent-color: #cbfece !important;
    }

    .bgReefer {
        background: #ffd9d0 !important;
        accent-color: #ffd9d0 !important;
    }

    .bgdry {
        background: #d8d5ff !important;
        accent-color: #d8d5ff !important;
    }

    .bgdogsniffing {
        background: #ececec !important;
        accent-color: #ececec !important;
    }

    .bgmobilescan {
        background: #f3dafd !important;
        accent-color: #f3dafd !important;
    }

    .bgBuidling {
        background: #ebffd4 !important;
        accent-color: #ebffd4 !important;
    }

    .bgoog {
        background: #f6ffb9 !important;
        accent-color: #f6ffb9 !important;
    }

    .imprtbg {
        background-color: #37ce8d !important;
        accent-color: #37ce8d;
    }

    .exprtbg {
        background-color: #ffc421 !important;
        accent-color: #ffc421;
    }

    .Reexambg {
        accent-color: #acf5ffeb;
        background: #c8f5fbeb;
    }

    .ExcelReport {
        color: #28b176;
    }

    .foodbg {
        background: #c2ffa2;
        accent-color: #c2ffa2;
    }

    .UTCCSbg {
        background: #ffe4b1;
        accent-color: #ffe4b1;
    }

    .pallattebg {
        background: #c0c7fe;
        accent-color: #c0c7fe;
    }

    .DPWCSbg {
        background: #e7c5b9;
        accent-color: #e7c5b9;
    }

    .submain {
        position: absolute;
        height: 0px;
        width: 21.6%;
        display: none;
    }

    .contextMenu {
        cursor: pointer;
    }

    .submain .Context {
        position: relative;
        background: #ffffff;
        z-index: 999;
        font-size: 12px;
        width: fit-content;
        box-shadow: 13px 13px 30px -1px rgba(0,0,0,0.23);
        border-radius: 3px;
        right: 27px;
        float: right;
        border: 1px solid #dcdcdc;
    }

        .submain .Context ul {
            margin: 0px;
            padding: 0px;
        }

            .submain .Context ul li {
                list-style: none;
                padding: 9px 12px;
                text-align: left;
                border-bottom: 1px solid #cdcdcd59;
                cursor: pointer;
            }

    .submain .Head {
        border-bottom: 1px solid #a8a8a8;
        padding: 7px;
        font-weight: 600;
        text-align: left;
        background: #80808021;
    }

    .Context i {
        color: #464646 !important;
        font-size: 12px;
        margin-right: 7px;
    }

    .submain .Context ul li:hover {
        background: #efefef;
    }

    .MainBtn {
        margin-right: 18px;
        text-decoration: underline;
        cursor: pointer;
    }

    .icon-enlarge {
        font-size: 18px;
        cursor: pointer;
    }

    .icon-shrink6 {
        display: none;
        font-size: 18px;
        cursor: pointer;
        color: white !important;
    }

    .modal-content {
        background-color: #f4f2fa !important;
        border-radius: 16px !important;
        box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%), 0 12.5px 10px rgb(0 0 0 / 6%), 0 22.3px 17.9px rgb(0 0 0 / 7%), 0 41.8px 33.4px rgb(255 255 255 / 9%), 0 100px 80px rgb(255 255 255 / 12%);
    }

    .modal-header {
        text-align: center;
        border-bottom: none !important;
        justify-content: center !important;
    }

    .modal-title {
        color: #173a64;
        font-weight: bolder !important;
        font-size: 24px;
        padding-top: 12px;
        padding-bottom: 4px;
        display: inline-block;
    }

    .CloseModalBtn {
        background: #173a64 !IMPORTANT;
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 45px;
        text-decoration: none;
        font-weight: bold;
        box-shadow: 1px 1px 3px #000;
        transition: all .3s;
        height: 45px;
        border-radius: 50%;
        font-size: 25px !important;
        padding: 8px;
        cursor: pointer;
        z-index: 9999;
    }

    .bootstrap-tagsinput .tag:not([class*=bg-]) {
        background-color: #173a64;
        color: #fff;
    }

    .bootstrap-tagsinput {
        overflow-y: auto;
        cursor: pointer;
        height: 70px;
    }

    .windowmode tbody tr:nth-child(even) td,
    .mobileview tbody tr:nth-child(even) td {
        background: none !important;
    }

    .windowmode tbody tr:nth-child(even),
    .mobileview tbody tr:nth-child(even) {
        background-color: #f7f7ff !important;
    }

    .windowmode .table th, .windowmode .table td,
    .mobileview .table th, .mobileview .table td {
        border: none !important;
        white-space: nowrap;
    }

        .windowmode .table td:last-child,
        .mobileview .table td:last-child {
            border: none !important;
            white-space: pre-wrap;
        }


    .windowmode .table td, .windowmode .table tr,
    .mobileview .table td, .mobileview .table tr {
        border: none;
    }

    .windowmode {
        min-height: 200px;
        max-height: 300px;
        overflow-y: auto;
        overflow-x: visible !important;
        padding: 0px;
        width: 100%;
    }

    .mobileview {
        min-height: 200px;
        max-height: 300px;
        overflow-y: auto;
        overflow-x: visible !important;
        padding: 0px;
        width: 100%;
        background: #fff !important;
        display: none;
    }

    .mobileviewcontent {
        display: inline-block;
        position: relative;
        top: 10px;
        left: 5px;
        font-family: 'Pilat Wide';
    }

    .mobileview .card {
        margin-bottom: 18px !important;
    }

    .mobileview td {
        font-size: 10px;
        color: #898989
    }

    @@media(min-width: 300px) and (max-width: 790px) {
        .windowmode {
            display: none;
        }

        .mobileview {
            display: block;
        }
    }

    .BaseFilter div input:not(:checked)::before {
        content: attr(data-content);
        font-size: 6px;
        DISPLAY: flex;
        font-weight: 700;
        JUSTIFY-CONTENT: center;
        ALIGN-ITEMS: center;
        ALIGN-SELF: center;
    }

    .HighlightOverallHrs {
        color: red !important;
    }
    /* Main Container Styles */
    .area-monitor-card {
        background: #fff;
        border: 1px solid #dee2e6;
        border-radius: 8px;
        transition: all 0.3s ease;
        position: relative;
        cursor: default;
        min-width: 280px;
    }

        .area-monitor-card:hover {
            box-shadow: 0 10px 20px rgba(0,0,0,0.12);
            border-color: #007bff;
            z-index: 100;
        }

    /* Progress Bar Tweaks */
    .bar-height {
        height: 8px;
        border-radius: 5px;
    }

    /* The Hover Block List (Hidden by default) */
    .block-details-overlay {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #fff;
        border: 1px solid #007bff;
        border-top: none;
        border-radius: 0 0 8px 8px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.12);
        padding: 10px;
        z-index: 1050;
        max-height: 250px;
        overflow-y: auto;
    }

    .area-monitor-card:hover .block-details-overlay {
        display: block;
    }

    /* Small Block Rows */
    .block-row {
        font-size: 0.8rem;
        padding: 4px 0;
        border-bottom: 1px solid #f8f9fa;
    }

        .block-row:last-child {
            border-bottom: none;
        }

    .dashboard-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 15px;
    }
    /* Set a standard base width for all cards so they align in one row */
    .card-wrapper {
        flex: 1 1 200px; /* Adjusts width based on screen size */
        max-width: 300px;
    }

    .noselect {
        user-select: none;
    }
</style>

<link href="~/Content/BootsrapDatetime/icon.css" rel="stylesheet" />
<link href="~/Content/BootsrapDatetime/bootstrap-material-datetimepicker.css" rel="stylesheet" />
<link href="~/Content/BootsrapDatetime/css.css" rel="stylesheet" />

<script src="~/Scripts/jquery.min.js"></script>
@*<script src="~/Content/BootsrapDatetime/ripples.min.js"></script>
    <script src="~/Content/BootsrapDatetime/material.min.js"></script>*@

<script src="~/Scripts/js/plugins/moment/moment_locales.min.js"></script>
@*<script src="~/Content/BootsrapDatetime/bootstrap-material-datetimepicker.js"></script>*@


<link href="~/Scripts/DatePicker/bootstrap-datepicker.css" rel="stylesheet" />
<link href="~/Scripts/DatePicker/bootstrap-datepicker.standalone.css" rel="stylesheet" />
<script src="~/Scripts/DatePicker/bootstrap-datepicker.js"></script>


<script src="~/Content/BootsrapDatetime/ripples.min.js"></script>
<script src="~/Content/BootsrapDatetime/material.min.js"></script>

<script src="~/Content/BootsrapDatetime/bootstrap-material-datetimepicker.js"></script>
<link href="~/Scripts/SlimSelect/SlimSelectCustomStyle.css" rel="stylesheet" />
<link href="~/Scripts/SlimSelect/slimselect.min.css" rel="stylesheet" />
<script src="~/Scripts/SlimSelect/slimselect.min.js"></script>

@if (System.Configuration.ConfigurationManager.AppSettings["ManagementOptionDashboard"] == "on")
{

    <div class="ng-cloak DashboardDiv" id="MainDiv" ng-cloak ng-controller="ExamActivityDashboardCtrl" ng-init="ExamActivityDashboard_Init('@System.Configuration.ConfigurationManager.AppSettings["ManagementOptionDashboard_RefreshTime"]')">
        <div class="page-header border-bottom-0">
            <div class="page-header-content header-elements-md-inline" style="padding:0px;">
                <div class="col-md-12 p-0">

                    <div class="dashboard-container">
                        <div class="page-title">
                            <h4> <span class="font-weight-semibold">Examination Details</span></h4>
                        </div>
                        <div class="card-wrapper" ng-repeat="area in ExamAreaFreeSlot">
                            <div class="area-monitor-card p-3"
                                 ng-mouseenter="area.showDetails = true"
                                 ng-mouseleave="area.showDetails = false">

                                <div class="d-flex justify-content-between align-items-center mb-2">
                                    <h6 class="font-weight-bold mb-0">{{area.Area}}</h6>
                                    <small class="text-muted">Total: <b>{{area.Total}}</b></small>
                                </div>

                                <div class="progress bar-height mb-2 bg-light">
                                    <div class="progress-bar"
                                         ng-class="getPercent(area.Total - area.Free, area.Total) > 85 ? 'bg-danger' : 'bg-primary'"
                                         style="width: {{getPercent(area.Total - area.Free, area.Total)}}%">
                                    </div>
                                </div>

                                <div class="d-flex justify-content-between small">
                                    <span>Occupied: <b>{{area.Occupied}}</b></span>
                                    <span>Free: <b class="text-success">{{ area.Free < 0 ? 0 : area.Free }}</b></span>
                                </div>

                                <div class="block-details-overlay" ng-show="area.showDetails">
                                    <div class="small font-weight-bold border-bottom pb-1 mb-2 text-primary">BLOCK BREAKDOWN</div>
                                    <div class="block-row d-flex justify-content-between" ng-repeat="block in area.BlockList">
                                        <span>{{block.Block}}</span>
                                        <span>F: <b class="text-success">{{ block.Free < 0 ? 0 : block.Free }}</b> / T: {{block.BlockTotal}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*<div class="card-wrapper" ng-if="Utilization.Yard != undefined">
                                <div class="area-monitor-card p-3">
                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                        <h6 class="font-weight-bold mb-0">Total Yard Utilization</h6>
                                        <small class="text-muted"> <b>{{Utilization.Yard | number:2}}%</b></small>
                                    </div>

                                    <div class="progress bar-height mb-2 bg-light">
                                        <div class="progress-bar"
                                             ng-class="Utilization.Yard  > 85 ? 'bg-danger' : 'bg-primary'"
                                             style="width:{{Utilization.Yard | number:2 }}%">
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-between small noselect text-white">
                                        <span>.</span>
                                        <span>.</span>
                                    </div>

                                </div>
                            </div>*@


                        <div class="card-wrapper" ng-if="Utilization.Exam != undefined">
                            <div class="area-monitor-card p-3">
                                <div class="d-flex justify-content-between align-items-center mb-2">
                                    <h6 class="font-weight-bold mb-0">Exam Yard Utilization</h6>
                                    <small class="text-muted"> <b>{{Utilization.Exam | number:2}}%</b></small>
                                </div>

                                <div class="progress bar-height mb-2 bg-light">
                                    <div class="progress-bar"
                                         ng-class="Utilization.Exam  > 85 ? 'bg-danger' : 'bg-primary'"
                                         style="width:{{Utilization.Exam | number:2 }}%">
                                    </div>
                                </div>

                                <div class="d-flex justify-content-between small noselect text-white">
                                    <span>.</span>
                                    <span>.</span>
                                </div>

                            </div>
                        </div>

                        @*<div class="card-wrapper">
                                <div class="utilization p-3">
                                    <div class="UHeader">Total Yard Utilization</div>
                                    <b>{{Utilization.Yard | number:2}}%</b>
                                    <div class="progressp"><div class="inner" style="width:{{ Utilization.Yard | number:2 }}%" ng-class="Utilization.Yard > 85 ? 'bg-danger' : 'bg-primary'"></div></div>
                                    <div class="d-flex justify-content-between small noselect text-white">
                                        <span>.</span>
                                        <span>.</span>
                                    </div>
                                </div>
                            </div>

                            <div class="card-wrapper" ng-if="Utilization.Exam != undefined">
                                <div class="utilization p-3">
                                    <div class="UHeader">Exam Yard Utilization</div>
                                    <b>{{Utilization.Exam | number:2}}%</b>
                                    <div class="progressp"><div class="inner" style="width:{{ Utilization.Exam | number:2 }}%" ng-class="Utilization.Exam > 85 ? 'bg-danger' : 'bg-primary'"></div></div>
                                    <div class="d-flex justify-content-between small noselect text-white">
                                        <span>.</span>
                                        <span>.</span>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                    @*<div class="row">
                            <div class="d-flex flex-wrap">
                                <div class="area-monitor-card m-2 p-3 d-inline-block"
                                     ng-repeat="area in ExamAreaFreeSlot"
                                     ng-mouseenter="area.showDetails = true"
                                     ng-mouseleave="area.showDetails = false">

                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                        <h6 class="font-weight-bold mb-0">{{area.Area}}</h6>
                                        <small class="text-muted">Total: <b>{{area.Total}}</b></small>
                                    </div>

                                    <div class="progress bar-height mb-2 bg-light">
                                        <div class="progress-bar"
                                             ng-class="getPercent(area.Total - area.Free, area.Total) > 85 ? 'bg-danger' : 'bg-primary'"
                                             style="width:{{getPercent(area.Total - area.Free, area.Total)}}%">
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-between small">
                                        <span>Occupied: <b>{{area.Total - area.Free}}</b></span>
                                        <span>Free: <b class="text-success">{{area.Free}}</b></span>
                                    </div>

                                    <div class="block-details-overlay" ng-show="area.showDetails">
                                        <div class="small font-weight-bold border-bottom pb-1 mb-2 text-primary">BLOCK BREAKDOWN</div>
                                        <div class="block-row d-flex justify-content-between" ng-repeat="block in area.BlockList">
                                            <span>{{block.Block}}</span>
                                            <span>F: <b class="text-success">{{block.Free}}</b> / T: {{block.BlockTotal}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="utilization"  ng-if="Utilization.Exam!=undefined">
                                    <div class="UHeader">
                                        Total Yard Utilization
                                    </div>
                                    <div class="Chart"></div>
                                    <b>{{Utilization.Yard | number:2}}%</b>
                                    <div class="progressp">
                                        <div class="inner" style="width:{{ Utilization.Yard | number:2 }}%"></div>
                                    </div>
                                </div>
                                <div class="utilization" ng-if="Utilization.Exam!=undefined">
                                    <div class="UHeader">
                                        Exam Yard Utilization
                                    </div>
                                    <div class="Chart"></div>
                                    <b>{{Utilization.Exam | number:2}}%</b>
                                    <div class="progressp">
                                        <div class="inner" style="width:{{ Utilization.Exam | number:2 }}%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>*@

                </div>
            </div>
        </div>
        <br />
        <div class="row fullMode">
            <div class="col-md-12 p-0">

                <div class="MainBtn">
                    <i class="icon-enlarge pull-right" onclick="Hideheader()"></i>
                    <i class="icon-shrink6 pull-right" onclick="showHeader()"></i>
                </div>
                @if (System.Configuration.ConfigurationManager.AppSettings["SEALOCDashboardIntegeration"] == "1")
                {
                    <div class="MainBtn pull-right" ng-click="OpenMarkContainerModal()">Mark Container for testing</div>
                }
                <div class="MainBtn pull-right" ng-click="OpenExcelModal('Examination Details')">Export All Report to Excel</div>
                <div class="MainBtn pull-right" ng-click="OpenEmailModal('Examination Details')">Send All Reports</div>
                <div class="MainBtn pull-right" ng-click="PrintReportMultiple()">Print All Reports</div>
            </div>
        </div>



        <div id="SelectionBox" style="text-align:end"></div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-3 d-none">
                <div class="DashboardContainersSection">
                    <div class="text-center Cutsom-Table-title">
                        ML Prediction
                        <div class="pull-right contextMenu"><i class="icon-list2"></i></div>
                        <div class="submain" style=" position: absolute; height: 0px;width:100%">
                            <div class="Context">
                                <div class="Head">
                                    Reports
                                </div>
                                <ul>
                                    <li ng-click="OpenExcelModal('ML')"><i class="icon-file-excel"></i><span class="mr-2">Export to Excel</span></li>
                                    <li ng-click="OpenEmailModal('ML')"><i class="icon-paperplane"></i> <span class="mr-2">Send Email Report</span></li>
                                    <li ng-click="PrintReport('ML',MLData)"><i class="icon-file-pdf"></i><span class="mr-2">Print Report</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="custom-table-header">
                        <table>
                            <thead>
                                <tr>
                                    <th>Vessel Name</th>
                                    <th>Vessel</th>
                                    <th>ETA</th>
                                    <th>Import</th>
                                    <th>Source</th>
                                    <th>Exam</th>
                                    <th>PL</th>
                                    <th>NPL</th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="vessel in MLData">
                                <tr>
                                    <td style="background: #e2e2ff;" rowspan="3">{{ vessel.VesselName }}</td>
                                    <td style="background: #e2e2ff;" rowspan="3">{{ vessel.RefNo }}</td>
                                    <td style="background: #e2e2ff; text-align:center;" rowspan="3">
                                        {{ vessel.Eta | date: 'dd-MM-yyyy' }}
                                        <br />
                                        {{ vessel.Eta | date: 'HH:mm:ss'}}
                                    </td>
                                    <td style="background: #e2e2ff; text-align: center;" rowspan="3">{{vessel.IMPRT}}</td>
                                </tr>
                                <tr>
                                    <td>ML</td>
                                    <td>{{ (vessel.ML_NPL + vessel.ML_PL)}}</td>
                                    <td>{{ vessel.ML_PL}}</td>
                                    <td>{{ vessel.ML_NPL}}</td>
                                </tr>
                                <tr>
                                    <td>SEAINI</td>
                                    <td>{{ vessel.SEAINI_NPL + vessel.SEAINI_PL}}</td>
                                    <td>{{ vessel.SEAINI_PL}}</td>
                                    <td>{{ vessel.SEAINI_NPL}}</td>
                                </tr>
                            </tbody>
                            @*<tbody>
                                    <tr>
                                        <td colspan="2">Import</td>
                                        <td>1999</td>
                                        <td>ML</td>
                                        <td>999</td>
                                        <td>SEAINI</td>
                                        <td>999</td>
                                    </tr>
                                </tbody>*@
                        </table>


                    </div>
                    <div class="total-container-count-section">
                        <div class="row">
                            <div class="col-md-4 p-0 text-center border-right">
                                <b>Total</b> =
                                <b ng-show="MLData!=null">{{GetSum(MLData)}}</b>
                            </div>
                            <div class="col-md-4 p-0 text-center border-right">
                                <b>ML</b> =
                                <b ng-show="MLData!=null">{{GetSum(MLData,'ML')}}</b>
                            </div>
                            <div class="col-md-4 p-0 text-center">
                                <b>SEAINI</b> =
                                <b ng-show="MLData!=null">{{GetSum(MLData,'SEAINI')}}</b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-sm-flex d-md-flex d-lg-none" style=" justify-content: center;">
                    <div class="more-detail-section">
                        <p class="text-center" ng-click="opendetailpage('CI')">
                            View Detail <i class="icon-arrow-right7"></i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-4" style="padding-left:0px;">
                <div class="DashboardContainersSection">
                    <div class="text-center Cutsom-Table-title">
                        TI  (To Inspection)
                        <div class="pull-right contextMenu"><i class="icon-list2"></i></div>
                        <div class="submain" style=" position: absolute; height: 0px;width:100%">
                            <div class="Context">
                                <div class="Head">
                                    Reports
                                </div>
                                <ul>
                                    <li ng-click="OpenExcelModal('TI  (To Inspection)')"><i class="icon-file-excel"></i><span class="mr-2">Export to Excel</span></li>
                                    <li ng-click="OpenEmailModal('TI  (To Inspection)')"><i class="icon-paperplane"></i> <span class="mr-2">Send Email Report</span></li>
                                    <li ng-click="PrintReport('TI  (To Inspection)',Dashboard_CI_List)"><i class="icon-file-pdf"></i><span class="mr-2">Print Report</span></li>
                                </ul>
                            </div>
                        </div>
                        @*<span class="pull-right ExcelReport" ng-click="ExportExcel('TI  (To Inspection)',Dashboard_CI_List)"><i class="icon-file-excel"></i></span>
                            <span class="pull-right SendReport" ng-click="SendEmailReport('TI  (To Inspection)',Dashboard_CI_List)"><i class="icon-envelop"></i></span>*@
                    </div>
                    <div class="custom-table-header">
                        <table>
                            <thead>
                                <tr>
                                    <th>Seq.No</th>
                                    <th class="w-35">
                                        <span class="Dsc" ng-click="SortDetailsNew('CI','Bayan','Asc',$event)">
                                            Bayan
                                            <i class="icon-arrow-down22"></i>

                                        </span>
                                        <span class="Asc" style="display:none;" ng-click="SortDetailsNew('CI','Bayan','Dsc',$event)">
                                            Bayan
                                            <i class="icon-arrow-up22"></i>
                                        </span>
                                    </th>
                                    <th class="w-35">Container</th>
                                    <th class="w-35">
                                        <span class="Dsc" ng-click="SortDetailsNew('CI','Location','Asc',$event)">
                                            Location
                                            <i class="icon-arrow-down22"></i>

                                        </span>
                                        <span class="Asc" style="display:none;" ng-click="SortDetailsNew('CI','Location','Dsc',$event)">
                                            Location
                                            <i class="icon-arrow-up22"></i>
                                        </span>
                                    </th>

                                    <th class="w-30">
                                        <span class="Dsc" ng-click="SortDetailsNew('CI','hrs','Asc',$event)">
                                            Elapsed HRS
                                            <i class="icon-arrow-down22"></i>
                                        </span>
                                        <span class="Asc" style="display:none;" ng-click="SortDetailsNew('CI','hrs','Dsc',$event)">
                                            Elapsed HRS
                                            <i class="icon-arrow-up22"></i>
                                        </span>
                                    </th>


                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in Dashboard_CI_List track by $index" ng-click="OpenContainerEvnets(item.Container)" style="cursor:pointer;">
                                    <td>{{$index+1}}</td>
                                    <td class="w-35">{{item.Bayan}}</td>
                                    <td class="w-35"
                                        ng-class="{
                                        'imprtbg': item.category === 'IMPRT' && !item.IsTransitContainer,
                                        'exprtbg': item.category === 'EXPRT' && !item.IsTransitContainer,
                                        'imprtbgTransit': item.category === 'IMPRT' && item.IsTransitContainer,
                                        'exprtbgTransit': item.category === 'EXPRT' && item.IsTransitContainer
                                    }">
                                        {{item.Container}}
                                    </td>
                                    <td class="w-35" ng-class="{'bgColdStore':item.result == 'Cold Store','bgoog':item.result == 'Others','bgdry':item.result =='Dry','bgReefer':item.result =='Reefer'}">{{item.Location}}</td>

                                    <td class="w-30 text-center" ng-class="{'bgdogsniffing':item.InspectionType == 'Dog Sniffing','bgmobilescan':item.InspectionType == 'MobileScan','bgBuidling':item.InspectionType =='BuildingScan'}">{{item.DwellHrs}}</td>

                                </tr>
                            </tbody>
                        </table>


                    </div>
                    <div class="total-container-count-section">
                        <div class="row">
                            <div class="col-md-6 p-0 text-center">
                                <b>Total</b>
                            </div>
                            <div class="col-md-6 p-0 text-center">
                                <b>{{Dashboard_CI_List.length}}</b>
                            </div>
                        </div>
                    </div>
                    @*<div class="color-highlighter-section">

                            <div class="row p-0">
                                <div class="col-md-6 col-sm-12">
                                    <input type="checkbox" class="ch-coldstore" id="ch-coldstore" checked value="Cold Store" ng-click="FilterDetailDashboard('CI','ch-coldstore')" /> Cold Store <br />
                                    <input type="checkbox" class="ch-dry" id="ch-dry" checked value="Dry" ng-click="FilterDetailDashboard('CI','ch-dry')" /> Dry <br />
                                    <input type="checkbox" class="ch-oog" id="ch-oog" checked value="OOG" ng-click="FilterDetailDashboard('CI','ch-oog')" /> OOG <br />
                                    <input type="checkbox" class="ch-reefer" id="ch-reefer" checked value="Reefer" ng-click="FilterDetailDashboard('CI','ch-reefer')" /> Reefer <br />
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div id="DogSniffingFlag" ng-click="FilterDetailDashboard('CI','DogSniffingFlag')">
                                        <i style="color: #141eeb;" class="icon-flag3"></i>Dog Sniffing
                                    </div>
                                    <div id="PalletteFlag" ng-click="FilterDetailDashboard('CI','PalletteFlag')">
                                        <i style="color: #ff8d00; " class="icon-flag3"></i>Pallette
                                    </div>
                                    <div id="CIUTCFlag" ng-click="FilterDetailDashboard('CI','CIUTCFlag')">
                                        <i style="color: #ff00df9e; " class="icon-flag3"></i>UTC - CS
                                    </div>
                                    <div id="CIFoodFlag" ng-click="FilterDetailDashboard('CI','CIFoodFlag')">
                                        <i style="color: #754343; " class="icon-flag3"></i>Food
                                    </div>
                                </div>
                            </div>
                        </div>*@

                    @*<div class="more-detail-section">
                            <p class="text-center" ng-click="opendetailpage('CI')">
                                View Detail <i class="icon-arrow-right7"></i>
                            </p>
                        </div>*@
                </div>
                <div class="d-sm-flex d-md-flex d-lg-none" style=" justify-content: center;">
                    <div class="more-detail-section">
                        <p class="text-center" ng-click="opendetailpage('CI')">
                            View Detail <i class="icon-arrow-right7"></i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-4">
                <div class="DashboardContainersSection">
                    <div class="text-center Cutsom-Table-title">
                        UI (Under Inspection)
                        <div class="pull-right contextMenu"><i class="icon-list2"></i></div>
                        <div class="submain" style=" position: absolute; height: 0px; width: 100%">
                            <div class="Context">
                                <div class="Head">
                                    Reports
                                </div>
                                <ul>
                                    <li ng-click="OpenExcelModal('UI (Under Inspection)')"><i class="icon-file-excel"></i><span class="mr-2">Export to Excel</span></li>
                                    <li ng-click="OpenEmailModal('UI (Under Inspection)')"><i class="icon-paperplane"></i> <span class="mr-2">Send Email Report</span></li>
                                    <li ng-click="PrintReport('UI (Under Inspection)',Dashboard_UI_List)"><i class="icon-file-pdf"></i><span class="mr-2">Print Report</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="custom-table-header">
                        <table>
                            <thead>
                                <tr>
                                    <th>Seq.No</th>
                                    <th class="w-30">Container</th>
                                    <th class="w-35">
                                        <span class="Dsc" ng-click="SortDetailsNew('UI','Location','Asc',$event)">
                                            Location
                                            <i class="icon-arrow-down22"></i>

                                        </span>
                                        <span class="Asc" style="display:none;" ng-click="SortDetailsNew('UI','Location','Dsc',$event)">
                                            Location
                                            <i class="icon-arrow-up22"></i>
                                        </span>
                                    </th>
                                    <th class="w-30">
                                        <span class="Dsc" ng-click="SortDetailsNew('UI','hrs','Asc',$event)">
                                            Elapsed HRS
                                            <i class="icon-arrow-down22"></i>
                                        </span>
                                        <span class="Asc" style="display:none;" ng-click="SortDetailsNew('UI','hrs','Dsc',$event)">
                                            Elapsed HRS
                                            <i class="icon-arrow-up22"></i>
                                        </span>
                                    </th>
                                    <th class="w-30" colspan="2">
                                        <span class="Dsc" ng-click="SortDetailsNew('UI','OverAll','Asc',$event)">
                                            Overall HRS
                                            <i class="icon-arrow-down22"></i>
                                        </span>
                                        <span class="Asc" style="display:none;" ng-click="SortDetailsNew('UI','OverAll','Dsc',$event)">
                                            Overall HRS
                                            <i class="icon-arrow-up22"></i>
                                        </span>
                                    </th>


                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in Dashboard_UI_List track by $index" ng-click="OpenContainerEvnets(item.Container)" style="cursor:pointer;">
                                    <td>{{$index+1}}</td>
                                    <td class="w-35"
                                        ng-class="{
                                        'imprtbg': item.category === 'IMPRT' && !item.IsTransitContainer,
                                        'exprtbg': item.category === 'EXPRT' && !item.IsTransitContainer,
                                        'imprtbgTransit': item.category === 'IMPRT' && item.IsTransitContainer,
                                        'exprtbgTransit': item.category === 'EXPRT' && item.IsTransitContainer
                                    }">
                                        {{item.Container}}
                                    </td>
                                    <td class="w-35" ng-class="{'bgColdStore':item.result == 'Cold Store','bgoog':item.result == 'Others','bgdry':item.result =='Dry','bgReefer':item.result =='Reefer'}">
                                        {{item.Location}}
                                    </td>
                                    <td class="w-30 text-center" ng-class="{'bgdogsniffing':item.InspectionType == 'Dog Sniffing','bgmobilescan':item.InspectionType == 'MobileScan','bgBuidling':item.InspectionType =='BuildingScan'}">
                                        {{item.DwellHrs}}
                                    </td>
                                    <td class="w-30 text-center">
                                        <span ng-class="{'HighlightOverallHrs':HighlightOverAllHrs(item.OverallHrs)}">{{item.OverallHrs}}</span>
                                    </td>
                                    <td class="w-30 text-center align-content-center">
                                        <span title="Auction Container" ng-if="item.AuctionFlag != null"><i class="icon-flag3"></i></span>
                                        <span title="Re-Exam Container" ng-if="item.ReExamFlag == 1"><i class="icon-flag3 text-danger"></i></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="total-container-count-section">
                        <div class="row">
                            <div class="col-md-6 p-0 text-center">
                                <b>Total</b>
                            </div>
                            <div class="col-md-6 p-0 text-center">
                                <b>{{Dashboard_UI_List.length}}</b>
                            </div>
                        </div>
                    </div>
                    @*<div class="color-highlighter-section">
                            <div class="row p-0">
                                <div class="col-md-6 col-sm-12">
                                    <input type="checkbox" class="ch-export" id="ch-export" checked value="EXPRT" ng-click="FilterDetailDashboard('UI','ch-export')" /> EXPRT <br />
                                    <input type="checkbox" class="ch-import" id="ch-import" checked value="IMPRT" ng-click="FilterDetailDashboard('UI','ch-import')" /> IMPRT
                                </div>
                                <div class="col-md-6 col-sm-12 p-0">
                                    <div class="flagsSection" id="UIReExamFlag" ng-click="FilterDetailDashboard('UI','UIReExamFlag')">
                                        <i style="color: #ff4565; " class="icon-flag3"></i>Re-Exam
                                    </div>
                                    <div class="flagsSection" id="UIDogSniffingFlag" ng-click="FilterDetailDashboard('UI','UIDogSniffingFlag')">
                                        <i style="color: #141eeb;" class="icon-flag3"></i>Dog Sniffing
                                    </div>
                                    <div class="flagsSection" id="UIPalletteFlag" ng-click="FilterDetailDashboard('UI','UIPalletteFlag')">
                                        <i style="color: #ff8d00; " class="icon-flag3"></i>Pallette
                                    </div>
                                    <div class="flagsSection" id="UIUTCFlag" ng-click="FilterDetailDashboard('UI','UIUTCFlag')">
                                        <i style="color: #ff00df9e; " class="icon-flag3"></i>UTC - CS
                                    </div>
                                    <div class="flagsSection" id="UIDWPColdStoreFlag" ng-click="FilterDetailDashboard('UI','UIDWPColdStoreFlag')">
                                        <i style="color: #0f655c; " class="icon-flag3"></i>DPW - CS
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    @*<div class="more-detail-section">
                            <p class="text-center" ng-click="opendetailpage('UI')">
                                View Detail <i class="icon-arrow-right7"></i>
                            </p>
                        </div>*@
                </div>
                <div class="d-sm-flex d-md-flex d-lg-none" style=" justify-content: center;">
                    <div class="more-detail-section">
                        <p class="text-center" ng-click="opendetailpage('UI')">
                            View Detail <i class="icon-arrow-right7"></i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-4">
                <div class="DashboardContainersSection">
                    <div class="text-center Cutsom-Table-title">
                        FI (From Inspection)
                        <div class="pull-right contextMenu"><i class="icon-list2"></i></div>
                        <div class="submain" style=" position: absolute; height: 0px; width: 100%">
                            <div class="Context">
                                <div class="Head">
                                    Reports
                                </div>
                                <ul>
                                    <li ng-click="OpenExcelModal('FI (From Inspection)')"><i class="icon-file-excel"></i><span class="mr-2">Export to Excel</span></li>
                                    <li ng-click="OpenEmailModal('FI (From Inspection)')"><i class="icon-paperplane"></i> <span class="mr-2">Send Email Report</span></li>
                                    <li ng-click="PrintReport('FI (From Inspection)',Dashboard_FI_List)"><i class="icon-file-pdf"></i><span class="mr-2">Print Report</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="custom-table-header">
                        <table>
                            <thead>
                                <tr>
                                    <th>Seq.No</th>
                                    <th class="w-35">Container</th>
                                    <th class="w-35">
                                        <span class="Dsc" ng-click="SortDetailsNew('FI','Location','Asc',$event)">
                                            Location
                                            <i class="icon-arrow-down22"></i>

                                        </span>
                                        <span class="Asc" style="display:none;" ng-click="SortDetailsNew('FI','Location','Dsc',$event)">
                                            Location
                                            <i class="icon-arrow-up22"></i>
                                        </span>
                                    </th>
                                    <th class="w-30">
                                        <span class="Dsc" ng-click="SortDetailsNew('FI','hrs','Asc',$event)">
                                            Elapsed HRS
                                            <i class="icon-arrow-down22"></i>
                                        </span>
                                        <span class="Asc" style="display:none;" ng-click="SortDetailsNew('FI','hrs','Dsc',$event)">
                                            Elapsed HRS
                                            <i class="icon-arrow-up22"></i>
                                        </span>
                                    </th>
                                    <th class="w-30">
                                        <span class="Dsc" ng-click="SortDetailsNew('FI','OverAll','Asc',$event)">
                                            Overall HRS
                                            <i class="icon-arrow-down22"></i>
                                        </span>
                                        <span class="Asc" style="display:none;" ng-click="SortDetailsNew('FI','OverAll','Dsc',$event)">
                                            Overall HRS
                                            <i class="icon-arrow-up22"></i>
                                        </span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in Dashboard_FI_List track by $index" ng-click="OpenContainerEvnets(item.Container)" style="cursor:pointer;">
                                    <td>{{$index+1}}</td>
                                    <td class="w-35"
                                        ng-class="{
                                        'imprtbg': item.category === 'IMPRT' && !item.IsTransitContainer,
                                        'exprtbg': item.category === 'EXPRT' && !item.IsTransitContainer,
                                        'imprtbgTransit': item.category === 'IMPRT' && item.IsTransitContainer,
                                        'exprtbgTransit': item.category === 'EXPRT' && item.IsTransitContainer
                                    }">
                                        @*<td class="w-35" ng-class="{'drybg':item.result =='Dry','reeferbg':item.result =='Reefer','oogbg':item.result =='Others'}">*@
                                        {{item.Container}}
                                    </td>
                                    <td class="w-35" ng-class="{'bgColdStore':item.result == 'Cold Store','bgoog':item.result == 'Others','bgdry':item.result =='Dry','bgReefer':item.result =='Reefer'}">{{item.Location}}</td>
                                    <td class="w-30 text-center" ng-class="{'bgdogsniffing':item.InspectionType == 'Dog Sniffing','bgmobilescan':item.InspectionType == 'MobileScan','bgBuidling':item.InspectionType =='BuildingScan'}">{{item.DwellHrs}}</td>
                                    <td class="w-30 text-center"> <span ng-class="{'HighlightOverallHrs':HighlightOverAllHrs(item.OverallHrs)}">{{item.OverallHrs}}</span></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="total-container-count-section">
                        <div class="row">
                            <div class="col-md-6 p-0 text-center">
                                <b>Total</b>
                            </div>
                            <div class="col-md-6 p-0 text-center">
                                <b>{{Dashboard_FI_List.length}}</b>
                            </div>
                        </div>
                    </div>
                    @*<div class="color-highlighter-section">
                            <div class="row p-0">
                                <div class="col-md-6 col-sm-12">
                                    <input type="checkbox" class="ch-coldstore" id="FI-ch-coldstore" checked value="Cold Store" ng-click="FilterDetailDashboard('FI','FI-ch-coldstore')" /> Cold Store <br />
                                    <input type="checkbox" class="ch-dry" id="ch-FI-dry" checked value="Dry" ng-click="FilterDetailDashboard('FI','ch-FI-dry')" /> Dry <br />
                                    <input type="checkbox" class="ch-reefer" id="ch-FI-reefer" checked value="Reefer" ng-click="FilterDetailDashboard('FI','ch-FI-reefer')" /> Reefer <br />
                                    <input type="checkbox" class="ch-oog" id="ch-oog" checked value="OOG" ng-click="FilterDetailDashboard('FI','ch-oog')" /> OOG <br />
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div id="FIDogSniffingFlag" ng-click="FilterDetailDashboard('FI','FIDogSniffingFlag')">
                                        <i style="color: #141eeb;" class="icon-flag3"></i>Dog Sniffing
                                    </div>
                                    <div id="FIPalletteFlag" ng-click="FilterDetailDashboard('FI','FIPalletteFlag')">
                                        <i style="color: #ff8d00; " class="icon-flag3"></i>Pallette
                                    </div>
                                    <div id="FIUTCFlag" ng-click="FilterDetailDashboard('FI','FIUTCFlag')">
                                        <i style="color: #ff00df9e; " class="icon-flag3"></i>UTC - CS
                                    </div>
                                    <div id="FIFoodFlag" ng-click="FilterDetailDashboard('FI','FIFoodFlag')">
                                        <i style="color: #754343; " class="icon-flag3"></i>Food
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    @*<div class="more-detail-section">
                            <p class="text-center" ng-click="opendetailpage('FI')">
                                View Detail <i class="icon-arrow-right7"></i>
                            </p>
                        </div>*@
                </div>
                <div class="d-sm-flex d-md-flex d-lg-none" style=" justify-content: center;">
                    <div class="more-detail-section">
                        <p class="text-center" ng-click="opendetailpage('FI')">
                            View Detail <i class="icon-arrow-right7"></i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-3 d-none" style="padding-right:0px;">
                <div class="DashboardContainersSection">
                    <div class="text-center Cutsom-Table-title">
                        Building / Mobile Scan
                        <div class="pull-right contextMenu"><i class="icon-list2"></i></div>
                        <div class="submain" style=" position: absolute; height: 0px; width: 100%">
                            <div class="Context">
                                <div class="Head">
                                    Reports
                                </div>
                                <ul>
                                    <li ng-click="OpenExcelModal('Building / Mobile Scan')"><i class="icon-file-excel"></i><span class="mr-2">Export to Excel</span></li>
                                    <li ng-click="OpenEmailModal('Building / Mobile Scan')"><i class="icon-paperplane"></i> <span class="mr-2">Send Email Report</span></li>
                                    <li ng-click="PrintReport('Building / Mobile Scan',Dashboard_Exam_List)"><i class="icon-file-pdf"></i><span class="mr-2">Print Report</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="custom-table-header">
                        <table>
                            <thead>
                                <tr>
                                    <th>Seq.No</th>
                                    <th>Container</th>
                                    <th class="w-35">
                                        <span class="Dsc" ng-click="SortDetailsNew('Exam','Location','Asc',$event)">
                                            Location
                                            <i class="icon-arrow-down22"></i>

                                        </span>
                                        <span class="Asc" style="display:none;" ng-click="SortDetailsNew('Exam','Location','Dsc',$event)">
                                            Location
                                            <i class="icon-arrow-up22"></i>
                                        </span>
                                    </th>
                                    <th class="w-30">
                                        <span class="Dsc" ng-click="SortDetailsNew('Exam','hrs','Asc',$event)">
                                            Elapsed HRS
                                            <i class="icon-arrow-down22"></i>
                                        </span>
                                        <span class="Asc" style="display:none;" ng-click="SortDetailsNew('Exam','hrs','Dsc',$event)">
                                            Elapsed HRS
                                            <i class="icon-arrow-up22"></i>
                                        </span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in Dashboard_Exam_List" ng-click="OpenContainerEvnets(item.Container)" style="cursor:pointer;">
                                    <td>{{$index+1}}</td>
                                    <td ng-class="{'imprtbg':item.category == 'IMPRT','exprtbg':item.category =='EXPRT'}">
                                        {{item.Container}}

                                    </td>
                                    <td class="text-center" ng-class="{'bgColdStore':item.result == 'Cold Store','bgoog':item.result == 'Others','bgdry':item.result =='Dry','bgReefer':item.result =='Reefer'}">{{item.Location}}</td>
                                    <td class="text-center" ng-class="{'bgdogsniffing':item.RescanType == 'Dog Sniffing','bgmobilescan':item.RescanType == 'MobileScan','bgBuidling':item.RescanType =='BuildingScan'}">{{item.DwellHrs}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="total-container-count-section">
                        <div class="row">
                            <div class="col-md-6 p-0 text-center">
                                <b>Total</b>
                            </div>
                            <div class="col-md-6 p-0 text-center">
                                <b>{{Dashboard_Exam_List.length}}</b>
                            </div>
                        </div>
                    </div>
                    @*<div class="color-highlighter-section">
                            <div class="row p-0">
                                <div class="col-md-6 col-sm-12">

                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div id="MobileScanFlag" ng-click="FilterDetailDashboard('Exam','MobileScanFlag')">
                                        <i style="color: #ff4565;" class="icon-flag3"></i>Mobile Scan
                                    </div>
                                    <div id="BuildingScanFlag" ng-click="FilterDetailDashboard('Exam','BuildingScanFlag')">
                                        <i style="color: #141eeb; " class="icon-flag3"></i>Building Scan
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    @*<div class="more-detail-section">
                            <p class="text-center" style="visibility:hidden">
                                &nbsp;
                            </p>
                        </div>*@

                </div>
            </div>
        </div>
        <div class="BaseFilter">
            <div class="row">
                <div class="col-md-12 p-0">
                    <div>
                        <input type="checkbox" value="IMPRT" class="imprtbg" /> Import
                    </div>
                    <div>
                        <input type="checkbox" value="EXPRT" class="exprtbg" /> Export
                    </div>
                    <div>
                        <input type="checkbox" class="imprtbgTransit" value="IMPRT_Transit" /> Import Transit
                    </div>
                    <div>
                        <input type="checkbox" class="exprtbgTransit" value="EXPRT_Transit" /> Export Transit
                    </div>
                    <div>
                        <input type="checkbox" class="bgColdStore" value="Cold Store" /> Cold Store
                    </div>
                    <div>
                        <input type="checkbox" class="bgdry" value="Dry" /> Dry
                    </div>
                    <div>
                        <input type="checkbox" class="bgoog" value="OOG" /> OOG
                    </div>
                    @*<div>
                            <input type="checkbox" class="bgReefer" value="Reefer" /> Reefer
                        </div>*@
                    <div>
                        <input type="checkbox" class="bgdogsniffing" value="Dog_sniffing" />K-9
                    </div>
                    <div>
                        <input type="checkbox" class="Reexambg" value="Re_exam" /> Re Exam
                    </div>
                    <div>
                        <input type="checkbox" class="foodbg" value="Food" /> Food
                    </div>
                    <div>
                        <input type="checkbox" class="pallattebg" value="Pallatte" /> Pallet
                    </div>
                    @*<div>
                            <input type="checkbox" class="UTCCSbg" value="UTC COLD Store" /> UTC-CS
                        </div>
                        <div>
                            <input type="checkbox" class="DPWCSbg" value="DPW ColdStore" /> DPW-CS
                        </div>*@
                    <div>
                        <input type="checkbox" class="bgmobilescan" value="MobileScan" /> Mobile Scan
                    </div>
                    <div>
                        <input type="checkbox" class="bgBuidling" value="BuildingScan" /> Building Scan
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-none d-sm-none d-md-none d-lg-flex">
            <div class="col-md-3 col-md-4">
                <div class="more-detail-section">
                    <p class="text-center" ng-click="opendetailpage('CI')">
                        View Detail <i class="icon-arrow-right7"></i>
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="more-detail-section">
                    <p class="text-center" ng-click="opendetailpage('UI')">
                        View Detail <i class="icon-arrow-right7"></i>
                    </p>
                    <p class="text-center" ng-click="opendetailpage('UIRedesign')">
                        View Detail Redesign <i class="icon-arrow-right7"></i>
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="more-detail-section">
                    <p class="text-center" ng-click="opendetailpage('FI')">
                        View Detail <i class="icon-arrow-right7"></i>
                    </p>
                </div>
            </div>

        </div>
        <div class="modal fade bd-example-modal-lg" data-backdrop="static" data-keyboard="false" id="DownloadExcel" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" style=" max-width: 478px; min-width: 0px;">
                <div class="modal-content" style="margin-top: 65px;">
                    <div class="CloseModalBtn" data-dismiss="modal">
                        <button class="close" data-dismiss="modal" aria-label="Close"></button>
                        <i class="icon-cross"></i>
                    </div>
                    <div class="modal-header">
                        <h5 class="modal-title">Export data to excel </h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Date from</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control date" id="fromDate" placeholder="DD/MM/YYYY HH:mm">
                                        <span class="input-group-append">
                                            <span class="input-group-text"><i class="icon-calendar"></i></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Date to</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control date" id="toDate" placeholder="DD/MM/YYYY HH:mm">
                                        <span class="input-group-append">
                                            <span class="input-group-text"><i class="icon-calendar"></i></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" ng-show="CurrentCard=='Examination Details'">
                                <div class="form-group mb-0">
                                    <input ng-checked="ExTI==true" ng-model="ExTI" type="checkbox" />
                                    <label>TI (To Inspection)</label>
                                </div>
                                <div class="form-group mb-0">
                                    <input ng-checked="ExUI==true" ng-model="ExUI" type="checkbox" />
                                    <label>UI (Under Inspection)</label>
                                </div>
                                <div class="form-group mb-0">
                                    <input ng-checked="ExFI==true" ng-model="ExFI" type="checkbox" />
                                    <label>FI (From Inspection)</label>
                                </div>
                                @*<div class="form-group mb-0">
                                        <input ng-checked="ExExam==true" ng-model="ExExam" type="checkbox" />
                                        <label>Building / Mobile Scan</label>
                                    </div>*@
                            </div>
                            <div class="col-md-12" style="text-align:end">
                                <button class="btn btn-primary" ng-show="CurrentCard!='Examination Details'" ng-click="ExportExcel()">Export</button>
                                <button class="btn btn-primary" ng-show="CurrentCard=='Examination Details'" ng-click="ExportExcelMultiple()">Export</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade bd-example-modal-lg" data-backdrop="static" data-keyboard="false" id="SendEmail" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" style=" max-width: 478px; min-width: 0px;">
                <div class="modal-content" style="margin-top: 65px;">
                    <div class="CloseModalBtn" data-dismiss="modal">
                        <button class="close" data-dismiss="modal" aria-label="Close"></button>
                        <i class="icon-cross"></i>
                    </div>
                    <div class="modal-header">
                        <h5 class="modal-title">Send email reports</h5>
                    </div>
                    <div class="modal-body">
                        <form autocomplete="off">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Date from</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control date" id="EmailfromDate" placeholder="DD/MM/YYYY HH:mm">
                                            <span class="input-group-append">
                                                <span class="input-group-text"><i class="icon-calendar"></i></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Date to</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control date" id="EmailtoDate" placeholder="DD/MM/YYYY HH:mm">
                                            <span class="input-group-append">
                                                <span class="input-group-text"><i class="icon-calendar"></i></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Emails</label>

                                        @*<input type="text" value="" id="ReportsEmail" data-role="tagsinput" />*@
                                        <select id="EmployeeData" multiple="multiple" ng-model="ReportsEmail">
                                            <option value="{{item}}" ng-repeat="item in EmployeeEmail track by $index">{{item}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12" ng-show="CurrentCard=='Examination Details'">
                                    <div class="form-group mb-0">
                                        <input ng-checked="TI==true" ng-model="TI" type="checkbox" />
                                        <label>TI (To Inspection)</label>
                                    </div>
                                    <div class="form-group mb-0">
                                        <input ng-checked="UI==true" ng-model="UI" type="checkbox" />
                                        <label>UI (Under Inspection)</label>
                                    </div>
                                    <div class="form-group mb-0">
                                        <input ng-checked="FI==true" ng-model="FI" type="checkbox" />
                                        <label>FI (From Inspection)</label>
                                    </div>
                                    @*<div class="form-group mb-0">
                                            <input ng-checked="Exam==true" ng-model="Exam" type="checkbox" />
                                            <label>Building / Mobile Scan</label>
                                        </div>*@
                                </div>
                                <div class="col-md-12" style="text-align:end">
                                    <button class="btn btn-primary" ng-show="CurrentCard!='Examination Details'" ng-click="SendEmailReport()">Send Email</button>
                                    <button class="btn btn-primary" ng-show="CurrentCard=='Examination Details'" ng-click="SendEmailReportMultiple()">Send Email</button>
                                </div>
                            </div>
                        </form>

                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade bd-example-modal-lg" data-backdrop="static" data-keyboard="false" id="DetailsInfo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" style=" max-width: 478px; min-width: 0px;">
                <div class="modal-content" style="margin-top: 65px;">
                    <div class="CloseModalBtn" data-dismiss="modal">
                        <button class="close" data-dismiss="modal" aria-label="Close"></button>
                        <i class="icon-cross"></i>
                    </div>
                    <div class="modal-header">
                        <h5 class="modal-title">Send email reports</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <ul class="helpUL">
                                <li>
                                    <div class="InfoTitle">TI (To Inspection)</div>
                                    <div><span class="Toggler"><i class="icon-arrow-down12"></i></span></div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade bd-example-modal-lg" data-backdrop="static" data-keyboard="false" id="ContainerEvnets" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" style=" min-width: 70%;">
                <div class="modal-content" style="margin-top: 65px;">
                    <div class="CloseModalBtn" data-dismiss="modal">
                        <button class="close" data-dismiss="modal" aria-label="Close"></button>
                        <i class="icon-cross"></i>
                    </div>
                    <div class="modal-header">
                        <h5 class="modal-title">Event History - {{ContainerEvnets_ContainerNumber}}</h5>

                    </div>
                    <div class="modal-body">
                        <div class="windowmode">
                            <table class="table table-striped">
                                <thead>
                                    <tr class="table-card-head">
                                        <th>
                                            Apply Date
                                            <span class="sort">
                                                <i ng-show="(EventSortdesc==null||EventSortdesc==undefined) || EventSortdesc==false" ng-click="SortApplyDate('dsc')" class="icon-chevron-down"></i>
                                                <i ng-show="EventSortdesc==true" ng-click="SortApplyDate('asc')" class="icon-chevron-up"></i>
                                            </span>
                                        </th>
                                        <th>Event ID</th>
                                        <th>Recorder</th>
                                        <th>Notes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in ContainerDetails" ng-show="ContainerDetails.length>0">
                                        <td>{{x.ApplyDate | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                                        <td><b>{{x.EventName}}</b></td>
                                        <td>{{x.Recorder}}</td>
                                        <td>{{x.Notes}}</td>
                                    </tr>
                                    <tr ng-show="ContainerDetails.length==0||ContainerDetails==null">
                                        <td colspan="4">  No data available</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="mobileview">

                            <div class="card shadow m-0" ng-repeat="x in ContainerDetails" style="overflow:visible" ng-show="ContainerDetails.length>0">
                                <table width="100%">
                                    <tbody>
                                        <tr>
                                            <td style="text-align:center">
                                                <img style="height:30px;" src="~/Content/images/output-onlinepngtools.png" />
                                            </td>
                                            <td>
                                                <table width="100%">
                                                    <tr>
                                                        <td>Apply Date :</td>
                                                        <td>{{x.ApplyDate | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Event ID :
                                                        </td>
                                                        <td><b>{{x.EventName}}</b></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Recorder :
                                                        </td>
                                                        <td>{{x.Recorder}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Notes : </td>
                                                        <td>{{x.Notes}}</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <div ng-show="ContainerDetails.length==0||ContainerDetails==null">
                                No data available
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bd-example-modal-lg" data-backdrop="static" data-keyboard="false" id="testcontainermarkingModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" style="min-width: 50%;">
                <div class="modal-content" style="margin-top: 65px;">
                    <div class="CloseModalBtn" data-dismiss="modal">
                        <button class="close" data-dismiss="modal" aria-label="Close"></button>
                        <i class="icon-cross"></i>
                    </div>
                    <div class="modal-header">
                        <h5 class="modal-title">Mark Container for testing</h5>

                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="form-group" style="margin-bottom:0 !important">
                                            <input type="text" class="form-control" ng-model="TestContainerSearch" ng-change="SearchTestingContainer(TestContainerSearch)" placeholder="search container" value="" />
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="windowmode">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr class="table-card-head">
                                                        <th></th>
                                                        <th>Container</th>
                                                        <th>Location</th>
                                                        <th>Bayan</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="x in TestContainerList" ng-show="TestContainerList.length>0">
                                                        <td><input type="checkbox" ng-model="x.Selected" ng-change="AddContainerForTesitng(x)" /></td>
                                                        <td><b>{{x.Container}}</b></td>
                                                        <td>{{x.Location}}</td>
                                                        <td>{{x.Bayan}}</td>
                                                    </tr>
                                                    <tr ng-show="TestContainerList.length==0||TestContainerList==null">
                                                        <td colspan="4">  No data available</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="form-group" style="margin-bottom:0 !important">
                                            <input type="text" class="form-control" placeholder="Containers for testing" disabled readonly value="" style="border:none !important" />
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="windowmode">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr class="table-card-head">
                                                        <th></th>
                                                        <th>Container</th>
                                                        <th>Location</th>
                                                        <th>Bayan</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="x in SelectedContainerForApiTesting" ng-if="x.Selected == true">
                                                        <td><input type="checkbox" ng-model="x.Selected" /></td>
                                                        <td><b>{{x.Container}}</b></td>
                                                        <td>{{x.Location}}</td>
                                                        <td>{{x.Bayan}}</td>
                                                    </tr>
                                                    <tr ng-show="SelectedContainerForApiTesting.length==0||SelectedContainerForApiTesting==null">
                                                        <td colspan="4">  No container selected for testing</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>




                    </div>


                    <div class="modal-footer" style=" padding: 9px;">
                        <button class="btn btn-reset" data-dismiss="modal">Close</button>
                        <button class="btn btn-primary" ng-click="SubmitSealocTestingContainer()">Submit</button>
                    </div>

                </div>
            </div>
        </div>

    </div>
}
<script>
    var o = new SlimSelect({
        select: '#EmployeeData',
        placeholder: 'Select Email',
        allowDeselectOption: true,
        hideSelectedOption: true
        //deselectLabel: '<span class="red">✖</span>',
    });

    $('.date').bootstrapMaterialDatePicker({
        format: 'DD/MM/YYYY HH:mm',
        switchOnClick: true,
        nowButton: true,
    });

    function Hideheader() {
        fullMode = true;
        $(".icon-enlarge").css("display", "none");
        $('.page-title h4').css("color", "white");
        $(".icon-shrink6").css("display", "block");
        $('.MainBtn').css('color', 'white');

        const content = document.getElementById('MainDiv');
        if (content.requestFullscreen) {
            content.requestFullscreen();
        } else if (content.mozRequestFullScreen) { // Firefox
            content.mozRequestFullScreen();
        } else if (content.webkitRequestFullscreen) { // Chrome, Safari, Opera
            content.webkitRequestFullscreen();
        } else if (content.msRequestFullscreen) { // Internet Explorer and Edge
            content.msRequestFullscreen();
        }

    }
    document.addEventListener('fullscreenchange', onFullScreenChange);
    function onFullScreenChange() {
        console.log(document.fullscreenElement);

        if (document.fullscreenElement == null) {
            $(".icon-enlarge").css("display", "block");
            $(".icon-shrink6").css("display", "none");
            $('.page-title h4').css("color", "black");

            $('.MainBtn').css('color', 'black');

        }
    }
    function showHeader() {
        //$('.page-title h4').css("color", "White");
        $(".icon-enlarge").css("display", "block");
        $(".icon-shrink6").css("display", "none");
        $('.MainBtn').css('color', 'black');
        if (document.exitFullscreen) {
            document.exitFullscreen();
        } else if (document.mozCancelFullScreen) {
            document.mozCancelFullScreen();
        } else if (document.webkitExitFullscreen) {
            document.webkitExitFullscreen();
        } else if (document.msExitFullscreen) {
            document.msExitFullscreen();
        }
    }

    window.onload = function () {
        document.getElementById('minisidebar').className = 'sidebar-xs';
    };
    $('.contextMenu').on('click', function () {
        if ($(this).next('.submain').css('display') == 'block') {
            $('.submain').css('display', 'none');
        }
        else {
            $('.submain').css('display', 'none');
            $(this).next('.submain').css('display', 'block');
        }
    })
    $('body').on('click', function (e) {
        console.log(e.target.classList.contains('icon-list2'));
        if (e.target.classList.contains('icon-list2') || e.target.classList.contains('contextMenu')) {
        }
        else {
            $('.submain').css('display', 'none');
        }
    })
</script>