
@{
    ViewBag.Title = "ExamActivity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .DashboardDiv {
        font-family: 'Pilat Wide';
    }
    .DashboardContainersSection h5 {
        margin: 0;
        font-weight: 600;
    }

    .custom-table-header {
        overflow-x: hidden;
        overflow-y: auto;
        height: 60vh;
        border-radius: 7px;
        box-shadow: 0px 4px 13px 0px #999;
    }
    .custom-table-header .icon-flag3 {
        font-size: 10px;
    }
    table{
        width:100%;

    }
    .custom-table-header thead {
        position: sticky;
        top: 0;
        background: whitesmoke;
        height: 40px;
        z-index: 111;
        font-size: 10px;
        color: #8d8d8d;
    }

    .custom-table-header thead th {
        text-align: center !important
    }

    .w-35 {
        /*width: 35%;*/
    }

    .w-30 {
        /*width: 35%;*/
    }

    .coldstorebg {
        background-color: #8b86d6
    }

    .drybg {
        background-color: #e4e4e4
    }

    .oogbg {
        background-color: #ff4565
    }

    .reeferbg {
        background-color: #fbca34
    }

    .imprtbg {
        background-color: #37ce8d
    }

    .exprtbg {
        background-color: #ffc421
    }

    .color-highlighter {
        width: 10px;
        height: 10px;
        border-radius: 30px;
        display: inline-block;
        margin-right: 4px;
        margin-left: 20px;
    }

    .ch-coldstore {
        accent-color: #8b86d6;
    }

    .ch-dry {
        accent-color: #e4e4e4
    }

    .ch-oog {
        accent-color: #ff4565
    }

    .ch-reefer {
        accent-color: #fbca34
    }

    .ch-export {
        accent-color: #ffc421
    }

    .ch-import {
        accent-color: #37ce8d
    }

    td {
        font-size: 10px;
        white-space:nowrap;
    }

    table tr td, th {
        background: #fff;
        padding: 4px 2px;
        width: fit-content;
        color: #111;
    }

    .color-highlighter-section {
        font-size: 10px;
        height: 25px;
        display:inline-block;
        margin-left:5px;
        width:100%;
    }

    .total-container-count-section {
        margin-top: 10px;
    }

    .more-detail-section p {
        background: #fff;
        padding: 8px 18px;
        margin-top: 8px !important;
        border-radius: 6px;
        box-shadow: inset -1px -2px 5px 0px #999;
        width: fit-content;
        margin: auto;
        font-weight: 500;
        cursor: pointer;
    }

    .more-detail-section p:hover {
        box-shadow: 3px 0px 5px 0px #999;
    }

    table {
        width: 100%;
    }
    .DashboardContainersSection{
       
    }
    .DashboardContainersSection h5 {
        font-size: 16px;
    }
    .filterationSection{
        font-weight:800;
    }
    .strikethrough {
        text-decoration: line-through;
        opacity:0.5;
    }
    .SectionSeprator {
        display: inline-block;
        width: 49%;
    }
</style>

<div class="ng-cloack DashboardDiv" ng-cloak ng-controller="ExamActivityDashboardCtrl" ng-init="ExamActivityCIFI_Init()">
    <br />

        <div class="SectionSeprator">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="DashboardContainersSection">
                        <div class="text-center">
                            <h5 class="DPWBold">CI-Yard</h5>
                        </div>
                        <div class="custom-table-header">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="w-35">Container</th>
                                        <th class="w-30" ng-click="SortDetails('CI','hrs','CI-T1')">
                                            HRS
                                            <i class="icon-arrow-down22" ng-show="CI_Hrs_Sort =='-'"></i>
                                            <i class="icon-arrow-up22" ng-show="CI_Hrs_Sort =='+'"></i>
                                        </th>
                                        <th class="w-35" ng-click="SortDetails('CI','Location','CI-T1')">
                                            Location
                                            <i class="icon-arrow-down22" ng-show="CI_Location_Sort =='-'"></i>
                                            <i class="icon-arrow-up22" ng-show="CI_Location_Sort =='+'"></i>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in CIT1Records">

                                        <td class="w-35" ng-class="{'coldstorebg':item.result == 'Cold Store','drybg':item.result =='Dry','oogbg':item.is_oog ==true,'reeferbg':item.result =='Reefer'}">
                                            {{item.Container}}
                                        </td>
                                        <td class="w-30 text-center">{{item.DwellHrs}}</td>
                                        <td class="w-35">{{item.Location}}</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="total-container-count-section">
                            <div class="row">
                                <div class="col-md-6">
                                    <h6 class="text-center"><b>Total</b></h6>
                                </div>
                                <div class="col-md-6">
                                    <h6 class="text-center"><b>{{CIT1Length}}</b></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-6 col-md-6">
                    <div class="DashboardContainersSection">
                        <div class="text-center">
                            <h5 class="DPWBold">CI-Holding Area</h5>
                        </div>
                        <div class="custom-table-header">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="w-30">Container</th>
                                        <th class="w-30" ng-click="SortDetails('CI','hrs','CI-T2')">
                                            HRS
                                            <i class="icon-arrow-down22" ng-show="CI_Hrs_Sort =='-'"></i>
                                            <i class="icon-arrow-up22" ng-show="CI_Hrs_Sort =='+'"></i>
                                        </th>
                                        <th class="w-35" ng-click="SortDetails('CI','Location','CI-T2')">
                                            Location
                                            <i class="icon-arrow-down22" ng-show="CI_Location_Sort =='-'"></i>
                                            <i class="icon-arrow-up22" ng-show="CI_Location_Sort =='+'"></i>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in CIT2Records">

                                        <td class="w-35" ng-class="{'coldstorebg':item.result == 'Cold Store','drybg':item.result =='Dry','oogbg':item.is_oog ==true,'reeferbg':item.result =='Reefer'}">
                                            {{item.Container}}
                                        </td>
                                        <td class="w-30 text-center">
                                            {{item.DwellHrs}}
                                        </td>
                                        <td class="w-35">
                                            {{item.Location}}
                                        </td>
                            
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="total-container-count-section">
                            <div class="row">
                                <div class="col-md-6">
                                    <h6 class="text-center"><b>Total</b></h6>
                                </div>
                                <div class="col-md-6">
                                    <h6 class="text-center"><b>{{CIT2Length}}</b></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row p-0">
                <div class="col-md-6 col-sm-12 filterationSection">
                    <input type="checkbox" class="ch-coldstore" id="ch-coldstore" checked value="Cold Store" ng-click="FilterDetailDashboard('CI','ch-coldstore')" /> Cold Store <br />
                    <input type="checkbox" class="ch-dry" id="ch-dry" checked value="Dry" ng-click="FilterDetailDashboard('CI','ch-dry')" /> Dry <br />
                    <input type="checkbox" class="ch-oog" id="ch-oog" checked value="OOG" ng-click="FilterDetailDashboard('CI','ch-oog')" /> OOG <br />
                    <input type="checkbox" class="ch-reefer" id="ch-reefer" checked value="Reefer" ng-click="FilterDetailDashboard('CI','ch-reefer')" /> Reefer <br />
                </div>
                <div class="col-md-6 col-sm-12 filterationSection">
                    <div id="DogSniffingFlag" ng-click="FilterDetailDashboard('CI','DogSniffingFlag')">
                        <i style="color: #141eeb;" class="icon-flag3"></i>Dog Sniffing
                    </div>
                    <div id="PalletteFlag" ng-click="FilterDetailDashboard('CI','PalletteFlag')">
                        <i style="color: #ff8d00; " class="icon-flag3"></i>Pallette
                    </div>
                    <div id="CIUTCFlag" ng-click="FilterDetailDashboard('CI','CIUTCFlag')">
                        <i style="color: #ff00df9e; " class="icon-flag3"></i>UTC -CS
                    </div> 
                    <div id="CIFoodFlag" ng-click="FilterDetailDashboard('CI','CIFoodFlag')">
                        <i style="color: #754343; " class="icon-flag3"></i>Food
                    </div>
                </div>
            </div>

        </div>
        <div class="SectionSeprator">
            <div class="row">

                <div class="col-lg-6 col-md-6">
                    <div class="DashboardContainersSection">
                        <div class="text-center">
                            <h5 class="DPWBold">FI-Yard</h5>
                        </div>
                        <div class="custom-table-header">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="w-35">Container</th>
                                        <th class="w-30" ng-click="SortDetails('FI','hrs','FI-T1')">
                                            HRS
                                            <i class="icon-arrow-down22" ng-show="FI_Hrs_Sort =='-'"></i>
                                            <i class="icon-arrow-up22" ng-show="FI_Hrs_Sort =='+'"></i>
                                        </th>
                                        <th class="w-35" ng-click="SortDetails('FI','Location','FI-T1')">
                                            Location
                                            <i class="icon-arrow-down22" ng-show="FI_Location_Sort =='-'"></i>
                                            <i class="icon-arrow-up22" ng-show="FI_Location_Sort =='+'"></i>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in FIT1Records">

                                        <td class="w-35" ng-class="{'coldstorebg':item.result == 'Cold Store','drybg':item.result =='Dry','oogbg':item.is_oog ==true,'reeferbg':item.result =='Reefer'}">
                                            {{item.Container}}
                                        </td>
                                        <td class="w-30 text-center">{{item.DwellHrs}}</td>
                                        <td class="w-35">{{item.Location}}</td>
                                  
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="total-container-count-section">
                            <div class="row">
                                <div class="col-md-6">
                                    <h6 class="text-center"><b>Total</b></h6>
                                </div>
                                <div class="col-md-6">
                                    <h6 class="text-center"><b>{{FIT1Length}}</b></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="DashboardContainersSection">
                        <div class="text-center">
                            <h5 class="DPWBold">FI-Holding Area</h5>
                        </div>
                        <div class="custom-table-header">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="w-35">Container</th>
                                        <th class="w-30" ng-click="SortDetails('FI','hrs','FI-T2')">
                                            HRS
                                            <i class="icon-arrow-down22" ng-show="FI_Hrs_Sort =='-'"></i>
                                            <i class="icon-arrow-up22" ng-show="FI_Hrs_Sort =='+'"></i>
                                        </th>
                                        <th class="w-35" ng-click="SortDetails('FI','Location','FI-T2')">
                                            Location
                                            <i class="icon-arrow-down22" ng-show="FI_Location_Sort =='-'"></i>
                                            <i class="icon-arrow-up22" ng-show="FI_Location_Sort =='+'"></i>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in FIT2Records">

                                        <td class="w-35" ng-class="{'coldstorebg':item.result == 'Cold Store','drybg':item.result =='Dry','oogbg':item.is_oog ==true,'reeferbg':item.result =='Reefer'}">
                                            {{item.Container}}
                                        </td>
                                        <td class="w-30" text-center>{{item.DwellHrs}}</td>
                                        <td class="w-35">{{item.Location}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="total-container-count-section">
                            <div class="row">
                                <div class="col-md-6">
                                    <h6 class="text-center"><b>Total</b></h6>
                                </div>
                                <div class="col-md-6">
                                    <h6 class="text-center"><b>{{FIT2Length}}</b></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row p-0">
                <div class="col-md-6 col-sm-12 filterationSection">                    
                    <input type="checkbox" class="ch-coldstore" id="FI-ch-coldstore" checked value="Cold Store" ng-click="FilterDetailDashboard('FI','FI-ch-coldstore')" /> Cold Store <br />
                    <input type="checkbox" class="ch-dry" id="ch-FI-dry" checked value="Dry" ng-click="FilterDetailDashboard('FI','ch-FI-dry')" /> Dry <br />
                    <input type="checkbox" class="ch-reefer" id="ch-FI-reefer" checked value="Reefer" ng-click="FilterDetailDashboard('FI','ch-FI-reefer')" /> Reefer <br />
                    <input type="checkbox" class="ch-oog" id="ch-oog" checked value="OOG" ng-click="FilterDetailDashboard('FI','ch-oog')" /> OOG <br />
                </div>
                <div class="col-md-6 col-sm-12 filterationSection">
                    <div id="FIDogSniffingFlag" ng-click="FilterDetailDashboard('FI','FIDogSniffingFlag')">
                        <i style="color: #141eeb;" class="icon-flag3"></i>Dog Sniffing
                    </div>
                    <div id="FIPalletteFlag" ng-click="FilterDetailDashboard('FI','FIPalletteFlag')">
                        <i style="color: #ff8d00; " class="icon-flag3"></i>Pallette
                    </div>
                    <div id="FIUTCFlag" ng-click="FilterDetailDashboard('FI','FIUTCFlag')">
                        <i style="color: #ff00df9e; " class="icon-flag3"></i>UTC - CS
                    </div>
                    <div id="FIFoodFlag" ng-click="FilterDetailDashboard('FI','FIFoodFlag')">
                        <i style="color: #754343; " class="icon-flag3"></i>Food
                    </div>
                </div>
            </div>


        </div>








</div>
<script>
    window.onload = function () {
        document.getElementById('minisidebar').className = 'sidebar-xs';
    };
</script>