
@{
    ViewBag.Title = "ShiftPerformance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .anychart-credits {
        display: none;
    }

    .CustomCard {
        background: white;
        border-radius: 21px;
        overflow: hidden;
        box-shadow: 5px 12px 25px 0px rgba(0,0,0,0.1);
        margin-bottom: 24px;
    }

        .CustomCard .CardHead {
            background: #b9b8bd17 !important;
            padding: 18px;
            border: none;
            text-align: center;
        }

        .CustomCard .CardScroller {
            padding: 0px 11px;
            background: #f9f9f9;
        }

    .CardScroller .table td, .CardScroller .table tr {
        border: 1px solid #dcd9d9b5 !IMPORTANT;
        background: white !important;
        vertical-align: middle;
        text-align: left;
        padding: 1px 6px;
    }

    .CustomCard .Cardfooter {
        padding: 15px 40px;
        font-size: 15px;
        background: #f9f9f9;
    }

    .CustomCard .Cardfooter {
        padding: 15px 40px;
        font-size: 15px;
        background: #f9f9f9;
    }

    .SideBadge {
        background: #ededed;
        padding: 3px 9px;
        font-size: 12px;
        color: #000000;
        border-radius: 5px;
    }

    .togglePeriod {
        float: right;
        border-radius: 6px;
        overflow: hidden;
        border: 3px solid #ffffff;
        background: #ffffff;
        box-shadow: 5px 12px 25px 0px rgba(0,0,0,0.1);
    }

        .togglePeriod div {
            width: fit-content;
            display: inline-block;
            margin: 0px;
            padding: 3px 7px;
            cursor: pointer !important;
        }

            .togglePeriod div.Active {
                background: #ededed !important;
                color: black;
                border-radius: 4px;
                border: 1px inset !important;
                box-shadow: 0px 0px 2px 1px inset #81818124;
                animation: 0.5s linear slideInLeft;
            }

                .togglePeriod div.Active:first-child {
                    animation: 0.2s linear slideInRight;
                }

                .togglePeriod div.Active:last-child {
                    animation: 0.2s linear slideInLeft;
                }

    @@keyframes slideInRight {
        0% {
            -webkit-transform: translateX(100%);
            transform: translateX(100%);
            visibility: visible;
        }

        100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    }

    @@keyframes slideInLeft {
        0% {
            -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
            visibility: visible;
        }

        100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    }

    .modal-content {
        background-color: #f4f2fa !important;
        border-radius: 16px !important;
        box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%), 0 12.5px 10px rgb(0 0 0 / 6%), 0 22.3px 17.9px rgb(0 0 0 / 7%), 0 41.8px 33.4px rgb(255 255 255 / 9%), 0 100px 80px rgb(255 255 255 / 12%);
    }

    .modal-header {
        text-align: center;
        border-bottom: none !important;
        justify-content: center !important;
    }

    .modal-title {
        color: var( --dpw-bg-color);
        font-weight: bolder !important;
        font-size: 24px;
        padding-top: 12px;
        padding-bottom: 4px;
        display: inline-block;
    }

    .CloseModalBtn {
        background: var( --dpw-bg-color) !IMPORTANT;
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 45px;
        text-decoration: none;
        font-weight: bold;
        box-shadow: 1px 1px 3px #000;
        transition: all .3s;
        height: 45px;
        border-radius: 50%;
        font-size: 25px !important;
        padding: 8px;
        cursor: pointer;
        z-index: 9999;
    }

    .input-group-addon {
        background: var( --dpw-bg-color) !important;
        color: white;
    }
</style>

@if (System.Configuration.ConfigurationManager.AppSettings["ManagementOptionDashboard"] == "on")
{

    <div class="ng-cloak" ng-cloak ng-controller="ShiftPerformanceCtrl" ng-init="init('@System.Configuration.ConfigurationManager.AppSettings["ManagementOptionDashboard"]','@System.Configuration.ConfigurationManager.AppSettings["ManagementOptionDashboard_RefreshTime"]')">
        <div class="page-header border-bottom-0">
            <div class="page-header-content header-elements-md-inline">
                <div class="page-title d-flex">
                    <h4> <span class="font-weight-semibold">Shift Performance</span></h4>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="togglePeriod" ng-model="Days" ng-click="mainfunction()">
                            <div class="Active">Today</div>
                            <div>Yesterday</div>
                        </div>
                        <div class="togglePeriod mr-3" ng-model="View" ng-click="mainfunction()">
                            <div class="Active">Detail View</div>
                            <div>Summary View</div>

                        </div>
                        <div class="mr-3 pull-right p-1" data-toggle="modal" data-target="#DownloadExcel">
                            <b style="cursor:pointer;"><u>Export to excel</u></b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div ng-show="View=='Detail View'">
            <div class="row">
                <!--CI Shift 1-->
                <div class="col-md-6">
                    <div class="card CustomCard" ng-if="FICIPerformance!=undefined">
                        <div class="CardHead">
                            <b>CI Custom Inspection <span class="pull-right SideBadge">Morning Shift</span></b>
                        </div>
                        <div class="CardScroller">
                            <table class="table table-bordered m-0">

                                <tr>
                                    <th>Container Type </th>
                                    <th>Inspection Area</th>
                                    <th>Inspection Type</th>
                                    <th>Result</th>
                                </tr>
                                <!--Dry-->
                                <tr>
                                    <td rowspan="6" class="text-center">Dry</td>
                                    <td rowspan="2">Sampling Area</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('FICIPerformance','Dry','Sampling Area','Dog Sniffing','Shift1','CI')}}</td>
                                </tr>
                                <tr>
                                    <td>Manaul</td>
                                    <td>{{FilterList('FICIPerformance','Dry','Sampling Area','Manual','Shift1','CI')}}</td>

                                </tr>
                                <tr>
                                    <td rowspan="2">DPW-CS</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('FICIPerformance','Dry','DPW COLD STORE','Dog Sniffing','Shift1','CI')}}</td>

                                </tr>
                                <tr>
                                    <td>Manual</td>
                                    <td>{{FilterList('FICIPerformance','Dry','DPW COLD STORE','Manual','Shift1','CI')}}</td>

                                </tr>
                                <tr>
                                    <td rowspan="2">UTC-CS</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('FICIPerformance','Dry','UTC COLD STORE','Dog Sniffing','Shift1','CI')}}</td>

                                </tr>
                                <tr>
                                    <td>Manual</td>
                                    <td>{{FilterList('FICIPerformance','Dry','UTC COLD STORE','Manual','Shift1','CI')}}</td>

                                </tr>
                                <!--Reefer-->
                                <tr>
                                    <td rowspan="6" class="text-center">Reefer</td>
                                    <td rowspan="2">Sampling Area</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('FICIPerformance','Reefer','Sampling Area','Dog Sniffing','Shift1','CI')}}</td>
                                </tr>
                                <tr>
                                    <td>Manaul</td>
                                    <td>{{FilterList('FICIPerformance','Reefer','Sampling Area','Manual','Shift1','CI')}}</td>

                                </tr>
                                <tr>
                                    <td rowspan="2">DPW-CS</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('FICIPerformance','Reefer','DPW COLD STORE','Dog Sniffing','Shift1','CI')}}</td>

                                </tr>
                                <tr>
                                    <td>Manual</td>
                                    <td>{{FilterList('FICIPerformance','Reefer','DPW COLD STORE','Manual','Shift1','CI')}}</td>

                                </tr>
                                <tr>
                                    <td rowspan="2">UTC-CS</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('FICIPerformance','Reefer','UTC COLD STORE','Dog Sniffing','Shift1','CI')}}</td>

                                </tr>
                                <tr>
                                    <td>Manual</td>
                                    <td>{{FilterList('FICIPerformance','Reefer','UTC COLD STORE','Manual','Shift1','CI')}}</td>

                                </tr>
                                <!--OOG-->
                                <tr>
                                    <td rowspan="6" class="text-center">OOG</td>
                                    <td rowspan="2">Sampling Area</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('FICIPerformance','OOG','Sampling Area','Dog Sniffing','Shift1','CI')}}</td>
                                </tr>
                                <tr>
                                    <td>Manaul</td>
                                    <td>{{FilterList('FICIPerformance','OOG','Sampling Area','Manual','Shift1','CI')}}</td>

                                </tr>
                                <tr>
                                    <td rowspan="2">DPW-CS</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('FICIPerformance','OOG','DPW COLD STORE','Dog Sniffing','Shift1','CI')}}</td>

                                </tr>
                                <tr>
                                    <td>Manual</td>
                                    <td>{{FilterList('FICIPerformance','OOG','DPW COLD STORE','Manual','Shift1','CI')}}</td>

                                </tr>
                                <tr>
                                    <td rowspan="2">UTC-CS</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('FICIPerformance','OOG','UTC COLD STORE','Dog Sniffing','Shift1','CI')}}</td>

                                </tr>
                                <tr>
                                    <td>Manual</td>
                                    <td>{{FilterList('FICIPerformance','OOG','UTC COLD STORE','Manual','Shift1','CI')}}</td>

                                </tr>
                            </table>
                        </div>
                        <div class="Cardfooter">
                            <b>
                                Total<span class="pull-right SideBadge">{{CardTotal('FICIPerformance','CI','Shift1')}}</span>
                            </b>
                        </div>
                    </div>
                </div>
                <!--CI Shift 2-->
                <div class="col-md-6">
                    <div class="card CustomCard" ng-if="FICIPerformance!=undefined">
                        <div class="CardHead">
                            <b>CI Custom Inspection <span class="pull-right SideBadge">{{FICIPerformance_IsYesterdayData == true ? 'Yesteday ' : ''}}Night Shift</span></b>
                        </div>
                        <div class="CardScroller">
                            <table class="table table-bordered m-0">
                                <!--Dry-->
                                <tr>
                                    <th>Container Type </th>
                                    <th>Inspection Area</th>
                                    <th>Inspection Type</th>
                                    <th>Result</th>
                                </tr>
                                <tr>
                                    <td rowspan="6" class="text-center">Dry</td>
                                    <td rowspan="2">Sampling Area</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('FICIPerformance','Dry','Sampling Area','Dog Sniffing','Shift2','CI')}}</td>
                                </tr>
                                <tr>
                                    <td>Manaul</td>
                                    <td>{{FilterList('FICIPerformance','Dry','Sampling Area','Manual','Shift2','CI')}}</td>

                                </tr>
                                <tr>
                                    <td rowspan="2">DPW-CS</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('FICIPerformance','Dry','DPW COLD STORE','Dog Sniffing','Shift2','CI')}}</td>

                                </tr>
                                <tr>
                                    <td>Manual</td>
                                    <td>{{FilterList('FICIPerformance','Dry','DPW COLD STORE','Manual','Shift2','CI')}}</td>

                                </tr>
                                <tr>
                                    <td rowspan="2">UTC-CS</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('FICIPerformance','Dry','UTC COLD STORE','Dog Sniffing','Shift2','CI')}}</td>

                                </tr>
                                <tr>
                                    <td>Manual</td>
                                    <td>{{FilterList('FICIPerformance','Dry','UTC COLD STORE','Manual','Shift2','CI')}}</td>

                                </tr>
                                <!--Reefer-->
                                <tr>
                                    <td rowspan="6" class="text-center">Reefer</td>
                                    <td rowspan="2">Sampling Area</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('FICIPerformance','Reefer','Sampling Area','Dog Sniffing','Shift2','CI')}}</td>
                                </tr>
                                <tr>
                                    <td>Manaul</td>
                                    <td>{{FilterList('FICIPerformance','Reefer','Sampling Area','Manual','Shift2','CI')}}</td>

                                </tr>
                                <tr>
                                    <td rowspan="2">DPW-CS</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('FICIPerformance','Reefer','DPW COLD STORE','Dog Sniffing','Shift2','CI')}}</td>

                                </tr>
                                <tr>
                                    <td>Manual</td>
                                    <td>{{FilterList('FICIPerformance','Reefer','DPW COLD STORE','Manual','Shift2','CI')}}</td>

                                </tr>
                                <tr>
                                    <td rowspan="2">UTC-CS</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('FICIPerformance','Reefer','UTC COLD STORE','Dog Sniffing','Shift2','CI')}}</td>

                                </tr>
                                <tr>
                                    <td>Manual</td>
                                    <td>{{FilterList('FICIPerformance','Reefer','UTC COLD STORE','Manual','Shift2','CI')}}</td>

                                </tr>
                                <!--OOG-->
                                <tr>
                                    <td rowspan="6" class="text-center">OOG</td>
                                    <td rowspan="2">Sampling Area</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('FICIPerformance','OOG','Sampling Area','Dog Sniffing','Shift2','CI')}}</td>
                                </tr>
                                <tr>
                                    <td>Manaul</td>
                                    <td>{{FilterList('FICIPerformance','OOG','Sampling Area','Manual','Shift2','CI')}}</td>

                                </tr>
                                <tr>
                                    <td rowspan="2">DPW-CS</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('FICIPerformance','OOG','DPW COLD STORE','Dog Sniffing','Shift2','CI')}}</td>

                                </tr>
                                <tr>
                                    <td>Manual</td>
                                    <td>{{FilterList('FICIPerformance','OOG','DPW COLD STORE','Manual','Shift2','CI')}}</td>

                                </tr>
                                <tr>
                                    <td rowspan="2">UTC-CS</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('FICIPerformance','OOG','UTC COLD STORE','Dog Sniffing','Shift2','CI')}}</td>

                                </tr>
                                <tr>
                                    <td>Manual</td>
                                    <td>{{FilterList('FICIPerformance','OOG','UTC COLD STORE','Manual','Shift2','CI')}}</td>

                                </tr>
                            </table>
                        </div>
                        <div class="Cardfooter">
                            <b>
                                Total<span class="pull-right SideBadge">{{CardTotal('FICIPerformance','CI','Shift2')}}</span>
                            </b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!--FI Shift 1-->
                <div class="col-md-6">
                    <div class="card CustomCard" ng-if="FICIPerformance!=undefined">
                        <div class="CardHead">
                            <b>FI From Inspection <span class="pull-right SideBadge">Morning Shift</span></b>
                        </div>
                        <div class="CardScroller">
                            <table class="table table-bordered m-0">

                                <tr>
                                    <th>Container Type </th>
                                    <th>Inspection Area</th>
                                    <th>Inspection Type</th>
                                    <th>Result</th>
                                </tr>
                                <!--Dry-->
                                <tr>
                                    <td rowspan="6" class="text-center">Dry</td>
                                    <td rowspan="2">Sampling Area</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('FICIPerformance','Dry','Sampling Area','Dog Sniffing','Shift1','FI')}}</td>
                                </tr>
                                <tr>
                                    <td>Manaul</td>
                                    <td>{{FilterList('FICIPerformance','Dry','Sampling Area','Manual','Shift1','FI')}}</td>

                                </tr>
                                <tr>
                                    <td rowspan="2">DPW-CS</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('FICIPerformance','Dry','DPW COLD STORE','Dog Sniffing','Shift1','FI')}}</td>

                                </tr>
                                <tr>
                                    <td>Manual</td>
                                    <td>{{FilterList('FICIPerformance','Dry','DPW COLD STORE','Manual','Shift1','FI')}}</td>

                                </tr>
                                <tr>
                                    <td rowspan="2">UTC-CS</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('FICIPerformance','Dry','UTC COLD STORE','Dog Sniffing','Shift1','FI')}}</td>

                                </tr>
                                <tr>
                                    <td>Manual</td>
                                    <td>{{FilterList('FICIPerformance','Dry','UTC COLD STORE','Manual','Shift1','FI')}}</td>

                                </tr>
                                <!--Reefer-->
                                <tr>
                                    <td rowspan="6" class="text-center">Reefer</td>
                                    <td rowspan="2">Sampling Area</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('FICIPerformance','Reefer','Sampling Area','Dog Sniffing','Shift1','FI')}}</td>
                                </tr>
                                <tr>
                                    <td>Manaul</td>
                                    <td>{{FilterList('FICIPerformance','Reefer','Sampling Area','Manual','Shift1','FI')}}</td>

                                </tr>
                                <tr>
                                    <td rowspan="2">DPW-CS</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('FICIPerformance','Reefer','DPW COLD STORE','Dog Sniffing','Shift1','FI')}}</td>

                                </tr>
                                <tr>
                                    <td>Manual</td>
                                    <td>{{FilterList('FICIPerformance','Reefer','DPW COLD STORE','Manual','Shift1','FI')}}</td>

                                </tr>
                                <tr>
                                    <td rowspan="2">UTC-CS</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('FICIPerformance','Reefer','UTC COLD STORE','Dog Sniffing','Shift1','FI')}}</td>

                                </tr>
                                <tr>
                                    <td>Manual</td>
                                    <td>{{FilterList('FICIPerformance','Reefer','UTC COLD STORE','Manual','Shift1','FI')}}</td>

                                </tr>
                                <!--OOG-->
                                <tr>
                                    <td rowspan="6" class="text-center">OOG</td>
                                    <td rowspan="2">Sampling Area</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('FICIPerformance','OOG','Sampling Area','Dog Sniffing','Shift1','FI')}}</td>
                                </tr>
                                <tr>
                                    <td>Manaul</td>
                                    <td>{{FilterList('FICIPerformance','OOG','Sampling Area','Manual','Shift1','FI')}}</td>

                                </tr>
                                <tr>
                                    <td rowspan="2">DPW-CS</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('FICIPerformance','OOG','DPW COLD STORE','Dog Sniffing','Shift1','FI')}}</td>

                                </tr>
                                <tr>
                                    <td>Manual</td>
                                    <td>{{FilterList('FICIPerformance','OOG','DPW COLD STORE','Manual','Shift1','FI')}}</td>

                                </tr>
                                <tr>
                                    <td rowspan="2">UTC-CS</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('FICIPerformance','OOG','UTC COLD STORE','Dog Sniffing','Shift1','FI')}}</td>

                                </tr>
                                <tr>
                                    <td>Manual</td>
                                    <td>{{FilterList('FICIPerformance','OOG','UTC COLD STORE','Manual','Shift1','FI')}}</td>

                                </tr>
                            </table>
                        </div>
                        <div class="Cardfooter">
                            <b>
                                Total<span class="pull-right SideBadge">{{CardTotal('FICIPerformance','FI','Shift1')}}</span>
                            </b>
                        </div>
                    </div>
                </div>
                <!--FI Shift 2-->
                <div class="col-md-6">
                    <div class="card CustomCard" ng-if="FICIPerformance!=undefined">
                        <div class="CardHead">
                            <b>FI From Inspection <span class="pull-right SideBadge">{{FICIPerformance_IsYesterdayData == true ? 'Yesteday ' : ''}}Night Shift</span></b>
                        </div>
                        <div class="CardScroller">
                            <table class="table table-bordered m-0">

                                <tr>
                                    <th>Container Type </th>
                                    <th>Inspection Area</th>
                                    <th>Inspection Type</th>
                                    <th>Result</th>
                                </tr>
                                <!--Dry-->
                                <tr>
                                    <td rowspan="6" class="text-center">Dry</td>
                                    <td rowspan="2">Sampling Area</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('FICIPerformance','Dry','Sampling Area','Dog Sniffing','Shift2','FI')}}</td>
                                </tr>
                                <tr>
                                    <td>Manaul</td>
                                    <td>{{FilterList('FICIPerformance','Dry','Sampling Area','Manual','Shift2','FI')}}</td>

                                </tr>
                                <tr>
                                    <td rowspan="2">DPW-CS</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('FICIPerformance','Dry','DPW COLD STORE','Dog Sniffing','Shift2','FI')}}</td>

                                </tr>
                                <tr>
                                    <td>Manual</td>
                                    <td>{{FilterList('FICIPerformance','Dry','DPW COLD STORE','Manual','Shift2','FI')}}</td>

                                </tr>
                                <tr>
                                    <td rowspan="2">UTC-CS</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('FICIPerformance','Dry','UTC COLD STORE','Dog Sniffing','Shift2','FI')}}</td>

                                </tr>
                                <tr>
                                    <td>Manual</td>
                                    <td>{{FilterList('FICIPerformance','Dry','UTC COLD STORE','Manual','Shift2','FI')}}</td>

                                </tr>
                                <!--Reefer-->
                                <tr>
                                    <td rowspan="6" class="text-center">Reefer</td>
                                    <td rowspan="2">Sampling Area</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('FICIPerformance','Reefer','Sampling Area','Dog Sniffing','Shift2','FI')}}</td>
                                </tr>
                                <tr>
                                    <td>Manaul</td>
                                    <td>{{FilterList('FICIPerformance','Reefer','Sampling Area','Manual','Shift2','FI')}}</td>

                                </tr>
                                <tr>
                                    <td rowspan="2">DPW-CS</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('FICIPerformance','Reefer','DPW COLD STORE','Dog Sniffing','Shift2','FI')}}</td>

                                </tr>
                                <tr>
                                    <td>Manual</td>
                                    <td>{{FilterList('FICIPerformance','Reefer','DPW COLD STORE','Manual','Shift2','FI')}}</td>

                                </tr>
                                <tr>
                                    <td rowspan="2">UTC-CS</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('FICIPerformance','Reefer','UTC COLD STORE','Dog Sniffing','Shift2','FI')}}</td>

                                </tr>
                                <tr>
                                    <td>Manual</td>
                                    <td>{{FilterList('FICIPerformance','Reefer','UTC COLD STORE','Manual','Shift2','FI')}}</td>

                                </tr>
                                <!--OOG-->
                                <tr>
                                    <td rowspan="6" class="text-center">OOG</td>
                                    <td rowspan="2">Sampling Area</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('FICIPerformance','OOG','Sampling Area','Dog Sniffing','Shift2','FI')}}</td>
                                </tr>
                                <tr>
                                    <td>Manaul</td>
                                    <td>{{FilterList('FICIPerformance','OOG','Sampling Area','Manual','Shift2','FI')}}</td>

                                </tr>
                                <tr>
                                    <td rowspan="2">DPW-CS</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('FICIPerformance','OOG','DPW COLD STORE','Dog Sniffing','Shift2','FI')}}</td>

                                </tr>
                                <tr>
                                    <td>Manual</td>
                                    <td>{{FilterList('FICIPerformance','OOG','DPW COLD STORE','Manual','Shift2','FI')}}</td>

                                </tr>
                                <tr>
                                    <td rowspan="2">UTC-CS</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('FICIPerformance','OOG','UTC COLD STORE','Dog Sniffing','Shift2','FI')}}</td>

                                </tr>
                                <tr>
                                    <td>Manual</td>
                                    <td>{{FilterList('FICIPerformance','OOG','UTC COLD STORE','Manual','Shift2','FI')}}</td>

                                </tr>
                            </table>
                        </div>
                        <div class="Cardfooter">
                            <b>
                                Total<span class="pull-right SideBadge">{{CardTotal('FICIPerformance','FI','Shift2')}}</span>
                            </b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!--Cleared Shift 1-->
                <div class="col-md-6">
                    <div class="card CustomCard" ng-if="ClearedPerformance!=undefined">
                        <div class="CardHead">
                            <b>CC Cleared Boxes by Customs<span class="pull-right SideBadge">Morning Shift</span></b>
                        </div>
                        <div class="CardScroller">
                            <table class="table table-bordered m-0">

                                <tr>
                                    <th>Container Type </th>
                                    <th>Inspection Area</th>
                                    <th>Inspection Type</th>
                                    <th>Result</th>
                                </tr>
                                <!--Dry-->
                                <tr>
                                    <td rowspan="6" class="text-center">Dry</td>
                                    <td rowspan="2">Sampling Area</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('ClearedPerformance','Dry','Sampling Area','Dog Sniffing','Shift1','Cleared')}}</td>
                                </tr>
                                <tr>
                                    <td>Manaul</td>
                                    <td>{{FilterList('ClearedPerformance','Dry','Sampling Area','Manual','Shift1','Cleared')}}</td>

                                </tr>
                                <tr>
                                    <td rowspan="2">DPW-CS</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('ClearedPerformance','Dry','DPW COLD STORE','Dog Sniffing','Shift1','Cleared')}}</td>

                                </tr>
                                <tr>
                                    <td>Manual</td>
                                    <td>{{FilterList('ClearedPerformance','Dry','DPW COLD STORE','Manual','Shift1','Cleared')}}</td>

                                </tr>
                                <tr>
                                    <td rowspan="2">UTC-CS</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('ClearedPerformance','Dry','UTC COLD STORE','Dog Sniffing','Shift1','Cleared')}}</td>

                                </tr>
                                <tr>
                                    <td>Manual</td>
                                    <td>{{FilterList('ClearedPerformance','Dry','UTC COLD STORE','Manual','Shift1','Cleared')}}</td>

                                </tr>
                                <!--Reefer-->
                                <tr>
                                    <td rowspan="6" class="text-center">Reefer</td>
                                    <td rowspan="2">Sampling Area</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('ClearedPerformance','Reefer','Sampling Area','Dog Sniffing','Shift1','Cleared')}}</td>
                                </tr>
                                <tr>
                                    <td>Manaul</td>
                                    <td>{{FilterList('ClearedPerformance','Reefer','Sampling Area','Manual','Shift1','Cleared')}}</td>

                                </tr>
                                <tr>
                                    <td rowspan="2">DPW-CS</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('ClearedPerformance','Reefer','DPW COLD STORE','Dog Sniffing','Shift1','Cleared')}}</td>

                                </tr>
                                <tr>
                                    <td>Manual</td>
                                    <td>{{FilterList('ClearedPerformance','Reefer','DPW COLD STORE','Manual','Shift1','Cleared')}}</td>

                                </tr>
                                <tr>
                                    <td rowspan="2">UTC-CS</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('ClearedPerformance','Reefer','UTC COLD STORE','Dog Sniffing','Shift1','Cleared')}}</td>

                                </tr>
                                <tr>
                                    <td>Manual</td>
                                    <td>{{FilterList('ClearedPerformance','Reefer','UTC COLD STORE','Manual','Shift1','Cleared')}}</td>

                                </tr>
                                <!--OOG-->
                                <tr>
                                    <td rowspan="6" class="text-center">OOG</td>
                                    <td rowspan="2">Sampling Area</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('ClearedPerformance','OOG','Sampling Area','Dog Sniffing','Shift1','Cleared')}}</td>
                                </tr>
                                <tr>
                                    <td>Manaul</td>
                                    <td>{{FilterList('ClearedPerformance','OOG','Sampling Area','Manual','Shift1','Cleared')}}</td>

                                </tr>
                                <tr>
                                    <td rowspan="2">DPW-CS</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('ClearedPerformance','OOG','DPW COLD STORE','Dog Sniffing','Shift1','Cleared')}}</td>

                                </tr>
                                <tr>
                                    <td>Manual</td>
                                    <td>{{FilterList('ClearedPerformance','OOG','DPW COLD STORE','Manual','Shift1','Cleared')}}</td>

                                </tr>
                                <tr>
                                    <td rowspan="2">UTC-CS</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('ClearedPerformance','OOG','UTC COLD STORE','Dog Sniffing','Shift1','Cleared')}}</td>

                                </tr>
                                <tr>
                                    <td>Manual</td>
                                    <td>{{FilterList('ClearedPerformance','OOG','UTC COLD STORE','Manual','Shift1','Cleared')}}</td>

                                </tr>
                            </table>
                        </div>
                        <div class="Cardfooter">
                            <b>
                                Total<span class="pull-right SideBadge">{{CardTotal('ClearedPerformance','Cleared','Shift1')}}</span>
                            </b>
                        </div>
                    </div>
                </div>
                <!--Cleared Shift 2-->
                <div class="col-md-6">
                    <div class="card CustomCard" ng-if="ClearedPerformance!=undefined">
                        <div class="CardHead">
                            <b>CC Cleared Boxes by Customs <span class="pull-right SideBadge">{{ClearedPerformance_IsYesterdayData == true ? 'Yesteday ' : ''}}Night Shift</span></b>
                        </div>
                        <div class="CardScroller">
                            <table class="table table-bordered m-0">
                                <!--Dry-->
                                <tr>
                                    <th>Container Type </th>
                                    <th>Inspection Area</th>
                                    <th>Inspection Type</th>
                                    <th>Result</th>
                                </tr>
                                <tr>
                                    <td rowspan="6" class="text-center">Dry</td>
                                    <td rowspan="2">Sampling Area</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('ClearedPerformance','Dry','Sampling Area','Dog Sniffing','Shift2','Cleared')}}</td>
                                </tr>
                                <tr>
                                    <td>Manaul</td>
                                    <td>{{FilterList('ClearedPerformance','Dry','Sampling Area','Manual','Shift2','Cleared')}}</td>

                                </tr>
                                <tr>
                                    <td rowspan="2">DPW-CS</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('ClearedPerformance','Dry','DPW COLD STORE','Dog Sniffing','Shift2','Cleared')}}</td>

                                </tr>
                                <tr>
                                    <td>Manual</td>
                                    <td>{{FilterList('ClearedPerformance','Dry','DPW COLD STORE','Manual','Shift2','Cleared')}}</td>

                                </tr>
                                <tr>
                                    <td rowspan="2">UTC-CS</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('ClearedPerformance','Dry','UTC COLD STORE','Dog Sniffing','Shift2','Cleared')}}</td>

                                </tr>
                                <tr>
                                    <td>Manual</td>
                                    <td>{{FilterList('ClearedPerformance','Dry','UTC COLD STORE','Manual','Shift2','Cleared')}}</td>

                                </tr>
                                <!--Reefer-->
                                <tr>
                                    <td rowspan="6" class="text-center">Reefer</td>
                                    <td rowspan="2">Sampling Area</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('ClearedPerformance','Reefer','Sampling Area','Dog Sniffing','Shift2','Cleared')}}</td>
                                </tr>
                                <tr>
                                    <td>Manaul</td>
                                    <td>{{FilterList('ClearedPerformance','Reefer','Sampling Area','Manual','Shift2','Cleared')}}</td>

                                </tr>
                                <tr>
                                    <td rowspan="2">DPW-CS</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('ClearedPerformance','Reefer','DPW COLD STORE','Dog Sniffing','Shift2','Cleared')}}</td>

                                </tr>
                                <tr>
                                    <td>Manual</td>
                                    <td>{{FilterList('ClearedPerformance','Reefer','DPW COLD STORE','Manual','Shift2','Cleared')}}</td>

                                </tr>
                                <tr>
                                    <td rowspan="2">UTC-CS</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('ClearedPerformance','Reefer','UTC COLD STORE','Dog Sniffing','Shift2','Cleared')}}</td>

                                </tr>
                                <tr>
                                    <td>Manual</td>
                                    <td>{{FilterList('ClearedPerformance','Reefer','UTC COLD STORE','Manual','Shift2','Cleared')}}</td>

                                </tr>
                                <!--OOG-->
                                <tr>
                                    <td rowspan="6" class="text-center">OOG</td>
                                    <td rowspan="2">Sampling Area</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('ClearedPerformance','OOG','Sampling Area','Dog Sniffing','Shift2','Cleared')}}</td>
                                </tr>
                                <tr>
                                    <td>Manaul</td>
                                    <td>{{FilterList('ClearedPerformance','OOG','Sampling Area','Manual','Shift2','Cleared')}}</td>

                                </tr>
                                <tr>
                                    <td rowspan="2">DPW-CS</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('ClearedPerformance','OOG','DPW COLD STORE','Dog Sniffing','Shift2','Cleared')}}</td>

                                </tr>
                                <tr>
                                    <td>Manual</td>
                                    <td>{{FilterList('ClearedPerformance','OOG','DPW COLD STORE','Manual','Shift2','Cleared')}}</td>

                                </tr>
                                <tr>
                                    <td rowspan="2">UTC-CS</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('ClearedPerformance','OOG','UTC COLD STORE','Dog Sniffing','Shift2','Cleared')}}</td>

                                </tr>
                                <tr>
                                    <td>Manual</td>
                                    <td>{{FilterList('ClearedPerformance','OOG','UTC COLD STORE','Manual','Shift2','Cleared')}}</td>

                                </tr>
                            </table>
                        </div>
                        <div class="Cardfooter">
                            <b>
                                Total<span class="pull-right SideBadge">{{CardTotal('ClearedPerformance','Cleared','Shift2')}}</span>
                            </b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!--Buidling Shift 1-->
                <div class="col-md-6">
                    <div class="card CustomCard" ng-if="RescanPerformance!=undefined">
                        <div class="CardHead">
                            <b>Rescan / Building Scan Summary<span class="pull-right SideBadge">Morning Shift</span></b>
                        </div>
                        <div class="CardScroller">
                            <table class="table table-bordered m-0">

                                <tr>
                                    <th>Container Type </th>
                                    <th>Inspection Area</th>
                                    <th>Inspection Type</th>
                                    <th>Result</th>
                                </tr>
                                <!--Dry-->
                                <tr>
                                    <td rowspan="6" class="text-center">Dry</td>
                                    <td rowspan="2">Sampling Area</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('RescanPerformance','Dry','Sampling Area','Dog Sniffing','Shift1','Scanned')}}</td>
                                </tr>
                                <tr>
                                    <td>Manaul</td>
                                    <td>{{FilterList('RescanPerformance','Dry','Sampling Area','Manual','Shift1','Scanned')}}</td>

                                </tr>
                                <tr>
                                    <td rowspan="2">DPW-CS</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('RescanPerformance','Dry','DPW COLD STORE','Dog Sniffing','Shift1','Scanned')}}</td>

                                </tr>
                                <tr>
                                    <td>Manual</td>
                                    <td>{{FilterList('RescanPerformance','Dry','DPW COLD STORE','Manual','Shift1','Scanned')}}</td>

                                </tr>
                                <tr>
                                    <td rowspan="2">UTC-CS</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('RescanPerformance','Dry','UTC COLD STORE','Dog Sniffing','Shift1','Scanned')}}</td>

                                </tr>
                                <tr>
                                    <td>Manual</td>
                                    <td>{{FilterList('RescanPerformance','Dry','UTC COLD STORE','Manual','Shift1','Scanned')}}</td>

                                </tr>
                                <!--Reefer-->
                                <tr>
                                    <td rowspan="6" class="text-center">Reefer</td>
                                    <td rowspan="2">Sampling Area</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('RescanPerformance','Reefer','Sampling Area','Dog Sniffing','Shift1','Scanned')}}</td>
                                </tr>
                                <tr>
                                    <td>Manaul</td>
                                    <td>{{FilterList('RescanPerformance','Reefer','Sampling Area','Manual','Shift1','Scanned')}}</td>

                                </tr>
                                <tr>
                                    <td rowspan="2">DPW-CS</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('RescanPerformance','Reefer','DPW COLD STORE','Dog Sniffing','Shift1','Scanned')}}</td>

                                </tr>
                                <tr>
                                    <td>Manual</td>
                                    <td>{{FilterList('RescanPerformance','Reefer','DPW COLD STORE','Manual','Shift1','Scanned')}}</td>

                                </tr>
                                <tr>
                                    <td rowspan="2">UTC-CS</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('RescanPerformance','Reefer','UTC COLD STORE','Dog Sniffing','Shift1','Scanned')}}</td>

                                </tr>
                                <tr>
                                    <td>Manual</td>
                                    <td>{{FilterList('RescanPerformance','Reefer','UTC COLD STORE','Manual','Shift1','Scanned')}}</td>

                                </tr>
                                <!--OOG-->
                                <tr>
                                    <td rowspan="6" class="text-center">OOG</td>
                                    <td rowspan="2">Sampling Area</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('RescanPerformance','OOG','Sampling Area','Dog Sniffing','Shift1','Scanned')}}</td>
                                </tr>
                                <tr>
                                    <td>Manaul</td>
                                    <td>{{FilterList('RescanPerformance','OOG','Sampling Area','Manual','Shift1','Scanned')}}</td>

                                </tr>
                                <tr>
                                    <td rowspan="2">DPW-CS</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('RescanPerformance','OOG','DPW COLD STORE','Dog Sniffing','Shift1','Scanned')}}</td>

                                </tr>
                                <tr>
                                    <td>Manual</td>
                                    <td>{{FilterList('RescanPerformance','OOG','DPW COLD STORE','Manual','Shift1','Scanned')}}</td>

                                </tr>
                                <tr>
                                    <td rowspan="2">UTC-CS</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('RescanPerformance','OOG','UTC COLD STORE','Dog Sniffing','Shift1','Scanned')}}</td>

                                </tr>
                                <tr>
                                    <td>Manual</td>
                                    <td>{{FilterList('RescanPerformance','OOG','UTC COLD STORE','Manual','Shift1','Scanned')}}</td>

                                </tr>
                            </table>
                        </div>
                        <div class="Cardfooter">
                            <b>
                                Total<span class="pull-right SideBadge">{{CardTotal('RescanPerformance','Scanned','Shift1')}}</span>
                            </b>
                        </div>
                    </div>
                </div>
                <!--Buidling Shift 2-->
                <div class="col-md-6">
                    <div class="card CustomCard" ng-if="RescanPerformance!=undefined">
                        <div class="CardHead">
                            <b>Rescan / Building Scan Summary <span class="pull-right SideBadge">{{RescanPerformance_IsYesterdayData == true ? 'Yesteday ' : ''}}Night Shift</span></b>
                        </div>
                        <div class="CardScroller">
                            <table class="table table-bordered m-0">
                                <!--Dry-->
                                <tr>
                                    <th>Container Type </th>
                                    <th>Inspection Area</th>
                                    <th>Inspection Type</th>
                                    <th>Result</th>
                                </tr>
                                <tr>
                                    <td rowspan="6" class="text-center">Dry</td>
                                    <td rowspan="2">Sampling Area</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('RescanPerformance','Dry','Sampling Area','Dog Sniffing','Shift2','Scanned')}}</td>
                                </tr>
                                <tr>
                                    <td>Manaul</td>
                                    <td>{{FilterList('RescanPerformance','Dry','Sampling Area','Manual','Shift2','Scanned')}}</td>

                                </tr>
                                <tr>
                                    <td rowspan="2">DPW-CS</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('RescanPerformance','Dry','DPW COLD STORE','Dog Sniffing','Shift2','Scanned')}}</td>

                                </tr>
                                <tr>
                                    <td>Manual</td>
                                    <td>{{FilterList('RescanPerformance','Dry','DPW COLD STORE','Manual','Shift2','Scanned')}}</td>

                                </tr>
                                <tr>
                                    <td rowspan="2">UTC-CS</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('RescanPerformance','Dry','UTC COLD STORE','Dog Sniffing','Shift2','Scanned')}}</td>

                                </tr>
                                <tr>
                                    <td>Manual</td>
                                    <td>{{FilterList('RescanPerformance','Dry','UTC COLD STORE','Manual','Shift2','Scanned')}}</td>

                                </tr>
                                <!--Reefer-->
                                <tr>
                                    <td rowspan="6" class="text-center">Reefer</td>
                                    <td rowspan="2">Sampling Area</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('RescanPerformance','Reefer','Sampling Area','Dog Sniffing','Shift2','Scanned')}}</td>
                                </tr>
                                <tr>
                                    <td>Manaul</td>
                                    <td>{{FilterList('RescanPerformance','Reefer','Sampling Area','Manual','Shift2','Scanned')}}</td>

                                </tr>
                                <tr>
                                    <td rowspan="2">DPW-CS</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('RescanPerformance','Reefer','DPW COLD STORE','Dog Sniffing','Shift2','Scanned')}}</td>

                                </tr>
                                <tr>
                                    <td>Manual</td>
                                    <td>{{FilterList('RescanPerformance','Reefer','DPW COLD STORE','Manual','Shift2','Scanned')}}</td>

                                </tr>
                                <tr>
                                    <td rowspan="2">UTC-CS</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('RescanPerformance','Reefer','UTC COLD STORE','Dog Sniffing','Shift2','Scanned')}}</td>

                                </tr>
                                <tr>
                                    <td>Manual</td>
                                    <td>{{FilterList('RescanPerformance','Reefer','UTC COLD STORE','Manual','Shift2','Scanned')}}</td>

                                </tr>
                                <!--OOG-->
                                <tr>
                                    <td rowspan="6" class="text-center">OOG</td>
                                    <td rowspan="2">Sampling Area</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('RescanPerformance','OOG','Sampling Area','Dog Sniffing','Shift2','Scanned')}}</td>
                                </tr>
                                <tr>
                                    <td>Manaul</td>
                                    <td>{{FilterList('RescanPerformance','OOG','Sampling Area','Manual','Shift2','Scanned')}}</td>

                                </tr>
                                <tr>
                                    <td rowspan="2">DPW-CS</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('RescanPerformance','OOG','DPW COLD STORE','Dog Sniffing','Shift2','Scanned')}}</td>

                                </tr>
                                <tr>
                                    <td>Manual</td>
                                    <td>{{FilterList('RescanPerformance','OOG','DPW COLD STORE','Manual','Shift2','Scanned')}}</td>

                                </tr>
                                <tr>
                                    <td rowspan="2">UTC-CS</td>
                                    <td>Dog Sniffing</td>
                                    <td>{{FilterList('RescanPerformance','OOG','UTC COLD STORE','Dog Sniffing','Shift2','Scanned')}}</td>

                                </tr>
                                <tr>
                                    <td>Manual</td>
                                    <td>{{FilterList('RescanPerformance','OOG','UTC COLD STORE','Manual','Shift2','Scanned')}}</td>

                                </tr>
                            </table>
                        </div>
                        <div class="Cardfooter">
                            <b>
                                Total<span class="pull-right SideBadge">{{CardTotal('RescanPerformance','Scanned','Shift2')}}</span>
                            </b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="View=='Summary View'" id="container" style="height: 500px; border-radius: 17px; overflow: hidden; box-shadow: 5px 12px 25px 0px rgba(0,0,0,0.1); padding: 20px; background: #f9f9f9; ">


        </div>
        <div class="modal fade bd-example-modal-lg" data-backdrop="static" data-keyboard="false" id="DownloadExcel" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" style=" max-width: 478px; min-width: 0px;">
                <div class="modal-content" style="margin-top: 65px;">
                    <div class="CloseModalBtn" data-dismiss="modal">
                        <button class="close" aria-label="Close" ng-click="reset('#DownloadExcel')"></button>
                        <i class="icon-cross"></i>
                    </div>
                    <div class="modal-header">
                        <h5 class="modal-title">Export data to excel </h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Date from</label>
                                    <div id="sandbox-container">
                                        <div class="input-group date">
                                            <input type="text" class="form-control  from" id="datefrom" placeholder="dd/mm/yyyy"><span class="input-group-addon"><i class="icon-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Date to</label>
                                    <div id="sandbox-container">
                                        <div class="input-group date">
                                            <input type="text" class="form-control  from" id="dateto" placeholder="dd/mm/yyyy"><span class="input-group-addon"><i class="icon-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="text-align:end">
                                <button class="btn btn-primary" ng-click="ExportExcel()">Export</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.12.0/js/anychart-base.min.js"></script>
<script src="~/Scripts/DatePicker/bootstrap-datepicker.js"></script>
<link href="~/Scripts/DatePicker/bootstrap-datepicker.standalone.css" rel="stylesheet" />
<link href="~/Scripts/DatePicker/bootstrap-datepicker.css" rel="stylesheet" />
<script src="~/Scripts/DatePicker/CustomIntilizeJS.js"></script>
<script>

</script>



