

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<style>
    .modal-body {
        max-height: 70vh !important;
        overflow: auto !important;
    }

    span.badge.badge-Active {
        background: #00946b;
        color: white;
    }

    span.badge.badge-Working {
        background: var( --dpw-bg-color);
        color: white;
    }

    span.badge.badge-InActive {
        background: #cd0202;
        color: white;
    }

    .badge-Blocked {
        background: #c30000;
        color: white;
    }

    .header-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .add-button {
        background-color: var( --dpw-bg-color);
        color: white;
        padding: 8px 16px;
        border: none;
        border-radius: 4px;
    }

    .CloseModalBtn {
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -12px;
        z-index: 99999999999 !important;
        text-align: center;
        top: -10px;
        width: 45px;
        text-decoration: none;
        font-weight: bold;
        box-shadow: 1px 1px 3px #000;
        transition: all .3s;
        height: 45px;
        border-radius: 50%;
        font-size: 25px !important;
        padding: 8px;
        cursor: pointer;
        background: var( --dpw-bg-color);
        z-index: 99999999999 !important;
    }

    .close {
        display: none;
    }

    .CloseModalBtn .fa-times-circle-o {
        color: #ffff !important;
    }

    .modal-content {
        background-color: #f4f2fa !important;
        border-radius: 16px !important;
        box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%), 0 12.5px 10px rgb(0 0 0 / 6%), 0 22.3px 17.9px rgb(0 0 0 / 7%), 0 41.8px 33.4px rgb(255 255 255 / 9%), 0 100px 80px rgb(255 255 255 / 12%);
    }

    .modal-header {
        text-align: center;
        border-bottom: none !important;
        justify-content: center !important;
    }

    .modal-title {
        font-weight: bolder !important;
        font-size: 24px;
        padding-top: 12px;
        padding-bottom: 4px;
        display: inline-block;
    }

    .modal-footer {
        border-top: none !important;
        align-content: center;
        text-align: center;
    }
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

</head>
<body>
    <div class="ng-cloak" ng-cloak ng-controller="LA_RequiredLaborCtrl" ng-init="init()">
        <div class="card mt-2 d-flex">
            <div class="card-body">
                <div class="header-row">
                    <h2>Required Labor</h2>
                    <div>
                        <input type="button" class="btn btn-secondary" value="Filters" data-toggle="collapse" data-target="#demo" />
                        <button class="add-button" ng-click="OpenAddRequiredLabor()"><i class="icon-add m-r-5 text-white"></i> Add</button>
                    </div>
                </div>
            </div>
        </div>

        <!--Search Filter Code Start-->
        <div class="card collapse" id="demo">
            <div class="card-body">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" ng-model="Search.Name" placeholder="Enter name" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Number</label>
                                <input type="text" class="form-control" ng-model="Search.Number" placeholder="Enter number" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>IP Address</label>
                                <input type="text" class="form-control" ng-model="Search.IP_Address" placeholder="Enter ip address" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Status</label>
                                <select data-placeholder="Status" class="form-control select-clear" id="select_status_8" ng-model="Search.Status">
                                    <option></option>
                                    @*<option value="" selected hidden disabled>Select Status</option>*@
                                    <option ng-value="'Active'">Active</option>
                                    <option ng-value="'InActive'">InActive</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12 mt-4">

                            <button class="btn btn-secondary pull-right mr-2" ng-click="ClearFilter(Search)">Clear</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="row">
            <div id="tblrep" class="card table-card scrollbar">
                <table class="table datatable-show-all text-center" id="table-id">
                    <thead>
                        <tr class="table-card-head">
                            <th>SR#</th>
                            <th>Size</th>
                            <th>RequiredLabor</th>
                            <th>DTS</th>
                            <th>Created At</th>
                            <th>Created By</th>
                            <th>Updated At</th>
                            <th>Updated By</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody class="ng-cloak" ng-cloak>
                        <tr ng-repeat="item in RequiredLaborList | filter:Search">
                            <td>{{$index+1}}</td>
                            <td>{{item.Size}}</td>
                            <td>{{item.Labor}}</td>
                            <td>
                                <span ng-show="item.DTS==true"><i class="icon-check"></i></span>
                                <span ng-show="item.DTS==false"><i class="icon-cross"></i></span>
                            </td>
                            <td>{{item.CreatedAt | date :'dd/MM/yyyy HH:mm:ss'}}</td>
                            <td>{{item.CreatedBy}}</td>
                            <td>{{(item.UpdatedAt | date :'dd/MM/yyyy HH:mm:ss') || '-'}}</td>
                            <td>{{item.UpdatedBy || '-'}}</td>
                            <td><i class="icon-pencil" title="Click to Update" ng-click="OpenEditRequiredLabor(item)"></i></td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
       
        <!--modal-->
        <div class="modal fade" id="AddRequiredlabor" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
                <div class="modal-content" style="overflow:visible !important">
                    <div class="CloseModalBtn" data-dismiss="modal">
                        <button class="close" data-dismiss="modal" aria-label="Close"></button>
                        <i class="icon-cross"></i>
                    </div>
                    <div class="modal-header">
                        <h5 class="modal-title">Add required labor</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class=" Starick">Size</label>
                                    <input type="text" ng-model="RequiredLaborObj.Size" name="name" value="" class="form-control" placeholder="Enter the container size" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class=" Starick">Required labor</label>
                                    <input type="text" ng-model="RequiredLaborObj.RequiredLabor" name="name" value="" class="form-control" placeholder="Enter the required labor" />
                                </div>
                            </div> 
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class=" Starick">DTS</label>
                                    <input type="checkbox" ng-model="RequiredLaborObj.DTS"  name="name" value=""  />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-md-12" style="text-align:end;">
                                <button class="btn btn-success" ng-click="AddRequiredLabor(RequiredLaborObj)">
                                    Submit
                                </button>
                                <button class="btn btn-primary" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="EditRequiredLabor" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
                <div class="modal-content" style="overflow:visible !important">
                    <div class="CloseModalBtn" data-dismiss="modal">
                        <button class="close" data-dismiss="modal" aria-label="Close"></button>
                        <i class="icon-cross"></i>
                    </div>
                    <div class="modal-header">
                        <h5 class="modal-title">Edit Required Labor</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class=" Starick">Size</label>
                                    <input type="text" ng-model="EditRequiredLaborObj.Size" name="name" value="" class="form-control" placeholder="Enter the container size" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class=" Starick">Required labor</label>
                                    <input type="text" ng-model="EditRequiredLaborObj.RequiredLabor" name="name" value="" class="form-control" placeholder="Enter the required labor" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class=" Starick">DTS</label>
                                    <input type="checkbox" ng-model="EditRequiredLaborObj.DTS" ng-checked="EditRequiredLaborObj.DTS==true" name="name" value="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-md-12" style="text-align:end;">
                                <button class="btn btn-success" ng-click="UpdateRequiredLabor(EditRequiredLaborObj)">
                                    Submit
                                </button>
                                <button class="btn btn-primary" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--modal-->


    </div>
    <!--pagination Code End-->
</body>
</html>
<script src="~/Scripts/DatePicker/CustomIntilizeJS.js"></script>
<script src="~/Scripts/jquery.min.js"></script>
