@using ExamPortal.Model.Resources
@{
    ViewBag.Title = "Index";
}
<style type="text/css">
    
table
{
    text-align:center;
}
      label,tbody,.btn{
          font-weight: 500!important;
      }
           .active{
        background-color:#00be5e;
    }
</style>
<link href="~/Content/css/PaganationStyleSheetCustom.css" rel="stylesheet" />
<div ng-controller="UsersCtr" ng-init="init()" class="ng-cloak" ng-cloak>
    <div class="page-header border-bottom-0">
        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4><i class="icon-users mr-2 mr-2"></i> <span class="font-weight-semibold">Users</span> <a href="/Content/UserGuide/User Help.pdf" class="btn m-r-5" title="User Help" target="_blank"> <i class="icon-help" aria-hidden="true" style="color:#00946b;font-size:19px;"></i></a>

            </div>
            <div class="page-title d-flex">

                <input type="button" class="btn btn-secondary  pull-right mr-2" value="Filters" data-toggle="collapse" data-target="#demo" />

                <a href="@Url.Action("RegisterUser","Account")" class="btn btn-primary pull-right">Add</a>
            </div>
        </div>
    </div><hr />

    <div class="col-md-12 collapse" id="demo">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>User Id</label>
                            <input type="text" class="form-control" placeholder="Id" ng-model="search.Id" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" placeholder="Name" ng-model="search.FullName" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control" placeholder="Email" ng-model="search.Email" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Login Id</label>
                            <input type="text" class="form-control" placeholder="Login Id" ng-model="search.LoginId" />
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Employee ID</label>
                            <select data-placeholder="Status" class="form-control select-clear" ng-model="search.Status" data-fouc>
                                <option></option>
                                <option value="true">Active</option>
                                <option value="false">NotActive</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Status</label>
                            <select data-placeholder="Status" class="form-control select-clear" ng-model="search.Status" data-fouc>
                                <option></option>
                                <option value="true">Active</option>
                                <option value="false">NotActive</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Applications</label>
                            <select data-placeholder="Applications" class="form-control select-clear" ng-model="search.UsersApplication" data-fouc>
                                <option hidden disabled selected value="">Select Application</option>
                                <option ng-repeat="a in AppList" value="{{a.AppName}}">{{a.AppName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>User Role</label>
                            <select data-placeholder="User Role" ng-model="search.UserType" class="form-control select-clear" required data-fouc>
                                <option hidden disabled selected value="">Select User Role</option>
                                <optgroup label="Common Role">
                                    <option ng-repeat="r in Roles" value="{{r.Text}}">{{r.Text}}</option>
                                </optgroup>

                            </select>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 offset-9">
                        <div class="form-group">
                            <input type="button" onclick="reload()" class="btn btn-theme-gray m-t-19 pull-right" value="Reset" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- /page header -->
    <!-- Item Counter -->
    <div class="row blurbg">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="CounterCard">
                <b>Total item: </b>  <span id="counts">{{UserList.length}}</span>
            </div>
        </div>
    </div>
    <!-- /Item Counter -->
    <!-- Basic datatable -->
    <div class="row">
        <div class="card table-card scrollbar">
            <table class="table datatable-show-all" id="table-id">
                <thead>
                    <tr class="table-card-head">
                        <th>User Id</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Login Id</th>
                        <th>User Role</th>
                        <th>Applications</th>
                        <th>Status</th>
                        <th>Lock Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in UserList  | filter :search" @*ng-if="user.UserType=2 && user.UserType!=3"*@>
                        <td>{{user.Id}}</td>
                        <td>{{user.FullName}}</td>
                        <td>{{user.Email}}</td>
                        <td>{{user.LoginId}}</td>
                        <td>
                            <span ng-repeat="s in user.UserType">{{$index+1}}) {{s}}<br /></span>
                        </td>
                        <td>
                            <span ng-repeat="s in user.UsersApplication">{{$index+1}}) {{s}}<br /></span>
                        </td>

                        <td>
                            <span ng-if="user.Status == true" class="badge badge-success">Active</span>
                            <span ng-if="user.Status == false" class="badge badge-danger">NotActive</span>
                        </td>

                        <td>
                            <span ng-if="user.LockoutEnabled == true" class="badge badge-success">Locked</span>                            
                        </td>
                        <td>
                            <div class="list-icons">
                                <a @*href="/Users/Edit?Id={{user.Id}}"*@ ng-click="EditHref(user.Id)" class="list-icons-item color-gray"><i class="icon-pencil7" title="Edit"></i></a>
                                <a ng-show="user.UserType.includes('ForkliftOperator') || user.UserType.includes('FK_DTSOperator') && user.LoggedIn==true" ng-click="ReleaseLock(user.Id,user.FullName)" class="list-icons-item color-gray"><i class="icon-switch" title="Log out"></i></a>

                                <a @*href="/Users/ResetPassword?Id={{user.Id}}"*@ ng-click="ResetHref(user.Id)" class="list-icons-item text-default"><i class="icon-key" title="Change Password"></i></a>
                                <a ng-click="ResetLock(user.AspNetUserId)" ng-if="user.LockoutEnabled == true" class="list-icons-item text-default text-danger"><i class="icon-user-lock" title="Unlock user account"></i></a>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>
    <!--pagination Code Start-->
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Select Rows</label>
                <select data-placeholder="Select Rows" name="state" id="maxRows" class="form-control select-clear" data-fouc>
                    <option></option>
                    <option value="5000">All Rows</option>
                    <option value="4">4</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="70">70</option>
                    <option value="100">100</option>

                </select>
            </div>
        </div>
        <div class='pagination-container' style="position: absolute;
    right: 25px;">
            <nav>
                <ul class="pagination">

                    <li data-page="prev">
                        <span> < <span class="sr-only">(current)</span></span>
                    </li>
                    <!--	Here the JS Function Will Add the Rows -->
                    <li data-page="next" id="prev">
                        <span> > <span class="sr-only">(current)</span></span>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!--pagination Code End-->
    <!-- /basic datatable -->
</div>

<script type="text/javascript">
    function reload()
    {
        location.reload();
    }
</script>
<script src="@Url.Content("~/Scripts/crypto-js.min.js")"></script>
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/PaganationScriptCustom.js"></script>
<script>

    $(document).ready(function () {
        getPagination('#table-id');

    });
    //Hide Side Menu
    window.onload = function () {
        document.getElementById('minisidebar').className = 'sidebar-xs';
    };
</script>

<script>
    var element = document.getElementById('UsersPage');
    element.classList.add("active");
//Auto Refresh
    function CheckPageVersion() {
        return "UsersIndexVersion," + "1";
    }

</script>