<style>

    .jqueryConfrim .modal-content {
        border-top: solid 7px #3498db;
        border-radius: 6px !IMPORTANT;
        background: white !important;
    }

    .jqueryConfrim .modal-header h5 {
        font-size: 22px;
    }

    .jqueryConfrim .modal-header {
        justify-content: center !important;
    }

    .jqueryConfrim .btn-primary {
        background: #3498db;
        padding: 5px 11px;
        text-transform: uppercase;
    }

    .jqueryConfrim .btn-reset {
        background: #363636;
        padding: 5px 11px;
        text-transform: uppercase;
    }

    @@keyframes zoomIn {
        0% {
            opacity: 0;
            -webkit-transform: scale3d(.3, .3, .3);
            transform: scale3d(.3, .3, .3);
        }

        50% {
            opacity: 1;
        }
    }

    .ZoominAnimate {
        animation: zoomIn 0.2s linear;
    }

    #overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #111111de;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
        display: none;
        overflow: scroll;
    }

        #overlay img {
            max-width: 90%;
            max-height: 90%;
            transition: transform 0.5s ease;
        }

    #close-btn {
        position: absolute;
        top: 15px;
        right: 15px;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }

    #ReeferCheckListSection .modal .img-thumbnail {
        border: 2px solid var( --dpw-bg-color);
    }

    #ReeferCheckListSection .modal .img-thumbnail {
        border: 2px solid var( --dpw-bg-color);
    }

    #ReeferCheckListSection .modal i {
        position: absolute;
        top: 5px;
        right: 15px;
        cursor: pointer;
        font-size: 18px;
        background: #fff;
        border: 1px solid red;
        padding: 4px;
        border-radius: 8px;
    }
    .modal textarea {
        overflow: auto;
        resize: none;
        width: 100%;
        border: none !important;
    }
    .modal textarea:focus-visible{
        outline:none;
    }
    .Modal-table th {
        background: #0b1d32d6;
        color: #fff;
    }
</style>



<!--Modal to upload attachments for reefer checklist item-->
<div class="modal ZoominAnimate jqueryConfrim" id="AttachmentModal" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="exampleModalCenterTitle">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 32%">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="">
                    <b>Attachments!</b>
                </h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Upload Attachments (Maximum 2 Images)</label>
                            <input type="file" multiple accept="image/*" id="imageUpload" class="form-control-file"
                                   onchange="angular.element(this).scope().previewImages(this.files)" />
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-3 mb-2" ng-repeat="img in imagePreviews">
                        <img ng-src="{{img}}" class="img-thumbnail" style="height: 150px; width: 100%; object-fit: cover;" ng-click="OpenImageView(img)" />
                        <!-- Delete Icon -->
                        <i class="icon-bin2 text-danger"
                           ng-click="RemoveImage($index)"
                           title="Remove image">
                        </i>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style=" padding: 9px; ">
                <button class="btn btn-reset" data-dismiss="modal">Close</button>
                <button class="btn btn-primary pull-right" data-dismiss="modal" ng-click="SaveCntrAttachments()">Submit</button>
            </div>
        </div>
    </div>
</div>


<!--Modal to upload attachments for reefer checklist item end-->


<!--Modal to update department email on checklist submission-->
<div class="modal ZoominAnimate jqueryConfrim" id="MissDepartmentModal" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="exampleModalCenterTitle">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 32%">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="">
                    <b>Department email confirmation!</b>
                </h6>
            </div>
            <div class="modal-body">
                <p>It looks like the email address for the department is missing in the system.</p>
                <small class="text-danger">Please enter a valid department email to proceed.</small>
                <div class="Modal-table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Department</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in MissingDepartArr">
                                <td>{{item.Department}}</td>
                                <td class="p-0">
                                    <textarea rows="4" ng-model="item.Email"></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="modal-footer" style=" padding: 9px; ">
                <button class="btn btn-reset" data-dismiss="modal">Close</button>
                <button class="btn btn-primary pull-right" data-dismiss="modal" ng-click="SaveMissingDepartmentEmails()">Submit</button>
            </div>
        </div>
    </div>
</div>
<!--Modal to update department email on checklist submission end-->
