

@{

    Layout = "~/Views/Shared/_EmailLayoutUpdated.cshtml";
}


<style>
    table {
        border: none;
        width: 100%;
    }

    .notification-content {
        padding: 8px 16px;
    }

    td {
        width: 100%;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    .english {
        text-align: left;
        white-space: nowrap;
    }

    .arabic {
        text-align: right;
        white-space: nowrap;
    }

    .pilatwidefont {
        font-family: 'Pilat Wide Light';
    }
</style>
<table style="width:100%">
    <tr>

        <td class="notification-content english" style="font-family: 'Pilat Wide Light';width:50%; ">
            <div>
                @Model.Message .
                <br />
                Click <a href="@Model.link"> here </a> to approve
            </div>
        </td>
    </tr>
</table>





